main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  height: calc(100% - var(--altura-header));
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  transition: padding .2s ease-in-out;
  overflow-y: auto;
}

@media only screen and (hover: hover) and (pointer: fine) {
  main {
    scrollbar-color: var(--color-primario-500) var(--color-fondo-600);
  }

  .oscuro main {
    scrollbar-color: var(--color-primario-800) var(--color-fondo-600);
  }
}

main .titulo {
  font-weight: bold;
  font-size: 1.25rem;
}

main .desc {
  color: var(--texto-sutil);
}

#pestaña-indicador {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin-top: 1rem;
  transition: none;
  max-height: max-content;
}

#pestaña-indicador.htmx-request {
  display: flex;
}

#pestaña-indicador.htmx-request+.contenido {
  display: none;
}

#pestaña-indicador .indicador {
  height: 2.5rem;
  width: 2.5rem;
  border-width: 4px;
}

#pestaña-indicador p {
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  main {
    padding: 1.25rem;
  }
}

@media screen and (min-width: 600px) {
  main {
    padding: 1.75rem;
  }
}

@media screen and (max-width: 700px) {
  main .titulo {
    margin-bottom: .25rem;
  }

  main .desc {
    font-size: .9rem;
  }
}

@media screen and (min-width: 700px) {
  main {
    display: grid;
    padding: 1.5rem;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    width: max-content;
    min-width: 700px;
    padding: 2rem;
    overflow-y: unset;
  }

  #pestañas {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }

  #pestañas,
  #pestañas .lista-pestañas {
    height: 100%;
  }

  main>*:not(#pestañas) {
    grid-column: 1 / 2;
  }

  main>hgroup {
    padding-left: .375rem;
    border-bottom: 1px solid var(--transparente-2);
    padding-bottom: .5rem;
  }

  main>.contenido {
    max-height: 100%;
    overflow: auto;
  }
}