{% extends "base.html" %}
{% load static %}
{% load utilidades %}
{% load partials %}
{% load sekizai_tags %}
{% load widget_tweaks %}
{% load grupos_variantes %}

{% block titulo %}
  Lista de {{ view.nombre_objeto_plural }}
{% endblock %}

{% block cabeza %}
  {% if permisos.eliminar or permisos.editar %}
    <link rel="stylesheet" href="{% static 'css/componentes/dialog.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/componentes/htmx-indicator.css' %}"
    />

    <script defer src="{% static 'js/htmx.min.js' %}"></script>
    <script defer src="{% static 'js/htmx-error-solicitudes.js' %}"></script>
    <script defer src="{% static 'js/alpine-dialog.min.js' %}"></script>
  {% endif %}

  {% if form_filtros %}
    <link rel="stylesheet" href="{% static 'css/componentes/menu.css' %}" />
  {% endif %}
{% endblock cabeza %}

{% block contenido %}
  <main
    class="{{ main_class }}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-target="#tabla-objetos"
    hx-swap="outerHTML"
    x-data="{ modalAbierto: null }"
    {% if form_filtros %}
      hx-indicator="#indicador-busqueda" hx-include=".incluido-filtros"
    {% endif %}
  >
    {% if not form_filtros and lista_objetos|length == 0 %}
      <div
        id="tabla-objetos"
        role="alert"
        class="ui-caja col aic gap-y-6 max-w-[400px] max-h-max ma flex-1 p-5 px-6 tac text-balance"
      >
        <span
          class="rounded-full aspect-square size-min-[5rem] p-3 bg-primario-50 dark:bg-primario-800 text-primario-600 dark:text-primario-100 [&>svg]:size-full"
        >
          {% include "componentes/iconos/tabla.html#sin_notas" %}
        </span>

        <hgroup class="col gap-y-2">
          {% block sin_resultados %}
            <h2 class="font-bold text-xl">
              No se encontraron {{ view.nombre_objeto_plural }}
            </h2>
          {% endblock %}
        </hgroup>
      </div>
    {% else %}
      {% block cabecera %}
        <header
          {% with c="col gap-y-2 gap-x-5 min-[600px]:(flex-row aic jb)"|expandir_variantes %}
            {% if view.total is not None or view.is_paginated %}
              class="{{ c|add:' min-[600px]:(pb-2 border-b border-[--transparente-2])'|expandir_variantes }}"
            {% else %}
              class="{{ c|add:' pb-2 border-b border-[--transparente-2]' }}"
            {% endif %}
          {% endwith %}
        >
          <div
            {% with c="flex aic gap-x-4" %}
              {% if view.total is not None or view.is_paginated %}
                class="{{ c|add:' max-[600px]:jb min-[600px]:flex-row-reverse' }}"
              {% else %}
                class="{{ c|add:' flex-1 jb' }}"
              {% endif %}
            {% endwith %}
          >
            <h1
              {% with c="text-lg font-bold min-[500px]:text-xl" %}
                {% if view.total is None and not view.is_paginated %}
                  class="{{ c|add:' flex-1' }}"
                {% else %}
                  class="{{ c }}"
                {% endif %}
              {% endwith %}
            >
              Lista de {{ view.nombre_objeto_plural }}
            </h1>

            <hr
              class="max-[600px]:hidden h-6 w-1px border-0 bg-[--transparente-2]"
            />

            {% if permisos.crear and nombre_url_crear %}
              <a
                class="ui-btn ui-btn/primario rounded-full p-1.25 size-7 text-sm"
                href="{% url nombre_url_crear %}"
                aria-label="Añadir {{ view.nombre_objeto }}"
              >
                {% include "componentes/iconos/edicion.html#suma" with class="" %}
              </a>
            {% endif %}
          </div>

          {% if view.total is not None or view.is_paginated %}
            <div
              class="{{ 'flex gap-2 max-[600px]:(border-t border-t-[--transparente-2] pt-3)'|expandir_variantes }}"
            >
              {% with label="Totales:"  icono='total' %}
                {% if view.total is not None %}
                  {% with dato=view.total %}
                    {% partial cantidad %}
                  {% endwith %}
                {% else %}
                  {% with dato=page_obj.paginator.count %}
                    {% partial cantidad %}
                  {% endwith %}
                {% endif %}
              {% endwith %}

              {% if form_filtros %}
                {% with label="Filtrad"|add:view.vocal_del_genero|add:"s:" dato_id="filtrados-cantidad" dato=page_obj.paginator.count icono='conjunto' %}
                  {% partial cantidad %}
                {% endwith %}
              {% endif %}
            </div>
          {% endif %}
        </header>
      {% endblock cabecera %}

      {% if form_filtros %}
        <input
          class="incluido-filtros"
          type="hidden"
          name="solo_tabla"
          value="true"
        />

        <div
          class="{{ 'tabla-contenido col gap-y-2 flex-1 h-full overflow-y-auto [@media_all_and_(display-mode:fullscreen)]:(p-4 bg-fondo-300)'|expandir_variantes }}"
        >
          {% block filtros %}
            <div role="group" class="flex gap-x-1">
              {% partialdef barra_busqueda inline %}
                <label
                  class="flex flex-1 rounded-campo ui-elevado outline-#0000 outline-2 -outline-offset-1 focus-within:outline-current max-[500px]:text-sm"
                >
                  <span class="sr-only">
                    {{ form_filtros.q.label|default:"Buscar" }}
                  </span>

                  <span
                    class="fc min-w-8 border-r border-[--transparente-2] rounded-l-campo bg-fondo-700"
                  >
                    <div
                      role="alert"
                      id="indicador-busqueda"
                      aria-label="Buscando..."
                      class="htmx-indicator peer"
                    ></div>
                    <div
                      class="ui-loader ui-loader/primario peer-not-[.htmx-request]:hidden"
                    ></div>

                    {% include "componentes/iconos/tabla.html#lupa" with class="peer-[.htmx-request]:hidden size-4 text-texto-sutil" %}
                  </span>

                  {% with c=input_busqueda_class|default:'flex-1 p-[.25rem_.75rem] outline-0'|add:' incluido-filtros' %}
                    {% render_field form_filtros.q class=c %}
                  {% endwith %}
                </label>
              {% endpartialdef barra_busqueda %}

              <details
                class="menu z-4 [&_details[open]]:z-4 [&_label]:text-texto-sutil"
                x-data="{ abierto: false }"
                :open="abierto"
                @click.outside="abierto = false"
                @keydown.escape="abierto = false"
              >
                <summary
                  class="ui-btn ui-elevado h-full min-w-9"
                  aria-label="configuración de búsqueda"
                  @click.prevent="abierto = !abierto"
                >
                  {% include "componentes/iconos/tabla.html#config" %}
                </summary>

                <div
                  class="contenido-menu col gap-y-5 p-3 px-4 rounded-tr-0! top-108% right-0"
                >
                  {% block menu_config %}
                  {% endblock menu_config %}
                </div>
              </details>

              {% partialdef btn_pantalla_completa inline %}
                <button
                  class="ui-btn ui-elevado min-h-full min-w-8"
                  aria-label="Ver tabla en pantalla completa"
                  x-data="{ pantallaCompleta: false }"
                  @click="{{
                    "
                      !document.fullscreenElement
                        ? window.$('.tabla-contenido').requestFullscreen()
                          .then(() => (pantallaCompleta = true))
                          .catch(() => pantallaCompleta = false)
                        : document.exitFullscreen()
                            .then(() => (pantallaCompleta = false))
                            .catch(() => pantallaCompleta = true)
                    "|reemplazar_espacios:''
                  }}"
                >
                  <svg
                    x-show="!pantallaCompleta"
                    class="size-5"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M5 5h5V3H3v7h2zm5 14H5v-5H3v7h7zm11-5h-2v5h-5v2h7zm-2-4h2V3h-7v2h5z"
                    ></path>
                  </svg>

                  <svg
                    x-show="pantallaCompleta"
                    x-cloak
                    class="size-6"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M10 4H8v4H4v2h6zM8 20h2v-6H4v2h4zm12-6h-6v6h2v-4h4zm0-6h-4V4h-2v6h6z"
                    ></path>
                  </svg>
                </button>
              {% endpartialdef btn_pantalla_completa %}
            </div>
          {% endblock filtros %}
          {% partial tabla %}
        </div>
      {% else %}
        {% partial tabla %}
      {% endif %}

      {%
        with
        dialog_class="ui-caja max-w-400px"
        div_class="col gap-y-6 p-4 px-5"
        btns_class="flex gap-x-2 *:flex-1"
        cancelar_class="deshabilitar-al-subir ui-btn ui-btn/borde ui-btn/md"
        subir_class="deshabilitar-al-subir ui-btn ui-btn/md peer-[:not(.htmx-request)]:[&>.ui-loader]:hidden"
      %}
        {% block modales %}
          {% if permisos.eliminar %}
            <dialog
              class="{{ dialog_class }}"
              x-show="modalAbierto === 'eliminar'"
              x-htmldialog="modalAbierto = null"
              @click="$event.target === $event.currentTarget && (modalAbierto = null)"
            >
              <div class="{{ div_class }}">
                <hgroup class="col gap-y-3">
                  <h1 class="text-lg font-bold tac">Confirmar eliminación</h1>
                  <p class="text-texto-sutil">
                    ¿Realmente deseas eliminar
                    {{ view.articulo_sustantivo_plural }}
                    {{ view.nombre_objeto_plural }}
                    seleccionad{{ view.vocal_del_genero }}s?
                  </p>
                </hgroup>

                {% if modelos_relacionados|length > 0 %}
                  <div class="col gap-y-2">
                    {% with texto="También se verán afectados los modelos:" %}
                      {% partialdef consecuencia_p inline %}
                        <p
                          class="flex gap-2 text-advertencia-600 dark:text-advertencia-400"
                        >
                          <span
                            class="fc rounded-full p-1.25 aspect-square text-advertencia bg-advertencia-200 dark:bg-advertencia-900 size-7"
                          >
                            {% include "componentes/iconos/mensajes.html#alerta" with class="" %}
                          </span>
                          {{ texto }}
                        </p>
                      {% endpartialdef consecuencia_p %}
                    {% endwith %}
                    <ul class="list-disc list-inside">
                      {% for m in modelos_relacionados %}
                        <li class="font-500 pl-3 first-letter:capitalize">
                          {{ m }}{% if not forloop.last %},{% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  {% with texto="Todos sus elementos relacionados también serán eliminados" %}
                    {% partial consecuencia_p %}
                  {% endwith %}
                {% endif %}

                <div class="{{ btns_class }}" role="group">
                  <button
                    class="{{ cancelar_class }}"
                    @click="modalAbierto = null"
                  >
                    No eliminar
                  </button>

                  <div
                    role="alert"
                    id="indicador-eliminar"
                    class="htmx-indicator peer sr-only"
                  >
                    Eliminando...
                  </div>

                  <button
                    class="{{ subir_class|add:' ui-btn/peligro' }}"
                    hx-delete
                    hx-indicator="#indicador-eliminar"
                    hx-disabled-elt=".deshabilitar-al-subir"
                    hx-vals="js:{ ids: Array.from(Alpine.$data($('table')).filasSeleccionadas) }"
                    @htmx:after-request.window="$event.target === $el && (modalAbierto = null)"
                  >
                    <div class="ui-loader ui-loader/blanco"></div>
                    Sí, eliminar
                  </button>
                </div>
              </div>
            </dialog>
          {% endif %}
        {% endblock modales %}
      {% endwith %}
    {% endif %}
  </main>
{% endblock contenido %}

{# Este parcial define la tabla y se debe usar en la plantilla extendida para definir su propio parcial de la tabla, por si se debe cambiar luego de una petición #}
{% partialdef tabla %}
  {# no hay objetos con los filtros seleccionados #}
  {% if lista_objetos|length == 0 %}
    <div
      id="tabla-objetos"
      role="alert"
      class="ui-caja col aic gap-y-6 max-w-[400px] max-h-max ma flex-1 p-5 px-6 tac text-balance"
    >
      <span
        class="rounded-full aspect-square size-min-[5rem] p-3 bg-primario-50 dark:bg-primario-800 text-primario-600 dark:text-primario-100 [&>svg]:size-full"
      >
        {% include "componentes/iconos/tabla.html#sin_notas" %}
      </span>

      <hgroup class="col gap-y-2">
        {% block sin_resultados_filtros %}
          <h2 class="font-bold text-[1.2rem]">
            No se encontraron {{ view.nombre_objeto_plural }}
          </h2>
          <p class="text-texto-sutil">
            Intenta cambiar los filtros o buscar algo distinto
          </p>
        {% endblock %}
      </hgroup>
    </div>
  {% else %}
    {%
      include "componentes/tabla-adaptable.html" with
      contenedor_class=contenedor_class|default_if_none:"flex-1 overflow-y-auto"
      columnas=view.columnas_mostradas
      columnas_ocultables=view.columnas_ocultables
      titulo_col_actual=titulo_col_actual|default_if_none:view.columnas_ocultables.0
      url_parcial_td_contenido=view.template_name|add:'#datos_td'
      url_parcial_acciones=view.template_name|add:'#acciones'
      tabla_contenedor_id="tabla-objetos"
    %}
  {% endif %}

  {# actualizar la cantidad de resultados #}
  {% if view.form_filtros and tabla_reemplazada_por_htmx and view.is_paginated %}
    <span hx-swap-oob="innerHTML:#filtrados-cantidad">
      {{ page_obj.paginator.count }}
    </span>
  {% endif %}
{% endpartialdef tabla %}

{% partialdef script_fn_verificar_click_reiniciar %}
  {# Para que se haga la petición al hacer click en el botón de reiniciar de algún combobox en el form de los filtros #}
  <script>
    function verificarClickEnReiniciar() {
      return (
        event.target !== event.currentTarget &&
        event.target.closest("[data-btn-reiniciar]") instanceof
          HTMLButtonElement
      );
    }
  </script>
{% endpartialdef script_fn_verificar_click_reiniciar %}

{% partialdef respuesta_cambios_tabla %}
  {% with url_tabla_parcial=view.template_name|add:"#tabla" %}
    {# El parcial de la tabla devuelta al cambiar sus datos debe definirse en la plantilla extendida #}
    {% include url_tabla_parcial %}
    {% include "componentes/mensajes.html#como_respuesta" %}
  {% endwith %}
{% endpartialdef respuesta_cambios_tabla %}

{% partialdef acciones %}
  {% if permisos.eliminar %}
    <button
      id="eliminar-btn"
      role="menuitem"
      class="{{ accion_btn_class }}"
      aria-haspopup="dialog"
      :aria-expanded="modalAbierto === 'eliminar'"
      @click="modalAbierto = 'eliminar'"
      :disabled="filasSeleccionadas.size === 0"
    >
      {% include "componentes/iconos/edicion.html#borrar" with class="size-4" %}
      Eliminar...
    </button>
  {% endif %}

  {% if permisos.editar %}
    <a
      role="menuitem"
      class="{{ accion_btn_class }}"
      :href="
        filasSeleccionadas.size === 1
          ? 'editar/'+filasSeleccionadas.values().next().value
          : false
      "
      :aria-disabled="filasSeleccionadas.size !== 1"
    >
      {% include "componentes/iconos/edicion.html#lapiz" with class="size-4" %}
      Editar
    </a>
  {% endif %}
{% endpartialdef acciones %}

{% partialdef cantidad %}
  <div
    role="status"
    class="{{ "ui-caja flex aic gap-x-2 p-1.5 px-3 flex-1 max-[500px]:text-sm min-[500px]:(gap-x-3 py-2)"|expandir_variantes }}"
  >
    <span
      class="inline-flex aic jcc rounded size-5 p-1 bg-secundario text-secundario-texto dark:bg-secundario-600 min-[500px]:size-6"
    >
      {% include "componentes/iconos/tabla.html#"|add:icono %}
    </span>
    <p class="text-texto-sutil">{{ label }}</p>
    <b id="{{ dato_id }}" class="mla">{{ dato }}</b>
  </div>
{% endpartialdef cantidad %}
