{% extends "base.html" %}

{% block titulo %}Asignaturas{% endblock titulo %}
{% load static %}
{% load utilidades_diccionario %}

{% block cabeza %}
  <link rel="stylesheet" href="{% static 'css/materias.css' %}" />
  <link rel="stylesheet" href="{% static 'css/componentes/tabla.css' %}" />
{% endblock cabeza %}

{% block contenido %}
  <section>
    <div id="titulo-container" class="flex-center">
      <h1 id="titulo">Lista de asignaturas</h1>

      {% if perms.estudios.add_materia %}
        <a
          class="btn-primario btn-sm"
          id="nueva-asignatura"
          href="/admin/estudios/materia/add/"
          aria-label="Añadir nueva asignatura"
        >
          añadir
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 5l0 14" />
            <path d="M5 12l14 0" />
          </svg>
        </a>
      {% endif %}
    </div>

    <div class="wrapper">
      <table>
        <caption>
          Materias y los años en los que se imparten
        </caption>
        <thead>
          <tr>
            <th class="contador">N°</th>
            <th>Nombre</th>
            {% for año in años %}
              <th>{{ año.nombre_año_corto }}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for materia in materias %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ materia.nombre_materia }}</td>
              {% with id=materia.pk %}
                {% for año in años %}
                  <td
                    class="año"
                    {% if año.numero_año in asignaciones|valor_dict_por_clave:id %}
                      aria-label="sí"
                    {% else %}
                      aria-label="no"
                    {% endif %}
                  >
                    {% if año.numero_año in asignaciones|valor_dict_por_clave:id %}
                      <svg
                        class="si"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                          d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                        />
                      </svg>
                    {% else %}
                      <svg
                        class="no"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                          d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-6.489 5.8a1 1 0 0 0 -1.218 1.567l1.292 1.293l-1.292 1.293l-.083 .094a1 1 0 0 0 1.497 1.32l1.293 -1.292l1.293 1.292l.094 .083a1 1 0 0 0 1.32 -1.497l-1.292 -1.293l1.292 -1.293l.083 -.094a1 1 0 0 0 -1.497 -1.32l-1.293 1.292l-1.293 -1.292l-.094 -.083z"
                        />
                      </svg>
                    {% endif %}
                  </td>
                {% endfor %}
              {% endwith %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock contenido %}
