{% extends "base.html" %}

{% block titulo %}Cambiar contraseña{% endblock %}
{% load static %}

{% block cabeza %}
  <link rel="stylesheet" href="{% static 'css/vistas/auth.css' %}" />
{% endblock %}

{% block contenido %}
  <form class="caja" method="post">
    {% csrf_token %}

    <h1>Cambiar contraseña</h1>

    <div class="col" style="gap: 1rem;">
      {% for field in form %}
        <div class="col" style="gap: 6px;">
          {{ field.label_tag }}
          {% if field.errors %}
            {% for error in field.errors %}
              <p class="error">{{ error }}</p>
            {% endfor %}
          {% endif %}
          {% render_field field class="caja-input" %}
        </div>
      {% endfor %}
    </div>

    <button class="btn-primario btn-md w-100" style="margin-top: 1.75rem;">
      Cambiar
    </button>
  </form>
{% endblock %}
