{% extends "objeto-form.html" %}
{% load partials %}
{% load grupos_variantes %}

{% block campos %}
  <div
    id="campos"
    class="ui-elevado col gap-y-8 gap-x-10 p-4 rounded-lg max-w-600px w-full mxa"
  >
    {% partialdef campos inline %}
      {% include "componentes/campo.html" with campo=form.nombre input_class="deshabilitar-al-subir ui-elevado-2 max-w-500px" %}

      {% with asignaciones=form.asignaciones %}
        <div
          role="group"
          aria-labelledby="asignaciones-materia-label"
          {% if asignaciones.errors %}
            aria-invalid="true" aria-errormessage="asignaciones-materia-error"
          {% endif %}
        >
          <p class="text-texto-semi-sutil mb-2" id="asignaciones-materia-label">
            Años en los que se imparte:
          </p>

          {% partialdef asignaciones inline %}
            <div
              class="{{ 'grid grid-cols-[repeat(auto-fit,minmax(140px,1fr))] supports-[not(grid-template-columns:repeat(auto-fit,minmax(140px,1fr)))]:(flex flex-wrap) gap-2'|expandir_variantes }}"
            >
              {% for opcion, label in asignaciones.field.choices %}
                <label class="group/label">
                  {% with valor=opcion.value %}
                    <input
                      class="deshabilitar-al-subir sr-only peer"
                      type="checkbox"
                      name="{{ asignaciones.name }}"
                      value="{{ valor }}"
                      id="{{ asignaciones.name }}_{{ forloop.counter }}"
                      {% if valor|stringformat:"i" in asignaciones.value or valor in asignaciones.value %}
                        checked
                      {% endif %}
                    />

                    <label
                      class="group flex aic supports-[not(grid-template-columns:repeat(auto-fit,minmax(140px,1fr)))]:jcc gap-x-2.5 rounded-full min-w-max p-1 px-3 ui-elevado-2 cursor-pointer outline-2 outline-#0000 peer-focus-visible:outline-current"
                      for="{{ asignaciones.name }}_{{ forloop.counter }}"
                    >
                      <span
                        class="relative size-4 ui-opcion ui-opcion/checkbox"
                      >
                        {% include "componentes/checkbox-icono.html" with class="" %}
                      </span>
                      {{ label }}
                    </label>
                  {% endwith %}
                </label>
              {% endfor %}
            </div>
          {% endpartialdef asignaciones %}
          {% if asignaciones.errors %}
            <p
              id="asignaciones-materia-error"
              class="input-error"
              style="margin-top: .5rem;"
            >
              {{ asignaciones.errors.0 }}
            </p>
          {% endif %}
        </div>
      {% endwith %}
    {% endpartialdef campos %}
  </div>
{% endblock campos %}
