{% extends "lista-objetos.html" %}
{% load partials %}
{% load widget_tweaks %}
{% load utilidades %}
{% load grupos_variantes %}

{% block cabeza %}
  {{ block.super }}
  {% include "componentes/tabla-adaptable/cabeza.html" %}
  {% include "componentes/combobox.html#scripts" %}
{% endblock cabeza %}

{% block opciones_filtros %}
  {%
    include "componentes/vista-lista/filtros/conjunto-opciones.html" with
    campo=form_filtros.anios
    campo_tipo_q=form_filtros.anios_tipo_q
  %}
{% endblock opciones_filtros %}

{% block icono_sin_objetos %}
  <svg
    stroke-width="2"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
    viewBox="0 0 24 24"
  >
    <path
      d="M3 19a9 9 0 0 1 9 0 9 9 0 0 1 5.899-1.096M3 6a9 9 0 0 1 2.114-.884m3.8-.21C9.984 5.076 11.03 5.44 12 6a9 9 0 0 1 9 0M3 6v13M12 6v2m0 4v7M21 6v11M3 3l18 18"
    ></path>
  </svg>
{% endblock icono_sin_objetos %}

{% block modales %}
  {{ block.super }}

  {% if permisos.editar %}
    <dialog
      class="{{ dialog_class }}"
      x-show="modalAbierto === 'asignar'"
      x-htmldialog="modalAbierto = null"
      @click="$event.target === $event.currentTarget && (modalAbierto = null)"
    >
      <div class="{{ div_class }}">
        <hgroup class="col gap-y-3 ">
          <h1 class="text-lg font-bold tac text-balance">
            Cambiar asignaciones de años de las materias seleccionadas
          </h1>
          <p class="text-texto-semi-sutil">
            Marca los años que quieres asignarles, los que
            <span class="text-peligro dark:text-peligro-400">NO</span> estén
            marcados
            <span class="text-peligro dark:text-peligro-400">NO</span> se
            añadirán o serán
            <span class="text-peligro dark:text-peligro-400">ELIMINADOS</span>
            si ya estaban asignados:
          </p>
        </hgroup>

        {% with asignaciones=form_asignaciones.asignaciones %}
          <form>
            {% include "parametros/materias/form.html#asignaciones" %}
          </form>

          <div class="{{ btns_class }}" role="group">
            <button class="{{ cancelar_class }}" @click="modalAbierto = null">
              Cancelar
            </button>

            <div
              role="alert"
              id="indicador-asignar"
              class="htmx-indicator peer sr-only"
            >
              Asignando...
            </div>

            <button
              class="{{ subir_class|add:' ui-btn/primario' }}"
              hx-put
              hx-indicator="#indicador-asignar"
              hx-disabled-elt=".deshabilitar-al-subir"
              hx-vals="js:{
                  {# obtener los ids de las filas seleccionadas desde el componente de la lista #}
                  ids: Array.from(Alpine.$data($id('{{ view.id_lista_objetos }}')).filasSeleccionadas),
                  {{ asignaciones.name }}:
                    new FormData(this.closest('dialog').$('form')).getAll('{{ asignaciones.name }}')
                }"
              @htmx:after-request.window="if ($event.target === $el) {
                modalAbierto = null;
                limpiarSeleccion();
              }"
            >
              <span class="ui-loader ui-loader/blanco"></span>
              Asignar
            </button>
          </div>
        {% endwith %}
      </div>
    </dialog>
  {% endif %}
{% endblock modales %}
