{% extends "lista-objetos.html" %}
{% load partials %}
{% load widget_tweaks %}
{% load utilidades %}
{% load grupos_variantes %}

{% block cabeza %}
  {{ block.super }}
  {% include "componentes/tabla-adaptable/cabeza.html" %}
  {% include "componentes/combobox.html#scripts" %}
{% endblock cabeza %}

{% block contenido %}
  {%
    with
    main_class="col gap-y-3 flex-1 max-h-[calc(100dvh-var(--altura-header))] max-w-800px mxa w-full p-4 py-2 min-[500px]:p-6 sidebar:(jcc p-8)"|expandir_variantes
    nombre_url_crear="crear_materia"
  %}
    {{ block.super }}
  {% endwith %}
{% endblock contenido %}

{% block opciones_filtros %}
  {%
    include "componentes/vista-lista/filtros/conjunto-opciones.html" with
    campo=form_filtros.anios
    campo_tipo_q=form_filtros.anios_tipo_q
  %}
{% endblock opciones_filtros %}

{% block modales %}
  {{ block.super }}

  {% if permisos.editar %}
    <dialog
      class="{{ dialog_class }}"
      x-show="modalAbierto === 'asignar'"
      x-htmldialog="modalAbierto = null"
      @click="$event.target === $event.currentTarget && (modalAbierto = null)"
    >
      <div class="{{ div_class }}">
        <hgroup class="col gap-y-3 ">
          <h1 class="text-lg font-bold tac text-balance">
            Cambiar asignaciones de años de las materias seleccionadas
          </h1>
          <p class="text-texto-semi-sutil">
            Marca los años que quieres asignarles, los que
            <span class="text-peligro dark:text-peligro-400">NO</span> estén
            marcados
            <span class="text-peligro dark:text-peligro-400">NO</span> se
            añadirán o serán
            <span class="text-peligro dark:text-peligro-400">ELIMINADOS</span>
            si ya estaban asignados:
          </p>
        </hgroup>

        {% with asignaciones=form_asignaciones.asignaciones %}
          <form>{% include "materias/form.html#asignaciones" %}</form>

          <div class="{{ btns_class }}" role="group">
            <button class="{{ cancelar_class }}" @click="modalAbierto = null">
              Cancelar
            </button>

            <div
              role="alert"
              id="indicador-asignar"
              class="htmx-indicator peer sr-only"
            >
              Asignando...
            </div>

            <button
              class="{{ subir_class|add:' ui-btn/primario' }}"
              hx-put
              hx-indicator="#indicador-asignar"
              hx-disabled-elt=".deshabilitar-al-subir"
              hx-vals="js:{
                  {# obtener los ids de las filas seleccionadas desde el componente de la lista #}
                  ids: Array.from(Alpine.$data($id('{{ view.id_lista_objetos }}')).filasSeleccionadas),
                  {{ asignaciones.name }}:
                    new FormData(this.closest('dialog').$('form')).getAll('{{ asignaciones.name }}')
                }"
              @htmx:after-request.window="if ($event.target === $el) {
                modalAbierto = null;
                limpiarSeleccion();
              }"
            >
              <div class="ui-loader ui-loader/blanco"></div>
              Asignar
            </button>
          </div>
        {% endwith %}
      </div>
    </dialog>
  {% endif %}
{% endblock modales %}
