{% extends "lista-objetos.html" %}
{% load static %}
{% load utilidades %}

{% block titulo_lista %}
  Mis tareas
{% endblock titulo_lista %}

{% block cabeza %}
  {{ block.super }}
  <script defer src="{% static 'js/componentes/combobox.js' %}"></script>
{% endblock cabeza %}

{% block filtros %}
  <nav class="border-b border-[#fff2] bg-primario-700 dark:bg-primario-500">
    <ul class="ui-lista-pestañas">
      {% with class="inline-flex items-center justify-center p-2 px-4 border-b border-#0000 text-primario-texto flex-1 pover:bg-primario-600 dark:pover:bg-primario-400 aria-[current=true]:border-b border-primario-600! transition-colors" %}
        {% url 'tarea' as url_tareas %}
        {% url 'tareas_por_materia' as url_por_materias %}

        <a
          {% if request.path == url_tareas %}
            aria-current="page"
          {% endif %}
          href="{{ url_tareas }}"
          class="{{ class }}"
        >
          Información completa
        </a>
        <a
          {% if request.path == url_por_materias %}
            aria-current="page"
          {% endif %}
          href="{{ url_por_materias }}"
          class="{{ class }}"
        >
          Asignadas por materias
        </a>
      {% endwith %}
    </ul>
  </nav>
  {{ block.super }}
{% endblock filtros %}

{% block contenido %}
  {% with lista_clase="p-3 min-[500px]:(p-4 px-5) sidebar:max-sidebar_full:px-6 min-[1000px]:(p-5 px-8) gap-y-4" %}
    {{ block.super }}
  {% endwith %}
{% endblock contenido %}

{% block icono_sin_objetos %}
  <svg class="m-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
      d="M16.83 14H18v-2h-3.17l-1-1H18V9h-6.17l-1-1H18V6H8.83l-4-4H20c1.1 0 2 .9 2 2v15.17L16.83 14zM2.1 2.1.69 3.51 2 4.83V16c0 1.1.9 2 2 2h11.17l5.31 5.31 1.41-1.41L2.1 2.1zM6 9h.17l2 2H6V9zm0 5v-2h3.17l2 2H6z"
    ></path>
  </svg>
{% endblock icono_sin_objetos %}
