main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

#titulo {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

#titulo-container {
  gap: 1rem;
  margin-bottom: .75rem;
}

#nueva-asignatura {
  gap: .25rem;
  font-size: .8em;
}

caption {
  caption-side: bottom !important;
  color: var(--texto-ligero);
  text-align: left;
}

th:nth-child(n+3) {
  text-align: center;
}

.contador {
  width: 4ch;
}

.contador,
td:first-child {
  text-align: right;
}

td:first-child {
  font-variant-numeric: tabular-nums;
}

.año {
  text-align: center;
}

.año svg {
  height: 1.5em;
  width: 1.5em;
  margin-bottom: .125rem;
}

.año svg.si {
  color: var(--color-exito-500);
}

.año svg.no {
  color: var(--color-peligro-400);
}

@media screen and (min-width: 768px) {
  main {
    padding: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding: 2.5rem 5rem;
  }
}