main {
  padding: 1rem;
}

.contenido {
  padding: 1rem 0;
}

hgroup {
  text-align: center;
  margin-bottom: 1.5rem;
}

#titulo {
  font-size: 1.75rem;
  font-weight: bold;
}

caption {
  color: var(--texto-ligero);
  text-align: left;
  caption-side: bottom;
}

#años {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  counter-reset: año;
}

.año {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  counter-increment: año 1;
  padding: 1rem 1.25rem;
}

.año .nombre::before {
  font-weight: bold;
  content: counter(año) ". ";
}

.año .nombre {
  font-size: 1.25rem;
}

.año label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: var(--texto-ligero);
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .contenido {
    padding: 1rem;
  }

  #años {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}