{% load static %}
{% load partials %}
{% load widget_tweaks %}
{% url 'vista_pestaña_admin_form' as form_url %}

{# Se obtiene la url de la vista que devuelve cada pestaña particular #}

{% comment %}
  <!-- prettier-ignore-start -->
    Esta plantilla base define la estructura general de las pestañas del admin,
    incluyendo el título, descripción, botón de añadir y la lista de objetos.
    
    * Se usa el bloque principal ("contenido") para poder cambiar el contenido en
    las plantillas que la extienden.
    * El bloque "parcial_objeto" se usa para mostrar cada objeto en la lista, ya que debe ser creado en la plantilla extendida.
    * El bloque "antes_form" se usa para mostrar contenido antes del formulario, como un mensaje de éxito.
    * El bloque "campos" se usa para mostrar los campos del formulario, que deben ser creado en la plantilla extendida, primero porque pueden cambiar sus widgets, y luego que se reutilizan como un parcial ("campos"), al devolver respuesta del formulario.
  <!-- prettier-ignore-end -->
{% endcomment %}
{% block contenido %}
  {% if puede_añadir %}
    <head>
      <script defer src="{% static 'js/admin-form-modal.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/administrar/admin.css' %}" />
      <link
        rel="stylesheet"
        href="{% static 'css/administrar/acciones.css' %}"
      />
    </head>

    <dialog id="form-modal" class="caja">
      <div>
        <h1>Añadir {{ nombre_objeto|default:'objeto' }}</h1>

        <div id="indicador-subida-form" class="htmx-indicator" role="status">
          <div class="indicador"></div>
          Subiendo...
        </div>

        <div id="indicador-carga-form" class="htmx-indicator" role="status">
          <div class="indicador"></div>
          Cargando datos...
        </div>

        {% block antes_form %}{% endblock antes_form %}

        {# variable que se pasa en la petición para darle contexto sobre qué formulario procesar (según la pestaña) #}
        <input type="hidden" name="pestaña" value="{{ pestaña }}" />

        <form
          hx-post="{{ form_url }}"
          hx-target=".campos"
          hx-disabled-elt=".deshabilitar-subir"
          hx-include="[name='pestaña']"
          hx-indicator="#indicador-subida-form"
          novalidate
        >
          {% csrf_token %}

          {# se reemplaza por el contenido indicado en el bloque "campos", que además debe ser un parcial creado en la plantilla extendida, ya que al subirse el formulario, se reemplaza por este #}
          <div class="campos {{ nombre_objeto }}">
            {% block campos %}
              <strong
                style="color: var(--color-peligro-500); font-style: italic;"
              >
                No se definieron campos
              </strong>
            {% endblock campos %}
          </div>

          <div id="btns" role="group">
            <button type="reset" class="btn-borde deshabilitar-subir">
              Descartar
            </button>
            <button class="btn-primario deshabilitar-subir" id="subir">
              Añadir
            </button>
          </div>
        </form>
      </div>
    </dialog>
  {% endif %}

  <div
    x-data="{
    acciones_abiertas: false,
    alternar_abiertas() {
      this.acciones_abiertas = !this.acciones_abiertas;
      this.seleccion.clear()
    },
    seleccion: new Set() 
  }"
  >
    <hgroup hx-swap-oob="outerHTML:#titulo-y-desc" id="titulo-y-desc">
      <h1 class="titulo">{{ titulo }}</h1>
      <p class="desc">{{ descripcion }}</p>
    </hgroup>

    <ul
      class="lista-objetos"
      id="lista-objetos"
      @click="
        if (acciones_abiertas && $event.target !== $event.currentTarget && $event.target.closest('[data-id]')) {
          const id = $event.target.closest('[data-id]').getAttribute('data-id')
          seleccion.has(id) ? seleccion.delete(id) : seleccion.add(id);
        }
      "
      @contextmenu="
        if (!acciones_abiertas && $event.target !== $event.currentTarget && $event.target.closest('[data-id]')) {
          $event.preventDefault()
          alternar_abiertas()
          seleccion.add($event.target.closest('[data-id]').getAttribute('data-id'))
        }
      "
    >
      {% if puede_añadir %}
        <li class="lista-opciones-li">
          <div role="group" id="lista-opciones">
            <button @click="alternar_abiertas()">
              <svg
                style="margin-right: .25rem"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M12.034 12.681a.498.498 0 0 1 .647-.647l9 3.5a.5.5 0 0 1-.033.943l-3.444 1.068a1 1 0 0 0-.66.66l-1.067 3.443a.5.5 0 0 1-.943.033z"
                />
                <path
                  d="M21 11V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h6"
                />
              </svg>
              <span
                x-text="!acciones_abiertas ? 'Seleccionar' : 'Cancelar seleccion' "
              ></span>
            </button>
            <button class="añadir" onclick="mostrarModal()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
              Añadir {{ nombre_objeto|default:'objeto' }}
            </button>
          </div>
        </li>
      {% endif %}

      {% for objeto in lista_objetos %}
        {# en la plantilla extendida se indica el parcial correspondiente del objeto a mostrar en la lista, ya que obviamente no puede ser creado aquí; este bloque debe ser implementado en las plantillas hijas para mostrar cada objeto #}
        {% block parcial_objeto %}
        {% endblock parcial_objeto %}
      {% endfor %}
    </ul>

    {% include "administrar/acciones.html" with puede_eliminar=puede_eliminar puede_editar=puede_editar nombre_objeto=nombre_objeto pestaña=pestaña %}
  </div>
{% endblock contenido %}
