{% extends "administrar/pestañas/base.html" %}
{% load partials %}

{% block contenido %}
  {% with titulo="Lapsos académicos" descripcion="Gestiona las divisiones del año escolar" puede_añadir=perms.estudios.add_lapso nombre_objeto="lapso" %}
    {{ block.super }}
  {% endwith %}
{% endblock contenido %}

{% block parcial_objeto %}
  {% partial lapso_objeto %}
{% endblock parcial_objeto %}

{% block antes_form %}
  <div id="nota-lapso" role="note">
    <p>
      <b><u>NOTA</u>:</b>
      Tenga en cuenta que, al añadir un nuevo lapso, este pasará a ser el
      actual. Asegúrese de que no faltan tareas administrativas por realizar
      antes de añadirlo, ya que no podrán ser realizadas ni modificadas una vez
      que lo haya hecho.
    </p>
  </div>
{% endblock antes_form %}

{% block campos %}
  {% partial campos %}
{% endblock campos %}

{% partialdef campos %}

  {# añadir nuevo lapso académico al agregarse correctamente #}
  {% if exito %}
    {% include "administrar/mensaje.html" with nombre_objeto="lapso" %}

    {% with objeto=objeto_guardado reemplazar=1 %}
      {% partial lapso_objeto %}
    {% endwith %}
  {% endif %}

  <div class="doble-campo">
    {% include "componentes/campo.html" with campo=form.numero class="deshabilitar-subir elevado-2" %}
    {% include "componentes/campo.html" with campo=form.nombre class="deshabilitar-subir elevado-2" %}
  </div>
  <div class="doble-campo">
    {% include "componentes/campo.html" with campo=form.fecha_inicio class="deshabilitar-subir elevado-2" %}
    {% include "componentes/campo.html" with campo=form.fecha_fin class="deshabilitar-subir elevado-2" %}
  </div>
{% endpartialdef campos %}

{% partialdef lapso_objeto %}
  {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
    {# Para cuando se añada con el formulario, poder añadirlo a la lista de objetos se genera este div con hx-swap-oob (ya que por alguna razón, al generar el parcial, se elimina el primer elemento, lo que provocaría que no se añada el <li>, sino directamente el <article>) #}
    {% if reemplazar %}
      <div hx-swap-oob="afterend:.añadir-li">
    {% endif %}
  {% comment %}<!-- prettier-ignore-end -->{% endcomment %}

  <li class="lapso">
    <article class="objeto caja">
      <header class="cabecera">
        <h2 class="nombre">{{ objeto.nombre }}</h2>
        <ul class="estados">
          <li>
            <span class="estado id primario" role="status">
              <span>número:</span>
              <b>{{ objeto.numero }}</b>
            </span>
          </li>

          {% if añadido %}
            <li>
              <span class="estado nuevo" role="status"> Nuevo </span>
            </li>
          {% endif %}
        </ul>
      </header>
      <dl>
        <div class="info">
          <div class="grupo">
            <dt>Fecha de inicio</dt>
            <dd>{{ objeto.fecha_inicio|date:"D. d M. Y" }}</dd>
          </div>

          <div class="grupo">
            <dt>Fecha de fin</dt>
            <dd>{{ objeto.fecha_fin|date:"D. d M. Y" }}</dd>
          </div>
        </div>
      </dl>
    </article>
  </li>

  {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
    {% if reemplazar %}
      </div>
    {% endif %}
  {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
{% endpartialdef %}
