{% extends "administrar/pestañas/base.html" %}
{% load partials %}
{% load utilidades %}

{% block contenido %}
  {% with titulo="Materias" descripcion="Gestiona las materias y los años en que se imparten" puede_añadir=perms.estudios.add_materia puede_eliminar=perms.estudios.delete_materia puede_editar=perms.estudios.change_materia nombre_objeto="materia" %}
    {{ block.super }}
  {% endwith %}
{% endblock contenido %}

{% block parcial_objeto %}
  {% partial materia_objeto %}
{% endblock parcial_objeto %}

{% block campos %}
  {% partial campos %}
{% endblock campos %}

{% partialdef campos %}
  {# añadir nueva materia al agregarse correctamente #}
  {% if exito %}
    {% include "administrar/mensaje.html" with  editado=editado objeto=objeto_retornado nombre_objeto="materia" %}

    {% with objeto=objeto_retornado editado=editado reemplazar=1 %}
      {% partial materia_objeto %}
    {% endwith %}
  {% endif %}

  {# se indica al obtener los campos con sus valores (a penas inicia la edición) o editar y producirse un error #}
  {% if not exito and objeto_retornado.id|es_entero %}
    <input type="hidden" name="id" value="{{ objeto_retornado.id }}" />
  {% endif %}
  {% include "componentes/campo.html" with campo=form.nombre class="deshabilitar-subir elevado-2" %}

  {% with asignaciones=form.asignaciones %}
    <div
      role="group"
      aria-labelledby="asignaciones-materia-label"
      {% if asignaciones.errors %}
        aria-invalid="true" aria-errormessage="asignaciones-materia-error"
      {% endif %}
    >
      <p class="texto-sutil" id="asignaciones-materia-label">
        Años en los que se imparte:
      </p>

      <div class="asignaciones-materia">
        {% for opcion, label in asignaciones.field.choices %}
          {% with valor=opcion.value %}
            <input
              class="sr-only deshabilitar-subir"
              type="checkbox"
              name="{{ asignaciones.name }}"
              value="{{ valor }}"
              id="{{ asignaciones.name }}_{{ forloop.counter }}"
              {% if valor|stringformat:"i" in asignaciones.value or valor in asignaciones.value %}checked{% endif %}
            />
            <label
              class="asignacion-materia"
              for="{{ asignaciones.name }}_{{ forloop.counter }}"
            >
              {{ label }}
            </label>
          {% endwith %}
        {% endfor %}
      </div>
      {% if asignaciones.errors %}
        <p
          id="asignaciones-materia-error"
          class="input-error"
          style="margin-top: .5rem;"
        >
          {{ asignaciones.errors.0 }}
        </p>
      {% endif %}
    </div>
  {% endwith %}
{% endpartialdef campos %}

{% partialdef materia_objeto %}
  {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
    {# Para cuando se añada con el formulario, poder añadirlo a la lista de objetos se genera este div con hx-swap-oob (ya que por alguna razón, al generar el parcial, se elimina el primer elemento, lo que provocaría que no se añada el <li>, sino directamente el <article>) #}
    {% if reemplazar %}
      <div
        {% if editado %}
          hx-swap-oob="outerHTML:[data-id='{{ objeto.id }}']"
        {% else %}
          hx-swap-oob="afterend:.lista-opciones-li"
        {% endif %}
      >
    {% endif %}
  {% comment %}<!-- prettier-ignore-end -->{% endcomment %}

  <li>
    <article
      class="caja materia"
      data-id="{{ objeto.id }}"
      :data-seleccionado="seleccion.has('{{ objeto.id }}')"
      {% if añadido %}data-nuevo{% endif %}
    >
      <header class="cabecera">
        <div class="titulo-contenedor">
          <h2 class="nombre">{{ objeto.nombre }}</h2>

          {% if añadido %}
            <span class="estado nuevo" role="status">Nueva</span>
          {% endif %}
        </div>
        <p class="fecha">
          Creada el {{ objeto.fecha_creacion|date:"D. d M. Y, h:i A" }}
        </p>
      </header>

      {% if objeto.asignaciones|length == 0 %}
        <p role="status" class="sin-asignaciones texto-sutil">
          {% include "componentes/iconos/alerta.html" %} No se ha asignado esta
          materia a ningún año.
        </p>
      {% else %}
        <ul class="asignaciones-materia">
          {% for año in lista_años %}
            <li>
              <span
                class="asignacion-materia"
                {% if año.numero in objeto.asignaciones %}
                  aria-label="sí"
                {% else %}
                  aria-label="no"
                {% endif %}
                role="status"
                {% if año.numero in objeto.asignaciones %}
                  data-asignada
                {% endif %}
              >
                {{ año.nombre_corto }}
              </span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </article>
  </li>

  {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
    {% if reemplazar %}
      </div>
    {% endif %}
  {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
{% endpartialdef materia_objeto %}
