{% extends "lista-objetos.html" %}
{% load static %}
{% load partials %}
{% load utilidades %}
{% load widget_tweaks %}
{% load grupos_variantes %}

{% block cabeza %}
  {{ block.super }}
  <script defer src="{% static 'js/componentes/combobox.js' %}"></script>
{% endblock cabeza %}

{% block form_filtros %}
  {{ block.super }}

  <button
    x-data="abierto = true"
    @click="
      abierto = !abierto;
      document.getElementById('{{ view.id_lista_objetos }}').querySelectorAll('details').forEach((d) => d.open = abierto);
    "
    class="ui-btn ui-elevado h-full rounded-campo px-2"
    type="button"
    aria-label="Colapsar alumnos"
  >
    <svg
      stroke-width="0"
      height="1em"
      width="1em"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 16 16"
      color="currentColor"
      style="overflow: visible;"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8m7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0m-.5 11.707-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0z"
      ></path>
    </svg>
  </button>
{% endblock form_filtros %}

{% block opciones_filtros %}
  {% with busqueda_activa=1 %}
    {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
      {% include "componentes/vista-lista/filtros/conjunto-opciones.html" with
        campo=form_filtros.materias
        opciones=form_filtros.materias|obtener_lista_opciones
        opciones_seleccionadas=form_filtros.materias.value
      %}

      {% include "componentes/vista-lista/filtros/conjunto-opciones.html" with
        campo=form_filtros.secciones
        opciones=form_filtros.secciones.field.choices|obtener_lista_opciones
        opciones_seleccionadas=form_filtros.secciones.value
      %}

      {% include "componentes/vista-lista/filtros/conjunto-opciones.html" with
        campo=form_filtros.anios
        opciones=form_filtros.anios|obtener_lista_opciones
        opciones_seleccionadas=form_filtros.anios.value
      %}

      {% include "componentes/vista-lista/filtros/conjunto-opciones.html" with
        campo=form_filtros.lapsos
        opciones=form_filtros.lapsos.field.choices|obtener_lista_opciones
        opciones_seleccionadas=form_filtros.lapsos.value
      %}
    {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
  {% endwith %}
{% endblock opciones_filtros %}

{% block sin_objetos %}
  {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
    <h2 class="font-bold text-xl">
      {% if not hay_matriculas %}
        Hace falta crear matrículas</h2>
        <p class="text-texto-sutil">
          estas son necesarias para poder asignar notas
        </p>
      {% elif not hay_materias %}
        Hace falta crear materias</h2>
        <p class="text-texto-sutil">
          estas son necesarias para poder asignar notas
        </p>
        
      {% else %}
        No se han añadido notas</h2>
        <p class="text-texto-sutil">
          Parece que las actividades escolares no han iniciado
        </p>
      {% endif %}
  {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
{% endblock sin_objetos %}
