{% load static %}
<header id="header">
  <h1>
    <a href="{% url 'inicio' %}">
      <img src="{% static 'img/logo-sin-letras.png' %}" alt="logo" />
      <span>Liceo Mijaguas</span>
    </a>
  </h1>

  <nav id="nav" data-path-actual="{{ request.path }}">
    {% if request.user.is_authenticated %}
      <div class="perfil" id="perfil-en-linea">
        {% include 'componentes/perfil/index.html' %}
      </div>
    {% else %}
      <a
        id="iniciar-sesion-menu"
        href="{% url 'login' %}"
        class="iniciar-sesion flex-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2"
          />
          <path d="M3 12h13l-3 -3" />
          <path d="M13 15l3 -3" />
        </svg>
        Iniciar sesión
      </a>
    {% endif %}

    <hr />

    <div id="tema-selector" class="contenido" role="group">
      <input
        class="sr-only"
        id="tema-claro"
        type="radio"
        name="tema"
        value="claro"
      />
      <label for="tema-claro">
        {% include "componentes/iconos/tema/sol.html" %}
        {% include "componentes/iconos/tema/sol-lineas.html" %}
        <span class="sr-only">Claro</span>
      </label>

      <input
        class="sr-only"
        id="tema-oscuro"
        type="radio"
        name="tema"
        value="oscuro"
      />
      <label for="tema-oscuro">
        {% include "componentes/iconos/tema/luna.html" %}
        {% include "componentes/iconos/tema/luna-lineas.html" %}
        <span class="sr-only">Oscuro</span>
      </label>

      <input
        class="sr-only"
        id="tema-auto"
        type="radio"
        name="tema"
        value="auto"
      />
      <label for="tema-auto">
        {% include "componentes/iconos/tema/auto.html" %}
        {% include "componentes/iconos/tema/auto-lineas.html" %}
        <span class="sr-only">Automático</span>
      </label>
    </div>

    <hr />

    <ul>
      <li>
        <a class="link" href="{% url 'inicio' %}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="icon icon-tabler icons-tabler-filled icon-tabler-home"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M12.707 2.293l9 9c.63 .63 .184 1.707 -.707 1.707h-1v6a3 3 0 0 1 -3 3h-1v-7a3 3 0 0 0 -2.824 -2.995l-.176 -.005h-2a3 3 0 0 0 -3 3v7h-1a3 3 0 0 1 -3 -3v-6h-1c-.89 0 -1.337 -1.077 -.707 -1.707l9 -9a1 1 0 0 1 1.414 0m.293 11.707a1 1 0 0 1 1 1v7h-4v-7a1 1 0 0 1 .883 -.993l.117 -.007z"
            />
          </svg>
          <span>Inicio</span>
        </a>
      </li>

      {% if request.user.is_staff %}
        <li>
          <a href="/admin" class="link">
            <svg
              height="16"
              viewBox="0 0 16 16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5z"
                fill-rule="evenodd"
              />
            </svg>
            <span>Panel</span>
          </a>
        </li>
      {% endif %}

      {% if perms.estudios.view_profesor %}
        <li>
          <a class="link" href="{% url 'profesores' %}">
            <svg viewBox="0 0 640 512" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M208 352c-2.39 0-4.78.35-7.06 1.09C187.98 357.3 174.35 360 160 360c-14.35 0-27.98-2.7-40.95-6.91-2.28-.74-4.66-1.09-7.05-1.09C49.94 352-.33 402.48 0 464.62.14 490.88 21.73 512 48 512h224c26.27 0 47.86-21.12 48-47.38.33-62.14-49.94-112.62-112-112.62zm-48-32c53.02 0 96-42.98 96-96s-42.98-96-96-96-96 42.98-96 96 42.98 96 96 96zM592 0H208c-26.47 0-48 22.25-48 49.59V96c23.42 0 45.1 6.78 64 17.8V64h352v288h-64v-64H384v64h-76.24c19.1 16.69 33.12 38.73 39.69 64H592c26.47 0 48-22.25 48-49.59V49.59C640 22.25 618.47 0 592 0z"
              />
            </svg>
            <span>Profesores</span>
          </a>
        </li>
      {% endif %}

      {% if perms.estudios.view_estudiante %}
        <li>
          <a class="link" href="/admin/estudios/estudiante">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12,9a6,6,0,0,0-5.91,5H2v2H4v6H6V16H18v6h2V16h2V14H17.91A6,6,0,0,0,12,9Z"
              />
              <circle cx="12" cy="5" r="3" />
            </svg>
            <span>Estudiantes</span>
          </a>
        </li>
      {% endif %}

      <li>
        <a class="link" href="{% url 'notas' %}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M12 2l.117 .007a1 1 0 0 1 .876 .876l.007 .117v4l.005 .15a2 2 0 0 0 1.838 1.844l.157 .006h4l.117 .007a1 1 0 0 1 .876 .876l.007 .117v9a3 3 0 0 1 -2.824 2.995l-.176 .005h-10a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-14a3 3 0 0 1 2.824 -2.995l.176 -.005zm3 14h-6a1 1 0 0 0 0 2h6a1 1 0 0 0 0 -2m0 -4h-6a1 1 0 0 0 0 2h6a1 1 0 0 0 0 -2m-5 -4h-1a1 1 0 1 0 0 2h1a1 1 0 0 0 0 -2"
            />
            <path d="M19 7h-4l-.001 -4.001z" />
          </svg>
          <span>Notas</span>
        </a>
      </li>

      {% if request.user.is_authenticated %}
        <li>
          <a class="link" href="{% url 'administrar' %}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M4 11h4a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-2a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-6a1 1 0 0 1 1 -1z"
              />
              <path
                d="M21 12v6a3 3 0 0 1 -2.824 2.995l-.176 .005h-6a1 1 0 0 1 -1 -1v-8a1 1 0 0 1 1 -1h8a1 1 0 0 1 1 1z"
              />
              <path
                d="M18 3a3 3 0 0 1 2.995 2.824l.005 .176v2a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h6z"
              />
              <path
                d="M9 4v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-2a3 3 0 0 1 2.824 -2.995l.176 -.005h2a1 1 0 0 1 1 1z"
              />
            </svg>
            <span>Administración</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>

  <div class="flex" style="align-items: center; gap: 1rem">
    <button
      aria-expanded="false"
      aria-haspopup="menu"
      aria-label="Abrir menú"
      id="btn-nav"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 6h16" />
        <path d="M7 12h13" />
        <path d="M10 18h10" />
      </svg>
    </button>

    <details class="perfil menu" id="perfil-menu">
      <summary class="flex-center" aria-label="Ver perfil">
        {% comment %}
          se muestra un ícono diferente dependiendo de si está abierto
        {% endcomment %}
        {% include "componentes/iconos/sin-foto-lineas.html" with class="filled" %}
        {% include "componentes/iconos/sin-foto.html" with class="filled" %}
      </summary>

      <div class="contenido">
        {% if request.user.is_authenticated %}
          {% include 'componentes/perfil/index.html' %}
        {% else %}
          <a href="{% url 'login' %}" class="iniciar-sesion flex-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2"
              />
              <path d="M3 12h13l-3 -3" />
              <path d="M13 15l3 -3" />
            </svg>
            Iniciar sesión
          </a>
        {% endif %}
      </div>
    </details>
  </div>
</header>
