{% load widget_tweaks %}
{% load partials %}

<div
  class="{{ class|default:''|add:' col gap-y-1 [&_label]:text-texto-sutil' }}"
>
  {{ campo.label_tag }}

  {% with error_id=campo.id_for_label|add:'-error' ic=input_class|default:''|add:' peer' %}
    {% if campo.errors %}
      {% if parcial_input_invalido_url %}
        {% include parcial_input_invalido_url %}
      {% else %}
        {% with eic=ic|add:' animate-head-shake animate-delay-200' %}
          {% render_field campo class=eic aria-errormessage=error_id aria-invalid="true" %}
        {% endwith %}
      {% endif %}
    {% else %}
      {% if parcial_input_url %}
        {% include parcial_input_url %}
      {% else %}
        {% render_field campo class=ic %}
      {% endif %}
    {% endif %}

    {% partialdef campo_error inline %}
      {% if campo.errors %}
        {% for error in campo.errors %}
          <p
            id="{{ error_id }}"
            class="{{ error_class|default:''|add:' ui-input-error' }}"
            {% if data_form %}
              data-form="{{ data_form }}"
            {% endif %}
          >
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}
    {% endpartialdef campo_error %}
  {% endwith %}
</div>
