{% load partials %}
{% load utilidades %}
{% load grupos_variantes %}

<div
  class="{{ class|default:''|add:' col gap-1' }}"
  {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
  x-data="{ 
    abierto: false,
    opciones: {{ opciones|safe }},
    {% if multiple == 0 %}
      multiple: false,
      seleccionada: '{{ seleccionada|default:'' }}',
    {% else %}
      multiple: true,
      opcionesSeleccionadas: new Set({{ opciones_seleccionadas|default:''|safe }}),
    {% endif %}
    {% if busqueda_activa %}
      q: '',
      filtrarOpciones,
    {% endif %}
    abiertoPorTeclado: false,
    shiftPresionado: false,
    ultimaSeleccionada: null,
    {# las funciones se cargan desde el script dedicado #}
    establecerTextoLabel,
    destacarPrimeraCoincidencia,
    seleccionarOpcion,
    reiniciar,
  }"
  {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
  {% if not busqueda_activa %}
    @keydown="destacarPrimeraCoincidencia($event.key)"
  {% endif %}
  @keydown.esc.window="abierto = false, abiertoPorTeclado = false"
>
  <label
    for="{{ name }}-texto"
    class="{{ label_class|default:''|add:' w-fit pl-0.5 text-sm' }}"
  >
    {{ label }}
    <input
      id="{{ name }}-texto"
      type="text"
      {% if multiple  == 0 %}
        :value="seleccionada"
      {% else %}
        {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
          :value="opcionesSeleccionadas.size ? Array.from(opcionesSeleccionadas).join(',') : ''"
        {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
      {% endif %}
      hidden
      {% if hx_post %}
        hx-post="{{ hx_post }}"
      {% elif hx_get %}
        hx-get="{{ hx_get }}"
      {% endif %}
    />
  </label>

  <div class="relative flex">
    <template
      {% if multiple == 0 %}
        x-if="!!seleccionada"
      {% else %}
        x-if="opcionesSeleccionadas.size"
      {% endif %}
    >
      <button
        type="button"
        aria-label="eliminar valores"
        data-btn-reiniciar
        @click="reiniciar()"
        class="peer ui-btn border border-[--transparente-2] bg-fondo-700 h-full aspect-1 min-w-7 p-0.5 rounded-r-0 border-r-0! "
        {% if hx_post %}
          hx-post="{{ hx_post }}"
        {% elif hx_get %}
          hx-get="{{ hx_get }}"
        {% endif %}
      >
        {% include "componentes/iconos/edicion.html#x" with class="size-4" %}
      </button>
    </template>

    <button
      type="button"
      role="combobox"
      class="{{ btn_class|default:''|add:' ui-elevado inline-flex justify-between gap-2 w-full outline-2 outline-#0000 outline-offset-2 peer-not-disabled:rounded-l-0 focus-visible:outline-primario dark:focus-visible:outline-primario-600 rounded-campo whitespace-nowrap text-sm' }}"
      aria-haspopup="listbox"
      aria-controls="{{ name }}-lista"
      @click="abierto = !abierto"
      @keydown.down.prevent="abiertoPorTeclado = true"
      @keydown.enter.prevent="abiertoPorTeclado = true"
      @keydown.space.prevent="abiertoPorTeclado = true"
      :aria-expanded="abierto || abiertoPorTeclado"
      {% if disabled %}
        :disabled="{{ disabled }}"
      {% endif %}
    >
      <span
        class="p-1 pl-3 pr-1 text-sm overflow-hidden text-ellipsis whitespace-nowrap"
      >
        {% if prefijo %}
          <span aria-hidden="true" class="{{ prefijo_class }}">
            {{ prefijo }}
          </span>
        {% endif %}

        <span
          class="{{ valor_class|default:''|add:' w-full empty:before:content-[attr(data-placeholder)] only-of-type:first-letter:uppercase' }}"
          data-placeholder="{{ placeholder|default:'seleccione una opción' }}"
          x-text="establecerTextoLabel()"
        ></span>
      </span>

      <div
        class="fc h-full w-7 min-w-max border-l border-[--transparente-2] rounded-r-campo bg-fondo-700"
      >
        {% include "componentes/iconos/caret.html#abajo" with class="size-5 size-min-max" %}
      </div>
    </button>

    <div
      role="listbox"
      id="{{ name }}-lista"
      {% if multiple  == 0 %}
        aria-multiselectable="false"
      {% else %}
        aria-multiselectable="true"
      {% endif %}
      class="{{ lista_clases|default:''|add:'absolute z-10 left-0 top-8.5 col max-h-45dvh w-full min-w-max max-w-350px ui-elevado overflow-y-auto empty:hidden' }}"
      {# al ser reemplazado por htmx, se muestra como si estuviera abierto, por lo que se oculta hasta que se interactúe con el trigger #}
      {% if campos_reemplazados_por_htmx %}
        style="display: none;"
      {% endif %}
      x-cloak
      x-trap="abiertoPorTeclado"
      x-show="abierto || abiertoPorTeclado"
      @click.outside="abierto = false, abiertoPorTeclado = false"
      @keydown="manejarTeclas($event, $focus)"
      @change="$event.target.type !== 'text' && seleccionarOpcion($event.target)"
      x-transition
    >
      {% if busqueda_activa %}
        <div class="relative">
          {% include "componentes/iconos/tabla.html#lupa" with class="absolute left-3 top-1/2 size-4 -translate-y-1/2" %}
          <input
            type="text"
            class="w-full border-b border-[--borde-caja] py-2 pl-10 pr-4 text-sm focus-visible:border-primario"
            name="busqueda"
            x-ref="busqueda"
            aria-label="buscar"
            @input="q = $el.value"
            placeholder="Buscar"
          />
        </div>
      {% endif %}

      <ul class="py-1.5 select-none empty:hidden">
        {% if busqueda_activa %}
          <li
            class="hidden px-4 py-2 text-sm text-texto-sutil"
            x-ref="sinResultadosMsj"
          >
            No se encontraron resultados
          </li>
        {% endif %}

        <template
          {% if busqueda_activa %}
            x-for="(item, index) in filtrarOpciones(opciones)"
          {% else %}
            x-for="(item, index) in opciones"
          {% endif %}
          :key="item.id"
        >
          <li
            role="option"
            {% if multiple == 0 %}
              :aria-selected="seleccionada == item.id"
            {% else %}
              :aria-selected="opcionesSeleccionadas.has(item.id)"
            {% endif %}
          >
            <label
              class="flex items-center gap-2.5 p-1.5 px-3"
              :for="'{{ name }}-opt-'+index"
            >
              <div
                class="size-4.5 size-min-4.5 relative [&>input::before,&>input::after]:content-['']"
              >
                {% with c="incluido-filtros combobox-opcion ui-opcion"|expandir_variantes %}
                  {% if multiple == 0 %}
                    <input
                      type="radio"
                      class="{{ c|add:' ui-opcion/radio'|expandir_variantes }}"
                      name="{{ name }}"
                      :value="item.id"
                      :checked="seleccionada === item.id"
                      :id="'{{ name }}-opt-'+index"
                    />
                  {% else %}
                    <input
                      type="checkbox"
                      :tabindex="index === 0 ? 0 : -1"
                      class="{{ c|add:' peer ui-opcion/checkbox' }}"
                      name="{{ name }}"
                      :value="item.id"
                      :checked="opcionesSeleccionadas.has(item.id)"
                      :id="'{{ name }}-opt-'+index"
                    />
                    {% include "componentes/checkbox-icono.html" with class="" %}
                  {% endif %}
                {% endwith %}
              </div>
              <span x-text="item.label"></span>
            </label>
          </li>
        </template>
      </ul>
    </div>
  </div>
</div>
