{% load static %}
{% load partials %}
{% load utilidades %}
{% load grupos_variantes %}

{% partialdef scripts %}
  <script defer src="{% static 'js/alpine-focus.min.js' %}"></script>
  <script defer src="{% static 'js/componentes/combobox.js' %}"></script>
{% endpartialdef scripts %}

<div
  class="{{ class|default:''|add:' col gap-1' }}"
  {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
  x-data="combobox({ 
    opciones: {% if opciones_por_script %}{{ opciones_por_script }}{% else %}{{ opciones|safe }}{% endif %},
    {% if multiple == 0 %}
    multiple: false,
    seleccionada: '{{ seleccionada|default_if_none:'' }}',
    {% else %}
    multiple: true,
    opcionesSeleccionadas: new Set({{ opciones_seleccionadas|default:''|safe }}),
    {% endif %}
    mostrarCantidad: {% if mostrar_cantidad %}true{% else %}false{% endif %},
  })"
  {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
  {% if not busqueda_activa %}
    @keydown="destacarPrimeraCoincidencia($event.key)"
  {% endif %}
  @keydown.esc.window="abierto = false, abiertoPorTeclado = false"
>
  <label
    for="{{ name }}-texto"
    class="{{ label_class|default:''|add:' pl-0.5 text-texto-sutil' }}"
  >
    {% if campo %}
      {{ campo.label }}
    {% else %}
      {{ label }}
    {% endif %}

    <input
      id="{{ name }}-texto"
      type="text"
      {% if multiple  == 0 %}
        :value="seleccionada"
      {% else %}
        {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
          :value="opcionesSeleccionadas.size ? Array.from(opcionesSeleccionadas).join(',') : ''"
        {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
      {% endif %}
      hidden
      {% if hx_post %}
        hx-post="{{ hx_post }}"
      {% elif hx_get %}
        hx-get="{{ hx_get }}"
      {% endif %}
    />
  </label>

  <div class="relative flex">
    <template
      {% if multiple == 0 %}
        x-if="!!seleccionada"
      {% else %}
        x-if="opcionesSeleccionadas.size"
      {% endif %}
    >
      <button
        type="button"
        aria-label="eliminar valores"
        data-btn-reiniciar
        @click="reiniciar()"
        class="peer ui-btn border border-[--transparente-2] bg-fondo-700 max-h-7.5 aspect-1 min-w-7 p-0.5 rounded-r-0 border-r-0! "
        {% if hx_post %}
          hx-post="{{ hx_post }}"
        {% elif hx_get %}
          hx-get="{{ hx_get }}"
        {% endif %}
      >
        {% include "componentes/iconos/edicion.html#x" with class="size-4" %}
      </button>
    </template>

    <div class="col gap-y-1 w-full peer-not-disabled:[&>button]:rounded-l-0">
      <button
        type="button"
        role="combobox"
        {% with c=" peer ui-elevado inline-flex justify-between gap-2 w-full outline-2 outline-#0000 outline-offset-2  focus-visible:outline-primario dark:focus-visible:outline-primario-600 rounded-campo whitespace-nowrap text-sm" %}
          {% if campo.errors %}
            class="{{ btn_class|default:''|add:c|add:' animate-head-shake animate-delay-200' }}"
          {% else %}
            class="{{ btn_class|default:''|add:' '|add:c }}"
          {% endif %}
        {% endwith %}
        aria-haspopup="listbox"
        aria-controls="{{ name }}-lista"
        {% if campo.errors %}
          aria-errormessage="{{ error_id }}" aria-invalid="true"
        {% endif %}
        x-ref="btn"
        @click="abierto = !abierto"
        @keydown.down.prevent="abiertoPorTeclado = true"
        @keydown.enter.prevent="abiertoPorTeclado = true"
        @keydown.space.prevent="abiertoPorTeclado = true"
        :aria-expanded="abierto || abiertoPorTeclado"
        {% if disabled %}
          :disabled="{{ disabled }}"
        {% endif %}
      >
        <span
          class="p-1 pl-3 pr-1 overflow-hidden text-ellipsis whitespace-nowrap"
        >
          {% if prefijo %}
            <span aria-hidden="true" class="{{ prefijo_class }}">
              {{ prefijo }}
            </span>
          {% endif %}

          <span
            class="{{ valor_class|default:''|add:' w-full empty:before:content-[attr(data-placeholder)] only-of-type:first-letter:uppercase' }}"
            data-placeholder="{{ placeholder|default:'Seleccionar...' }}"
            x-text="establecerTextoLabel()"
          ></span>
        </span>

        <div
          class="{{ caret_class|default:''|add:' fc h-full w-7 min-w-max border-l border-[--transparente-2] rounded-r-campo bg-fondo-700' }}"
        >
          {% include "componentes/iconos/caret.html#abajo" with class="size-5 size-min-max" %}
        </div>
      </button>

      {% if campo %}
        {% include "componentes/campo.html#campo_error" %}
      {% endif %}
    </div>

    <div
      role="listbox"
      id="{{ name }}-lista"
      {% if multiple  == 0 %}
        aria-multiselectable="false"
      {% else %}
        aria-multiselectable="true"
      {% endif %}
      class="{{ lista_clase|default:''|add:' absolute z-10 left-0 top-8.5 col max-h-45dvh w-full min-w-max max-w-350px ui-elevado overflow-y-auto empty:hidden' }}"
      {# al ser reemplazado por htmx, se muestra como si estuviera abierto, por lo que se oculta hasta que se interactúe con el trigger #}
      {% if campos_reemplazados_por_htmx %}
        style="display: none;"
      {% endif %}
      x-cloak
      x-trap="abiertoPorTeclado"
      x-show="abierto || abiertoPorTeclado"
      @click.outside="abierto = false, abiertoPorTeclado = false"
      @keydown="manejarTeclas($event, $focus)"
      @change="{{
        "
          if ($event.target.type !== 'text')
            seleccionarOpcion($event.target);

          if ($refs.btn.hasAttribute('aria-invalid')) {
            $refs.btn.setAttribute('aria-invalid', 'false');
            $refs.btn.removeAttribute('aria-errormessage');
          }
        "|reemplazar_espacios:''
      }}"
      x-transition
    >
      {% if busqueda_activa %}
        <label class="sticky top-0 z-1 bg-fondo-600">
          <span class="sr-only">Buscar</span>

          {% include "componentes/iconos/tabla.html#lupa" with class="absolute left-3 top-1/2 size-4 -translate-y-1/2" %}

          <input
            type="text"
            class="w-full border-b border-[--borde-caja] py-2 pl-10 pr-4 text-sm focus-visible:border-primario"
            name="busqueda"
            x-ref="busqueda"
            @input="q = $el.value"
            autocomplete="off"
            placeholder="Buscar"
          />
        </label>
      {% endif %}

      <ul class="py-1.5 select-none empty:hidden">
        {% if busqueda_activa %}
          <li
            class="hidden px-4 py-2 text-sm text-texto-sutil"
            x-ref="sinResultadosMsj"
          >
            No se encontraron resultados
          </li>
        {% endif %}

        <template x-if="opciones.length === 0">
          <li class="max-w-80 px-4 py-2 text-sm text-texto-sutil">
            {{ sin_opciones_msj|default:'No hay opciones para escoger' }}
          </li>
        </template>

        <template
          {% if busqueda_activa %}
            x-for="(item, index) in filtrarOpciones(opciones)"
          {% else %}
            x-for="(item, index) in opciones"
          {% endif %}
          :key="item.id"
        >
          <li
            role="option"
            {% if multiple == 0 %}
              :aria-selected="seleccionada == item.id"
            {% else %}
              :aria-selected="opcionesSeleccionadas.has(item.id)"
            {% endif %}
          >
            <label
              class="flex items-center gap-2.5 p-1.5 px-3"
              :for="'{{ name }}-opt-'+index"
            >
              <div
                class="size-4.5 size-min-4.5 relative [&>input::before,&>input::after]:content-['']"
              >
                {% with c="incluido-filtros combobox-opcion ui-opcion"|expandir_variantes %}
                  {% if multiple == 0 %}
                    <input
                      type="radio"
                      class="{{ c|add:' ui-opcion/radio'|expandir_variantes }}"
                      name="{{ name }}"
                      :value="item.id"
                      :checked="seleccionada === item.id"
                      :id="'{{ name }}-opt-'+index"
                    />
                  {% else %}
                    <input
                      type="checkbox"
                      :tabindex="index === 0 ? 0 : -1"
                      class="{{ c|add:' peer ui-opcion/checkbox' }}"
                      name="{{ name }}"
                      :value="item.id"
                      :checked="opcionesSeleccionadas.has(item.id)"
                      :id="'{{ name }}-opt-'+index"
                    />
                    {% include "componentes/checkbox-icono.html" with class="" %}
                  {% endif %}
                {% endwith %}
              </div>
              <span x-text="item.label"></span>
            </label>
          </li>
        </template>
      </ul>

      {% if mostrar_cantidad %}
        <div
          role="status"
          class="sticky bottom-0 col gap-y-1.5 p-1 px-2 border-t border-[--borde-caja] bg-fondo-600 text-sm"
          x-show="opciones.length > 0"
        >
          {% if busqueda_activa %}
            <span class="flex aic jb gap-x-2">
              <span class="text-texto-sutil">Se encontraron:</span>
              <b x-text="cantidadFiltradas"></b>
            </span>
          {% else %}
            <span class="flex aic jb gap-x-2">
              <span class="text-texto-sutil">Disponibles:</span>
              <b x-text="opciones.length"></b>
            </span>
          {% endif %}

          {% if multiple != 0 %}
            <hr class="h-1px border-[--borde-caja]" />

            <span class="flex aic jb gap-x-2">
              <span class="text-texto-sutil">Se seleccionaron:</span>
              <b x-text="opcionesSeleccionadas.size"></b>
            </span>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
