{% load partials %}
{% load grupos_variantes %}
{% load sekizai_tags %}
{% load utilidades %}

{% addtoblock "cabeza" %}
  <script>
    document.addEventListener("animationend", (e) => {
      /** @type {HTMLLIElement} */
      const $el = e.target;

      if ($el.classList.contains("ui-msg")) {
        switch ($el.getAttribute("data-estado")) {
          case "abriendo": {
            const customDelay = parseInt($el.getAttribute("data-retraso"));

            if (Number.isInteger(customDelay) && customDelay > 0)
              $el.style.setProperty("--retraso", `${customDelay}ms`);

            // {# conteo hasta cerrar (se usa el delay de la animación) #}
            return $el.setAttribute("data-estado", "cerrando");
          }
          case "cerrando":
            return ($el.onanimationend = () => $el.remove());
        }
      }
    });
  </script>

  <style>
    @keyframes encoger {
      0% {
        width: 100%;
      }
      100% {
        width: 0;
      }
    }
  </style>
{% endaddtoblock %}

<div
  role="region"
  tabindex="-1"
  aria-label="Notificaciones"
  class="{{ "fixed bottom-0 w-full sidebar:(w-300px right-0)"|expandir_variantes }}"
>
  <ol class="col gap-y-1" id="lista-mensajes" tabindex="-1">
    {% for message in messages %}
      {% partial msg %}
    {% endfor %}
  </ol>
</div>

{% partialdef msg %}
  <li
    tabindex="0"
    role="status"
    aria-atomic="true"
    aria-live="assertive"
    data-estado="abriendo"
    {% if 'retraso=' in message.extra_tags %}
      data-retraso={{ message.extra_tags|encontrar_retraso }}
    {% endif %}
    class="ui-msg {{ message.tags }}"
  >
    {{ message }}
    <button
      type="button"
      aria-label="Cerrar"
      class="ui-btn rounded-full size-6 p-1"
      onclick="this.parentElement.remove()"
    >
      {% include "componentes/iconos/x.html" %}
    </button>
  </li>
{% endpartialdef msg %}

{% partialdef como_respuesta %}
  {% for message in messages %}
    <div hx-swap-oob="beforeend:#lista-mensajes">{% partial msg %}</div>
  {% endfor %}
{% endpartialdef como_respuesta %}
