{% load partials %}
{% load static %}
{% load sekizai_tags %}
{% load utilidades %}

{% addtoblock "cabeza" %}
  <script defer src="{% static 'js/componentes/mensajes.js' %}"></script>

  <style>
    @keyframes encoger {
      0% {
        width: 100%;
      }
      100% {
        width: 0;
      }
    }
  </style>
{% endaddtoblock %}

<div
  role="region"
  tabindex="-1"
  aria-label="Notificaciones"
  class="fixed bottom-0 w-full sidebar:w-300px sidebar:right-0"
>
  <ol class="col gap-y-1" id="lista-mensajes" tabindex="-1">
    {% for message in messages %}
      {% partial msg %}
    {% endfor %}
  </ol>

  <template id="msg-template"> {% partial msg %} </template>
</div>

{% partialdef msg %}
  <li
    tabindex="0"
    role="status"
    aria-atomic="true"
    aria-live="assertive"
    data-estado="abriendo"
    {% if 'eterno' in message.extra_tags %}
      data-eterno
    {% elif 'retraso=' in message.extra_tags %}
      data-retraso={{ message.extra_tags|encontrar_retraso }}
    {% endif %}
    class="ui-msg {{ message.tags }}"
  >
    {{ message }}
    <button
      type="button"
      aria-label="Cerrar"
      class="ui-btn rounded-full size-6 p-1"
      onclick="this.parentElement.remove()"
    >
      {% include "componentes/iconos/x.html" %}
    </button>
  </li>
{% endpartialdef msg %}

{% partialdef como_respuesta %}
  {% for message in messages %}
    <div hx-swap-oob="beforeend:#lista-mensajes">{% partial msg %}</div>
  {% endfor %}
{% endpartialdef como_respuesta %}
