{% load utilidades %}
{% load grupos_variantes %}

{% with lista=lista|json_decode %}
  <nav
    class="border-b border-[--transparente-3]"
    x-data="{
    actualizar() {
        pestaña = location.hash 
          ? decodeURIComponent(location.hash.slice(1))
          : (pestaña = '{{ lista.0.id }}')
      }
    }"
    @hashchange.window="actualizar()"
    x-init="actualizar()"
  >
    <ul class="ui-lista-pestañas">
      {% for pestaña in lista %}
        <li>
          <a
            href="#{{ pestaña.id }}"
            :aria-current="pestaña === '{{ pestaña.id }}' ? 'true' : 'false'"
            class="ui-pestaña {{ 'pover:(border-primario-600 text-primario-600 dark:text-primario-900 bg-primario-50/50 dark:bg-primario-800/15) aria-[current=true]:(border-primario-600 text-primario-600 dark:text-primario-900 bg-primario-50/50 dark:bg-primario-800/15)'|expandir_variantes }}"
          >
            {{ pestaña.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endwith %}
