<div
  {% if id %}
    id="{{ id }}"
  {% endif %}
  class="pestañas {{ class }}"
  {% if vertical %}
    aria-orientation="vertical"
  {% else %}
    aria-orientation="horizontal"
  {% endif %}
  hx-vals="{{ hx_vals }}"
  hx-indicator="{{ hx_indicator }}"
  hx-swap="{{ hx_swap|default:'innerHTML' }}"
  hx-target="#{{ contenido_id }}"
  data-nombre_parametro="{{ nombre_parametro|default:"pestaña" }}"
>
  <div class="lista-pestañas" role="tablist">
    {% for pestaña in lista_pestañas %}
      <button
        hx-get="{{ hx_get }}"
        data-pestaña-nombre="{{ pestaña.nombre }}"
        hx-vals='js:{"{{ nombre_parametro|default:"pestaña" }}": this.getAttribute("data-pestaña-nombre")}'
        class="pestaña"
        role="tab"
        {% if pestaña.es_inicial %}
          aria-selected="true"
        {% else %}
          aria-selected="false"
        {% endif %}

        {% if not pestaña.es_inicial %}
          tabindex="-1"
        {% endif %}
        aria-controls="{{ contenido_id }}"
      >
        {{ pestaña.texto }}
      </button>
    {% endfor %}
  </div>
</div>
