{% load utilidades %}
{% load partials %}
{% load static %}
{% load sekizai_tags %}

{% partialdef tabla_style %}
  {% include "componentes/tabla-style.html" with rango_columnas=columnas_ocultables|length|convertir_a_rango %}
{% endpartialdef tabla_style %}

{% if not tabla_reemplazada_por_htmx %}
  {% addtoblock "cabeza" %}
    {# estilos generales #}
    <link rel="stylesheet" href="{% static 'css/componentes/tabla.css' %}" />
    {% partial tabla_style %}

    <script defer src="{% static 'js/alpine-focus.min.js' %}"></script>

    {# script para cambiar la fila sticky a medida que se hace scroll #}
    <script src="{% static 'js/componentes/tabla-con-fila-sticky.js' %}"></script>

    <script>
      document.addEventListener("alpine:initialized", () => {
        new TablaConFilaSticky("{{ tabla_contenedor_id }}");
      });
    </script>
  {% endaddtoblock %}
{% else %}
  <head>
    {% partial tabla_style %}
  </head>
{% endif %}

<div
  {% if tabla_contenedor_id %}
    id="{{ tabla_contenedor_id }}"
  {% endif %}
  class="{{ contenedor_class|default:''|add:' contenedor-tabla' }}"
  x-data="{
    indiceColActual: {{ indice_col_actual|default:0 }},
    tituloColActual: '{{ titulo_col_actual }}',
    anteriorCol() {
      if (this.indiceColActual > 0) this.indiceColActual--;
    },
    siguienteCol() {
      if (this.indiceColActual < this.columnasOcultables.length - 1)
        this.indiceColActual++;
    },
    columnasOcultables: {{ columnas_ocultables }},
    filasSeleccionadas: new Set(),
    ids: new Set(),
    shiftKey: false,
    ultimaSeleccionadaIndice: null
  }"
  x-effect="$el.$(`th[data-i='${indiceColActual}']>div`).appendChild($el.$('#columna-cambiador'));"
  x-init="$el.$$('[name=filas_id]').forEach((el) => ids.add(el.value))"
>
  <table
    {% if page_obj.paginator.num_pages > 1 %}
      class="{{ class|default:""|add:" tabla rounded-b-0! border-b-0! [&_tr:last-child>_td]:rounded-0! [&_tr:last-child>_td]:border-b-0" }}"
    {% else %}
      class="{{ class|default:""|add:" tabla" }}"
    {% endif %}
    {% if id %}
      id="{{ id }}"
    {% endif %}
    :data-i="indiceColActual"
    @keydown.delete="if ($event.target.matches('input') && filasSeleccionadas.size) (modalAbierto = 'eliminar')"
    @change="{{
      "
        const el = $event.target;
        if (el.id === 'seleccionar-todos') {
          ultimaSeleccionadaIndice = null;
          filasSeleccionadas.size === ids.size ? filasSeleccionadas.clear() : filasSeleccionadas = new Set(ids)
        }
        else if (el.name === 'filas_id') {
          if (shiftKey && ultimaSeleccionadaIndice !== null) {
            const start = Math.min(ultimaSeleccionadaIndice, el.dataset.i);
            const end = Math.max(ultimaSeleccionadaIndice, el.dataset.i);

            let i = 0;
            ids.forEach((id) => {
              if (i >= start && i <= end) filasSeleccionadas.add(id);
              i++;
            })
          }
          else {
            ultimaSeleccionadaIndice = el.dataset.i;
            el.checked
              ? filasSeleccionadas.add(el.value)
              : filasSeleccionadas.delete(el.value)
          }
        }
      "|reemplazar_espacios:' '
    }}"
  >
    <thead>
      <tr>
        <th class="fila-check w-4">
          <div class="relative fc size-4">
            <input
              type="checkbox"
              class="peer ui-opcion ui-opcion/checkbox cursor-pointer"
              id="seleccionar-todos"
              aria-label="Seleccionar todas las filas"
              :checked="filasSeleccionadas.size === ids.size"
            />
            {% include "componentes/checkbox-icono.html" with class="pointer-events-none" %}
          </div>
        </th>

        <th class="fila-n numeros">#</th>

        {% for columna in columnas %}
          <th
            {% if forloop.counter >= 2 %}
              data-i="{{ -2|add:forloop.counter }}"
            {% endif %}
            {% if columna.alinear == "derecha" %}
              class="text-right!"
            {% endif %}
          >
            <div class="flex aic justify-between gap-x-4">
              {{ columna.titulo }}

              {% if forloop.first %}
                {% partial columna_cambiador %}
              {% endif %}
            </div>
          </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody
      @keyup="if (!$event.shiftKey) shiftKey = false"
      @keydown="{{
        "
          if ($event.shiftKey) shiftKey = true;
          if ($event.target.matches('input')) {
            switch ($event.key) {
              case 'ArrowDown': {
                $event.preventDefault();
                return $focus.wrap().next();
              }
              case 'ArrowUp': {
                $event.preventDefault();
                return $focus.wrap().previous();
              }
              case 'Home': {
                $event.preventDefault();
                return $focus.first();
              }
              case 'End': {
                $event.preventDefault();
                return $focus.last();
              }
            }
          }
        "|reemplazar_espacios:' '
      }}"
    >
      {% for objeto in lista_objetos %}
        <tr data-indice="{{ forloop.counter0 }}">
          <td class="fila-check w-4">
            <div class="relative fc size-4">
              <input
                name="filas_id"
                value="{{ objeto.id }}"
                data-i="{{ forloop.counter0 }}"
                :checked="filasSeleccionadas.has($el.value)"
                class="peer ui-opcion ui-opcion/checkbox cursor-pointer"
                type="checkbox"
                aria-label="Seleccionar fila"
                {% if not forloop.first %}
                  tabindex="-1"
                {% endif %}
              />
              {% include "componentes/checkbox-icono.html" with class="pointer-events-none" %}
            </div>
          </td>

          <td class="fila-n numeros">
            {% if page_obj.paginator.num_pages > 1 %}
              {% with total_anterior=page_obj.number|add:-1|multiplicar:view.paginate_by %}
                {# se multiplica la cantidad por página de acuerdo a la cantidad recorrida y la cantidad de objetos por página y se le añade cada valor del ciclo actual #}
                {{ total_anterior|add:forloop.counter }}
              {% endwith %}
            {% else %}
              {{ forloop.counter }}
            {% endif %}
          </td>

          {# manejar todas las columnas manualmente #}
          {% if url_parcial_columnas %}
            {% include url_parcial_columnas %}

            {# se ahorra el ciclo #}
          {% else %}
            {% for columna in columnas %}
              {%
                with
                clave=columna.clave
                anterior_i=forloop.parentloop.counter0|add:-1
                siguiente_i=forloop.parentloop.counter0|add:1
              %}
                {%
                  with
                  dato=objeto|valor_por_clave:clave
                  dato_anterior=lista_objetos|valor_por_indice:anterior_i|valor_por_clave:clave
                  dato_siguiente=lista_objetos|valor_por_indice:siguiente_i|valor_por_clave:clave
                %}
                  <td
                    {% if columna.alinear == "derecha" %}
                      class="text-right!"
                    {% endif %}

                    {% if forloop.counter >= 2 %}
                      data-i="{{ -2|add:forloop.counter }}"
                    {% endif %}

                    {% if not forloop.parentloop.first and dato == dato_anterior %}
                      data-igual-anterior
                    {% elif not forloop.parentloop.last and dato == dato_siguiente %}
                      data-me-voy-a-repetir
                    {% endif %}
                  >
                    {# se pasa a todas las columnas un parcial común #}
                    {% if url_parcial_td_contenido %}
                      {% include url_parcial_td_contenido %}

                      {# si no se pasa nada, mostrar todas las columnas sin cambios #}
                    {% else %}
                      {{ objeto|valor_por_clave:columna.clave }}
                    {% endif %}
                  </td>
                {% endwith %}
              {% endwith %}
            {% endfor %}
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "componentes/paginacion.html" %}

  {% if url_parcial_acciones %}
    <div
      class="sticky bottom-0 z-3 w-full flex flex-wrap aic justify-between gap-y-2 gap-x-6 p-2 px-3 bg-secundario-400 text-secundario-texto max-[500px]:text-sm transition-[transform,opacity] duration-200 ease-in-out"
      x-cloak
      x-show="filasSeleccionadas.size > 0"
      x-transition:enter-start="opacity-0 -translate-y-1"
      x-transition:enter-end="opacity-100 translate-y-0"
      x-transition:leave-start="opacity-100 translate-y-0"
      x-transition:leave-end="opacity-0 translate-y-1"
    >
      <span
        x-show="filasSeleccionadas.size < ids.size"
        class="tracking-wide space-x-0.5"
      >
        <span class="font-500" x-text="filasSeleccionadas.size"></span>
        <span class="opacity-80">de</span>
        <span class="font-500" x-text="ids.size"></span>
        <span class="opacity-80">seleccionadas</span>
      </span>

      <span x-show="filasSeleccionadas.size === ids.size">
        Todas las filas seleccionadas
      </span>

      <div
        class="relative w-fit"
        x-data="{ abierto: false, abiertoPorTeclado: false }"
        @keydown.escape="if (!$event.target.closest('dialog')) abierto = abiertoPorTeclado = false"
        @click.outside="if (!$event.target.closest('dialog')) abierto = abiertoPorTeclado = false"
      >
        <button
          type="button"
          aria-haspopup="true"
          :aria-expanded="abierto || abiertoPorTeclado"
          class="group ui-btn ui-btn/sm jb bg-#fff2 outline-offset-2 whitespace-nowrap text-sm font-medium pover:bg-#fff3 aria-expanded:bg-#fff3"
          @click="abierto = !abierto"
          @keydown="{{
            "
              if (1) {
                switch ($event.key) {
                  case ' ':
                  case 'Enter':
                  case 'ArrowUp':
                    $event.preventDefault();
                    abiertoPorTeclado = true;
                }
              }
            "
            |reemplazar_espacios:' '
          }}"
        >
          Acciones
          {% include "componentes/iconos/caret.html#arriba" with class="group-aria-expanded:-rotate-180" %}
        </button>

        <div
          role="menu"
          x-cloak
          x-transition
          x-show="abierto || abiertoPorTeclado"
          x-trap="abiertoPorTeclado"
          hx-swap="outerHTML"
          hx-target="#{{ tabla_contenedor_id }}"
          x-trap="abiertoPorTeclado"
          @keydown.down.prevent="$focus.wrap().next()"
          @keydown.up.prevent="$focus.wrap().previous()"
          @keydown.esc="abierto = false; abiertoPorTeclado = false;"
          class="absolute bottom-[calc(100%+12px)] right-0 col py-1 w-fit rounded bg-secundario-400 shadow-xl"
        >
          {% with accion_btn_class="flex aic gap-x-2 p-2 px-3 cursor-pointer transition-colors select-none text-sm whitespace-nowrap not-[[aria-selected=true],[aria-disabled=true]]:pover:bg-#fff2 aria-disabled:opacity-50 aria-disabled:cursor-not-allowed" %}
            {% include url_parcial_acciones %}
          {% endwith %}
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% partialdef columna_cambiador %}
  <div id="columna-cambiador">
    <select
      id="cambiar-columna"
      aria-label="Cambiar columna"
      class="peer appearance-none absolute top-0 left-0 size-full -outline-offset-2 pl-2 pr-8 bg-fondo-600 not-focus:w-[calc(100%-63px)] not-focus:cursor-pointer not-focus:opacity-0 focus-visible:outline-2 focus:outline-current"
      x-model="indiceColActual"
      @change="indiceColActual = $event.target.value"
    >
      <template x-for="(titulo, indice) in columnasOcultables" :key="indice">
        <option :value="indice" x-text="titulo"></option>
      </template>
    </select>

    {% include "componentes/iconos/caret.html#abajo" with class="absolute top-50% right-1 size-5 size-min-max -translate-y-50% peer-not-focus:opacity-0 pointer-events-none" %}

    <div
      class="flex aic gap-x-2.5 [&_svg]:size-3.5 peer-focus:opacity-0 peer-focus:pointer-events-none"
    >
      <button
        class="ui-btn z-1 rounded-full size-5 text-texto-sutil bg-[--transparente-1] pover:bg-[--transparente-2]"
        @click="anteriorCol()"
        :disabled="indiceColActual === 0"
        aria-label="Columna anterior"
      >
        {% include "componentes/iconos/flecha.html#izquierda" with class="" %}
      </button>

      <button
        class="ui-btn z-1 rounded-full size-5 text-texto-sutil bg-[--transparente-1] pover:bg-[--transparente-2]"
        @click="siguienteCol()"
        :disabled="indiceColActual === columnasOcultables.length - 1"
        aria-label="Siguiente columna"
      >
        {% include "componentes/iconos/flecha.html#derecha" with class="" %}
      </button>
    </div>
  </div>
{% endpartialdef columna_cambiador %}
