{% extends "componentes/vista-lista/lista.html" %}
{% load utilidades %}
{% load partials %}
{% load static %}
{% load sekizai_tags %}

{% block contenedor %}
  {% with contenedor_class="contenedor-tabla" contenedor_lista_class="max-sidebar:overflow-unset" %}
    {{ block.super }}
  {% endwith %}
{% endblock contenedor %}

{% block lista %}
  {% if tabla_reemplazada_por_htmx %}
    <head>
      {% include "componentes/tabla-adaptable/cabeza.html#tabla_estilos" %}
    </head>
  {% endif %}

  <table
    x-bind="eventosLista"
    {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
      x-data="tablaAdaptable({
        hayColumnasOcultables: {% if view.columnas_mostradas|length > 1 %}true{% else %}false{% endif %},
        {% if view.columnas_mostradas|length > 1 %}
          indiceColActual: {{ indice_col_actual|default:0 }},
          tituloColActual: '{{ titulo_col_actual|default_if_none:view.columnas_ocultables.0 }}',
          columnasOcultables: {{ view.columnas_ocultables|default:"[]" }},
        {% endif %}
      })"
    {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
    {% if page_obj.paginator.num_pages > 1 %}
      class="{{ tabla_class|default:''|add:' tabla rounded-b-0! border-b-0! [&_tr:last-child>_td]:rounded-0! [&_tr:last-child>_td]:border-b-0' }}"
    {% else %}
      class="{{ tabla_class|default:''|add:' tabla' }}"
    {% endif %}
    {% if view.columnas_mostradas|length > 1 %}
      :data-i="indiceColActual"
    {% endif %}
  >
    {% with columnas=view.columnas_mostradas %}
      <thead>
        <tr>
          <th class="fila-check w-4">
            <button
              type="checkbox"
              autocomplete="off"
              id="seleccionar-todos"
              aria-label="Seleccionar todas las filas"
              @click="alternarSeleccionTodo()"
            >
              {% include "componentes/iconos/edicion.html#seleccionar_todo" with class="size-5" %}
            </button>
          </th>

          <th class="fila-n numeros">#</th>

          {% for columna in columnas %}
            <th
              {% if forloop.counter >= 2 %}
                data-i="{{ -2|add:forloop.counter }}"
              {% endif %}
              {% if columna.alinear == "derecha" %}
                class="text-right!"
              {% elif columna.alinear == "centro" %}
                class="text-center!"
              {% endif %}
            >
              <div class="flex aic justify-between gap-x-4">
                {{ columna.titulo }}

                {% if forloop.first and view.columnas_mostradas|length > 1 %}
                  {% include "componentes/tabla-adaptable/selector-columna.html" %}
                {% endif %}
              </div>
            </th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for objeto in lista_objetos %}
          {% block filas %}
            <tr data-indice="{{ forloop.counter0 }}">
              {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
                <td class="fila-check w-4">{% if not objeto.no_seleccionable %}
                    {% partialdef fila_check inline %}
                      <div class="relative fc size-4">
                        <input
                          name="filas_id"
                          value="{{ objeto.id }}"
                          data-i="{{ forloop.counter0 }}"
                          :checked="filasSeleccionadas.has({{ objeto.id }})"
                          class="peer ui-opcion ui-opcion/checkbox cursor-pointer"
                          type="checkbox"
                          autocomplete="off"
                          aria-label="Seleccionar fila"
                          {% if not forloop.first %}
                            tabindex="-1"
                          {% endif %}
                        />
                        {% include "componentes/checkbox-icono.html" with class="pointer-events-none" %}
                      </div>
                    {% endpartialdef fila_check %}
                  {% endif %}</td>
                {% comment %}<!-- prettier-ignore-end -->{% endcomment %}

              <td class="fila-n numeros">
                {% if page_obj.paginator.num_pages > 1 %}
                  {% with total_anterior=page_obj.number|add:-1|multiplicar:view.paginate_by %}
                    {# se multiplica la cantidad por página de acuerdo a la cantidad recorrida y la cantidad de objetos por página y se le añade cada valor del ciclo actual #}
                    {% include "componentes/tabla-adaptable/enlace-editar.html" with dato=total_anterior|add:forloop.counter %}
                  {% endwith %}
                {% else %}
                  {% include "componentes/tabla-adaptable/enlace-editar.html" with dato=forloop.counter %}
                {% endif %}
              </td>

              {% for columna in columnas %}
                {%
                  with
                  clave=columna.clave
                  anterior_i=forloop.parentloop.counter0|add:-1
                  siguiente_i=forloop.parentloop.counter0|add:1
                %}
                  {%
                    with
                    dato=objeto|valor_por_clave:clave
                    dato_anterior=lista_objetos|valor_por_indice:anterior_i|valor_por_clave:clave
                    dato_siguiente=lista_objetos|valor_por_indice:siguiente_i|valor_por_clave:clave
                  %}
                    <td
                      {% if columna.alinear == "derecha" %}
                        class="text-right!"
                      {% elif columna.alinear == "centro" %}
                        class="text-center!"
                      {% endif %}

                      {% if forloop.counter >= 2 %}
                        data-i="{{ -2|add:forloop.counter }}"
                      {% endif %}

                      {% if dato is not None and dato != '' %}
                        {% if not forloop.parentloop.first and dato == dato_anterior %}
                          data-repetido
                        {% elif not forloop.parentloop.last and dato == dato_siguiente %}
                          data-se-repite
                        {% endif %}
                      {% endif %}
                    >
                      {% block td %}
                        {{ dato|default_if_none:'' }}
                      {% endblock td %}
                    </td>
                  {% endwith %}
                {% endwith %}
              {% endfor %}
            </tr>
          {% endblock filas %}
        {% endfor %}
      </tbody>
    {% endwith %}
  </table>
{% endblock lista %}
