{% load grupos_variantes %}

{% if page_obj.paginator.num_pages > 1 %}
  <div
    {% if id %}
      id="{{ id }}"
      {% if reemplazar %}
        hx-swap-oob="outerHTML:#{{ id }}"
      {% endif %}
    {% endif %}
    class="{{ class|default:''|add:' sticky bottom-0 flex flex-wrap aic justify-between gap-y-2 gap-x-6 w-full p-2 px-3 border border-[--borde-caja] bg-fondo-500 max-[500px]:text-sm' }}"
    hx-indicator="#indicador-pagina"
    hx-include="[data-filtro]"
  >
    <div class="flex aic gap-x-2">
      <div
        id="indicador-pagina"
        class="htmx-indicator fc"
        role="status"
        aria-label="Cargando página..."
      >
        <div class="ui-loader ui-loader/primario"></div>
      </div>

      <p class="min-w-max" role="status">
        Página <b>{{ page_obj.number }}</b> de
        <b>{{ page_obj.paginator.num_pages }}</b>
      </p>
    </div>

    <nav>
      <ul
        class="{{ 'flex flex-wrap gap-1.5 [&_button]:(ui-btn size-7 aspect-square gap-2 p-[.25rem_.625rem] font-600 ui-elevado-2 border-[--transparente-2] select-none)'|expandir_variantes }}"
      >
        {% if page_obj.has_previous %}
          <li>
            <button
              {% if view.form_filtros %}
                hx-post
              {% else %}
                hx-get
              {% endif %}
              hx-vals='{"page": 1, "solo_tabla": true }'
              class="p-0!"
              aria-label="Primera página"
            >
              <svg
                class="size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m17 18-6-6 6-6" />
                <path d="M7 6v12" />
              </svg>
            </button>
          </li>

          {% if page_obj.previous_page_number != 1 %}
            <li>
              <button
                {% if view.form_filtros %}
                  hx-post
                {% else %}
                  hx-get
                {% endif %}
                hx-vals='{"page": {{ page_obj.previous_page_number }}, "solo_tabla": true }'
                class="p-0!"
                aria-label="Página anterior"
              >
                {% include "componentes/iconos/caret.html#izquierda" with class="size-5" %}
              </button>
            </li>
          {% endif %}
        {% endif %}

        {% if page_obj.number|add:'-3' > 1 %}
          <li>
            <button
              {% if view.form_filtros %}
                hx-post
              {% else %}
                hx-get
              {% endif %}
              hx-vals='{"page": {{ page_obj.number|add:"-4" }}, "solo_tabla": true }'
              aria-label="Ir a la página {{ page_obj.number|add:'-4' }}"
            >
              &hellip;
            </button>
          </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li>
              {% comment %}
                este input se usa para poder enviar la página actual junto con
                los demás filtros
              {% endcomment %}
              <input
                name="pagina"
                type="number"
                readonly
                disabled
                class="sr-only incluido-filtros"
                value="{{ num }}"
                aria-label="Página actual"
              />
              <button aria-hidden="true" class="ui-btn/primario!">
                {{ num }}
              </button>
            </li>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li>
              <button
                class="ui-elevado"
                {% if view.form_filtros %}
                  hx-post
                {% else %}
                  hx-get
                {% endif %}
                hx-vals='{"page": {{ num }}, "solo_tabla": true }'
                aria-label="Ir a la página {{ num }}"
              >
                {{ num }}
              </button>
            </li>
          {% endif %}
        {% endfor %}

        {% if page_obj.paginator.num_pages > page_obj.number|add:'3' %}
          <li>
            <button
              {% if view.form_filtros %}
                hx-post
              {% else %}
                hx-get
              {% endif %}
              hx-vals='{"page": {{ page_obj.number|add:"4" }}, "solo_tabla": true }'
              aria-label="Ir a la página {{ page_obj.number|add:'4' }}"
            >
              &hellip;
            </button>
          </li>
        {% endif %}

        {% if page_obj.has_next %}
          {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            <li>
              <button
                {% if view.form_filtros %}
                  hx-post
                {% else %}
                  hx-get
                {% endif %}
                hx-vals='{"page": {{ page_obj.next_page_number }}, "solo_tabla": true }'
                class="p-0!"
                aria-label="Página siguiente"
              >
                {% include "componentes/iconos/caret.html#derecha" with class="size-5" %}
              </button>
            </li>
          {% endif %}
          <li>
            <button
              {% if view.form_filtros %}
                hx-post
              {% else %}
                hx-get
              {% endif %}
              hx-vals='{"page": {{ page_obj.paginator.num_pages }}, "solo_tabla": true }'
              class="p-0!"
              aria-label="Última página"
            >
              <svg
                class="size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m7 18 6-6-6-6" />
                <path d="M17 6v12" />
              </svg>
            </button>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endif %}
