<div id="selector-columna">
  <select
    id="cambiar-columna"
    aria-label="Cambiar columna"
    class="peer appearance-none absolute top-0 left-0 size-full -outline-offset-2 pl-2 pr-8 bg-fondo-600 not-focus:w-[calc(100%-63px)] not-focus:cursor-pointer not-focus:opacity-0 focus-visible:outline-2 focus:outline-current"
    x-model="indiceColActual"
    @change="indiceColActual = $event.target.value"
  >
    <template x-for="(titulo, indice) in columnasOcultables" :key="indice">
      <option :value="indice" x-text="titulo"></option>
    </template>
  </select>

  {% include "componentes/iconos/caret.html#abajo" with class="absolute top-50% right-1 size-5 size-min-max -translate-y-50% peer-not-focus:opacity-0 pointer-events-none" %}

  <div
    class="flex aic gap-x-2.5 [&_svg]:size-3.5 peer-focus:opacity-0 peer-focus:pointer-events-none"
  >
    <button
      class="ui-btn z-1 rounded-full size-5 text-texto-sutil bg-[--transparente-1] pover:bg-[--transparente-2]"
      @click="anteriorCol()"
      :disabled="indiceColActual === 0"
      aria-label="Columna anterior"
    >
      {% include "componentes/iconos/flecha.html#izquierda" with class="" %}
    </button>

    <button
      class="ui-btn z-1 rounded-full size-5 text-texto-sutil bg-[--transparente-1] pover:bg-[--transparente-2]"
      @click="siguienteCol()"
      :disabled="indiceColActual === columnasOcultables.length - 1"
      aria-label="Siguiente columna"
    >
      {% include "componentes/iconos/flecha.html#derecha" with class="" %}
    </button>
  </div>
</div>
