img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

form {
  max-width: 350px;
  width: 90%;
  padding: 16px;
  border: 1px solid #0002;
  border-radius: var(--radio-caja);
  background: var(--color-fondo-500);
}

form h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

input {
  width: 100%;
  padding: 4px 8px;
  border: 1px solid #0001;
  border-radius: var(--radio-campo);
  background-color: var(--color-fondo-700);
}

.error {
  order: 1;
  color: var(--color-error-500);
  font-size: .9rem;
}

input[aria-invalid=true] {
  border: 1px solid var(--color-error-500);
}

input:not([aria-invalid=true])~.error {
  display: none;
}

[role=alert] {
  background: var(--color-error-500);
  color: var(--color-texto-error);
  padding: .5em 1em;
  border-radius: 4px;
}

form button {
  background: var(--color-primario-500);
  color: var(--color-texto-primario);
  padding: 8px 16px;
  border-radius: var(--radio-campo);
  border: none;
  width: 100%;
  margin-top: 1.75rem;
}

#ir-registro {
  text-align: center;
  margin-top: 1rem;
}

#ir-registro a {
  margin-left: 4px;
}