main,
main form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

main {
  align-items: center;
  justify-content: center;
  gap: .5rem;
  height: calc(100% - var(--altura-header));
}

main h1 {
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
}

main form {
  gap: 1rem;
  width: 100%;
  max-width: 350px;
}

#submit {
  margin-top: .75rem;
}