main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

form {
  max-width: 350px;
  width: 90%;
  padding: 16px;
}

form h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}


[role=alert] {
  background: var(--color-peligro-500);
  color: var(--color-texto-peligro);
  padding: .5em 1em;
  border-radius: 4px;
}

form button {
  background: var(--color-primario-500);
  color: var(--color-texto-primario);
  padding: 8px 16px;
  border-radius: var(--radio-campo);
  border: none;
  width: 100%;
  font-weight: 700;
  margin-top: 1.75rem;
}

#ir-registro {
  text-align: center;
  margin-top: 1rem;
}

#ir-registro a {
  margin-left: 4px;
}