main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  padding: 1rem 0;
  min-height: calc(100% - var(--altura-header));
}

img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

form {
  max-width: 350px;
  width: 90%;
  padding: 16px;
}

form h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}