main form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
}

main form hr {
  width: 100%;
  border-top: 1px solid var(--borde-caja);
}

#titulo {
  font-size: 1.375em;
}

#titulo,
#nombre-usuario,
main form h2 {
  font-weight: bold;
}

main header {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: space-between;
}

main .enlaces {
  display: flex;
  column-gap: .75rem;
  row-gap: .25rem;
  align-items: center;
  flex-wrap: wrap;
}

#cerrar-sesion svg {
  height: .875rem;
  width: .875rem;
  transform: scaleX(-1) translateY(1px);
}

#nombre-usuario,
main form h2 {
  font-size: 1.25em;
}

#nombre-usuario {
  margin-bottom: .125rem;
}

main .arroba {
  color: var(--color-secundario-400);
  margin-right: .25rem;
  font-size: 1.2em;
}

.oscuro main .arroba {
  color: var(--color-secundario-700)
}

#rol {
  font-style: italic;
  color: var(--texto-sutil);
  text-transform: lowercase;
}

#rol svg {
  height: 1.25em;
  width: 1.25em;
  margin-right: .125em;
}

#foto-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

#imagen-contenedor {
  position: relative;
}


#foto {
  width: 11rem;
  height: 11rem;
  border: 7px solid #fffa;
  box-shadow: 0 0 10px #0001, 0 7px 15px #0001;
  object-fit: cover;
}

#foto,
#ver-foto {
  border-radius: 50%;
}

.oscuro #foto {
  border-color: #fff3;
  box-shadow: none;
}

#foto-botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: .5rem;
  row-gap: .5rem;
}

.foto-btn {
  padding: .375rem .75rem;
}

.foto-btn svg {
  height: 1.25em;
  width: 1.25em;
}

#subir-foto {
  cursor: pointer;
}

@media only screen and (hover: hover) and (pointer: fine) {

  input:focus+#subir-foto {
    outline: 2px solid #000;
    outline-offset: 1px;
  }

  .oscuro input:focus+#subir-foto {
    outline-color: #fff;
  }
}

#ver-foto {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #0000;
  outline: none;
  transition: border-color .2s ease;
}

@media only screen and (hover: hover) and (pointer: fine) {

  #ver-foto:focus-visible {
    border-color: var(--color-primario-500);
  }

  .oscuro #ver-foto:focus-visible {
    border-color: var(--color-primario-700);
  }
}

#datos {
  display: flex;
  flex-direction: column;
}

#datos label {
  color: var(--texto-sutil);
}

#datos>div {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  padding: .5em;
}

#submit {
  margin-top: auto;
}

.datos-contenedor {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

@media screen and (max-width: 500px) {
  .foto-btn {
    font-size: .9em;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px),
screen and (min-width: 900px) {

  #foto-botones {
    flex-direction: column;
  }

  #foto-contenedor {
    column-gap: 2rem;
    flex-direction: row;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  #foto-contenedor {
    justify-content: center;
  }
}

@media screen and (min-width: 525px) and (max-width: 600px) {
  main form {
    padding: 1.25rem;
  }
}

@media screen and (min-width: 525px) and (max-width: 700px) {
  #datos>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

@media screen and (min-width: 600px) {
  main form {
    padding: 2rem;
  }
}

@media screen and (max-width: 700px) {

  #datos,
  #foto-contenedor {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 700px) {
  main form {
    display: grid;
    /* auto es el segundo hr */
    grid-template-columns: 1fr auto 1fr;
    column-gap: 1.5rem;
  }

  main form hr:first-of-type,
  main form>header {
    grid-column: span 3;
  }

  main form hr:nth-of-type(2) {
    height: 100%;
    width: 1px;
    background: var(--borde-caja);
  }

  main header {
    flex-direction: row;
    align-items: center;
  }

  main .enlaces {
    flex-direction: column;
    align-items: start;
  }

  #submit {
    margin-left: auto;
  }
}