main {
  padding: 1rem;
  max-width: 1100px;
  margin: 0 auto;
}

th:not(.numeros) {
  min-width: 200px;
}

#lapsos {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.lapso {
  display: block;
  padding: .25rem .5rem;
  background: var(--color-fondo-500);
  border: 1px solid #0002;
  border-radius: var(--radio-campo);
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .lapso:active {
    background: var(--color-fondo-600);
    border: 1px solid #0004;
  }
}

@media only screen and (hover: hover) and (pointer: fine) {
  .lapso:hover {
    background: var(--color-fondo-600);
    border: 1px solid #0004;
  }
}

.lapso>header,
.lapso .fechas p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.lapso>header {
  padding: .25rem .5rem .5rem;
  border-bottom: 1px solid #0002;
  font-weight: bold;
}

.lapso .fechas {
  line-height: 2;
  padding: .5rem .75rem 0;
}

[role=alert] {
  margin: 1rem auto;
}

@media screen and (min-width: 500px) {
  main {
    padding: 2rem;
  }

  #lapsos {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .lapso {
    min-width: 250px;
  }

  @supports (grid-template-columns:repeat(auto-fill, minmax(250px, 1fr))) {
    #lapsos {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: .5rem;

    }

    .lapso {
      min-width: unset;
    }
  }
}