#tabla-cabecera {
  display: flex;
  gap: .25rem;
}

#tabla-cabecera input[type=search] {
  flex: 1;
  padding: .25rem .75rem;
}

#submit {
  height: 100%;
}

#busqueda-config>summary {
  min-height: 100%;
}

#busqueda-config summary {
  display: flex;
  align-items: center;
  gap: .5rem;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}

#tabla-cabecera>.caja,
#tabla-cabecera>details summary.caja {
  padding: .25rem;
  border-radius: var(--radio-campo);
}

#busqueda-config .contenido {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 105%;
  padding: .75rem 1rem;
}

#busqueda-config .submenu {
  width: max-content;
  display: flex;
  min-width: max-content;
  width: 100%;
}


#busqueda-config .campo {
  display: flex;
  gap: .75rem;
}

#busqueda-config .campo:not(.horizontal) {
  flex-direction: column;
  gap: .25rem;
}


#busqueda-config .campo label {
  color: var(--texto-sutil);
}

#busqueda-config .campo.horizontal {
  display: flex;
  align-items: center;
}

#busqueda-config .campo input[type=number] {
  padding: 0 .5rem;
}

#tabla-cabecera>.menu .menu .contenido {
  top: 108%;
  left: -.5rem;
}

@media screen and (min-width: 600px) {
  #tabla-cabecera {
    flex-direction: row;
  }
}

@media screen and (min-width: 700px) {
  #tabla-cabecera>.menu .menu .contenido {
    top: 0;
    left: 108%;
  }

  #tabla-cabecera [class^="btn-"] span {
    display: block;
  }
}