main summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

main summary {
  font-weight: bold;
  border-radius: var(--radio-campo) var(--radio-campo) 0 0 !important;
}

main summary svg {
  height: .75em;
  width: .75em;
}

main summary svg {
  color: var(--color-primario-500);
  transition: transform 175ms ease-in-out;
}

main details:not([open]) summary svg {
  transform: rotate(-.25turn);
}

main details[open] summary svg {
  fill: var(--color-primario-500) !important;
}