main {
  display: flex;
  height: calc(100vh - var(--altura-header));
  height: calc(100dvh - var(--altura-header));
}

main>.contenido {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}

main>.contenido .tabla-contenido {
  height: 100%;
}

main>.contenido .tabla-contenido,
#tabla-y-paginacion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#tabla-y-paginacion {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.mensaje-tabla {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

#msg-vacio .decoracion-circular {
  background-color: var(--color-primario-50);
  color: var(--color-primario-600);
  padding: .5rem;
  width: 5rem;
  height: 5rem;
}

.oscuro #msg-vacio .decoracion-circular {
  background-color: var(--color-primario-800);
  color: var(--color-primario-100);
}

#msg-vacio .decoracion-circular svg {
  width: 90%;
  height: 90%;
}

.mensaje-tabla h2 {
  font-weight: bold;
  font-size: 1.2rem;
}

.mensaje-tabla p {
  color: var(--texto-sutil);
}

.tabla-contenido .paginacion {
  margin-left: auto;
}

@media screen and (min-width: 600px) {
  main>.contenido .tabla-contenido {
    gap: .5rem;
  }

  main>.contenido .contenedor-tabla {
    max-height: 50vh;
    max-height: 50dvh;
  }
}

@media screen and (min-width: 700px) {
  main>.contenido {
    padding: 1.5rem;
  }
}