/* asegurar que la pagina mida igual de alto que la ventana */
:root,
body {
  display: flex;
  flex-direction: column;
}

:root {
  min-height: 100%;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --altura-header: 3rem;
}

body {
  flex-grow: 1;
}

@media screen and (min-width: 1100px) {
  :root {
    --altura-header: 4rem;
  }
}

:root {
  scrollbar-color: #0005 var(--color-fondo-600);
}

.oscuro {
  scrollbar-color: #fff5 var(--color-fondo-900);
}

button,
summary {
  cursor: pointer;
}

input {
  accent-color: var(--color-primario-500);
}

input,
textarea {
  field-sizing: content;
}

input[readonly],
textarea[readonly] {
  cursor: default;
}

select option:checked {
  background: var(--color-primario-500);
  color: var(--color-texto-primario);
}

svg {
  display: inline;
}

svg:not([fill=none]) {
  fill: currentColor;
}

svg[stroke-width]:not([stroke=none]),
svg *[stroke-width]:not([stroke=none]) {
  stroke: currentColor;
}

:disabled,
label:has(input:disabled) {
  opacity: 0.5;
  cursor: not-allowed !important;
}

[x-ref="enlaces"] {
  transition-property: opacity, translate, display, height;
}

[x-cloak=""] {
  display: none !important;
}

/* solo se ocultan los elementos con x-cloak="max-sidebar" cuando la pantalla es menor a 800px (ya que al ser mayor, siempre se muestra el sidebar) */
@media screen and (max-width: 800px) {
  [x-cloak="max-sidebar"] {
    display: none !important;
  }
}

@media screen and (min-width: 800px) {
  :root {
    --altura-header: 0px;
  }

  body {
    flex-direction: row;
  }
}