:root {
  --altura-header: 3.5rem;
}

/* asegurar que la pagina mida igual de alto que la ventana */
html,
body,
main {
  width: 100%;
}

html,
body {
  height: 100%;
}

button,
summary {
  cursor: pointer;
}

input {
  accent-color: var(--color-primario-500);
}

svg {
  display: inline;
}

svg:not([fill=none]) {
  fill: currentColor;
}

svg[stroke-width]:not([stroke=none]),
svg *[stroke-width]:not([stroke=none]) {
  stroke: currentColor;
}

:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 100%;
  overflow: auto;
  animation: aparecer .2s ease-in-out;
}

/* animación de cierre */
@supports (transition-behavior: allow-discrete) {
  dialog {
    transition: opacity .2s ease-in-out, display .2s ease-in-out allow-discrete, transform .2s ease-in-out;
  }

  dialog:not([open]) {
    opacity: 0;
    transform: scale(.9);
  }
}

dialog::backdrop {
  background: #0005;
}

.oscuro dialog::backdrop {
  background: #0008;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(.9);
  }
}

.menu {
  position: relative;

  &::details-content {
    opacity: 0;

    transition:
      opacity .175s ease,
      content-visibility .175s allow-discrete;
  }


  &[open]::details-content {
    opacity: 1;
  }
}

.menu .contenido {
  position: absolute;
  width: max-content;
  border-radius: var(--radio-caja);
  border: 1px solid var(--borde-caja);
  background: var(--color-fondo-500);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}

select option:checked {
  background: var(--color-primario-500);
  color: var(--color-texto-primario);
}

.datos-usuario {
  line-height: 1.6;
  text-align: center;
  text-wrap: balance;
}

.datos-usuario h1 {
  font-weight: bold;
}

.datos-usuario p {
  font-size: .875em;
  opacity: .7;
  text-transform: lowercase;
}

@media screen and (min-width: 1100px) {
  :root {
    --altura-header: 4rem;
  }
}