/* asegurar que la pagina mida igual de alto que la ventana */
:root,
body {
  display: flex;
  flex-direction: column;
}

:root {
  min-height: 100%;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --altura-header: 3.5rem;
}

body {
  flex-grow: 1;
}

@media screen and (min-width: 1100px) {
  :root {
    --altura-header: 4rem;
  }
}

button,
summary {
  cursor: pointer;
}

input {
  accent-color: var(--color-primario-500);
}

select option:checked {
  background: var(--color-primario-500);
  color: var(--color-texto-primario);
}

svg {
  display: inline;
}

svg:not([fill=none]) {
  fill: currentColor;
}

svg[stroke-width]:not([stroke=none]),
svg *[stroke-width]:not([stroke=none]) {
  stroke: currentColor;
}

:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}