{% extends "lista-objetos.html" %}
{% load partials %}
{% load widget_tweaks %}
{% load utilidades %}
{% load grupos_variantes %}

{% block cabeza %}
  {{ block.super }}
  {% include "componentes/combobox.html#scripts" %}
  {% include "lista-objetos.html#script_fn_verificar_click_reiniciar" %}
{% endblock cabeza %}

{% block contenido %}

  {%
    with
    main_class="col gap-y-3 flex-1 max-h-[calc(100dvh-var(--altura-header))] max-w-800px mxa w-full p-4 py-2 min-[500px]:p-6 sidebar:(jcc p-8)"|expandir_variantes
    nombre_url_crear="crear_materia"
  %}
    {{ block.super }}
  {% endwith %}
{% endblock contenido %}

{% block filtros %}
  <form
    hx-post
    {# se evita que se filtre si se cambió 'tipo_busqueda_anios' pero 'anios_asignados' está vacío, ya que no tendría sentido, pues los resultados serían los mismos #}
    hx-trigger="click[verificarClickEnReiniciar()], change[event.target.name === '{{ form_filtros.anios_asignados.name }}' || this.$('#{{ form_filtros.anios_asignados.name }}-texto').value !== ''] delay:600"
    class="col gap-y-1 min-[600px]:gap-y-2"
  >
    {% with class="flex-row aic gap-x-2 max-w-full max-[600px]:(jb w-full) min-[600px]:gap-x-4"|expandir_variantes valor_class="font-bold" label_class="text-sm" %}
      {%
        include "componentes/combobox.html" with
        name=form_filtros.anios_asignados.name
        label=form_filtros.anios_asignados.label
        placeholder="cualquiera"
        opciones=form_filtros.anios_asignados|obtener_lista_opciones
        opciones_seleccionadas=form_filtros.anios_asignados.value
      %}
      {%
        include "componentes/combobox.html" with
        btn_contenedor_class="max-[600px]:max-w-60%"
        lista_clase="[&_ul]:max-w-300px"
        name=form_filtros.tipo_busqueda_anios.name
        label=form_filtros.tipo_busqueda_anios.label
        opciones=form_filtros.tipo_busqueda_anios|obtener_lista_opciones
        seleccionada=form_filtros.tipo_busqueda_anios.value.0
        multiple=0
        sin_valor_nulo=1
      %}
    {% endwith %}
  </form>

  <div x-data="{{ form_filtros.campos_contenedor_x_data }}">
    {{ block.super }}
  </div>
{% endblock filtros %}

{% block menu_config %}
  <div class="col gap-y-1">
    {{ form_filtros.tipo_busqueda.label_tag }}
    {% render_field form_filtros.tipo_busqueda class="ui-elevado-2 incluido-filtros" %}
  </div>
{% endblock menu_config %}

{% block modales %}
  {{ block.super }}

  {% if permisos.editar %}
    <dialog
      class="{{ dialog_class }}"
      x-show="modalAbierto === 'asignar'"
      x-htmldialog="modalAbierto = null"
      @click="$event.target === $event.currentTarget && (modalAbierto = null)"
    >
      <div class="{{ div_class }}">
        <hgroup class="col gap-y-3 ">
          <h1 class="text-lg font-bold tac text-balance">
            Cambiar asignaciones de años de las materias seleccionadas
          </h1>
          <p class="text-texto-sutil">
            Marca los años que quieres asignarles, los que
            <span class="text-peligro dark:text-peligro-400">NO</span> estén
            marcados
            <span class="text-peligro dark:text-peligro-400">NO</span> se
            añadirán o serán
            <span class="text-peligro dark:text-peligro-400">ELIMINADOS</span>
            si ya estaban asignados:
          </p>
        </hgroup>

        {% with asignaciones=form_asignaciones.asignaciones %}
          <form>{% include "materias/form.html#asignaciones" %}</form>

          <div class="{{ btns_class }}" role="group">
            <button class="{{ cancelar_class }}" @click="modalAbierto = null">
              Cancelar
            </button>

            <div
              role="alert"
              id="indicador-asignar"
              class="htmx-indicator peer sr-only"
            >
              Asignando...
            </div>

            <button
              class="{{ subir_class|add:' ui-btn/primario' }}"
              hx-put
              hx-indicator="#indicador-asignar"
              hx-disabled-elt=".deshabilitar-al-subir"
              hx-vals="js:{
                  ids: Array.from(Alpine.$data($('table')).filasSeleccionadas),
                  {{ asignaciones.name }}:
                    new FormData(this.closest('dialog').$('form')).getAll('{{ asignaciones.name }}')
                }"
              @htmx:after-request.window="$event.target === $el && (modalAbierto = null)"
            >
              <div class="ui-loader ui-loader/blanco"></div>
              Asignar
            </button>
          </div>
        {% endwith %}
      </div>
    </dialog>
  {% endif %}
{% endblock modales %}
