<a href="{% url 'perfil' %}">
  <figure class="col fc gap-y-2">
    {% if request.user.foto_perfil %}
      <img
        src="{{ request.user.miniatura_foto.url }}"
        class="foto-perfil size-min-6rem lh-6rem aspect-square italic -indent-5 tac rounded-full object-cover outline-1 outline-#fff2"
        alt="foto del perfil"
      />
    {% else %}
      {% include "componentes/iconos/sin-foto.html" with class="foto-perfil min-w-max" %}
    {% endif %}

    <figcaption>
      <h2 class="font-bold">
        <span class="mr-1 text-secundario-200 dark:text-secundario-800">@</span
        >{{ request.user.username }}
      </h2>
    </figcaption>
  </figure>
</a>
