{% extends "componentes/vista-lista/lista.html" %}
{% load l10n %}
{% load utilidades %}
{% load grupos_variantes %}

{% block acciones %}
  {{ block.super }}

  <button
    role="menuitem"
    class="{{ accion_btn_class|add:' deshabilitar-al-subir' }}"
    :disabled="filasSeleccionadas.size === 0"
    aria-haspopup="dialog"
    :aria-expanded="modalAbierto === 'transferir'"
    @click="modalAbierto = 'transferir'"
  >
    <svg
      class="size-4"
      stroke-width="2"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      viewBox="0 0 24 24"
    >
      <path
        d="M4 18a2 2 0 1 0 4 0 2 2 0 1 0-4 0M16 18a2 2 0 1 0 4 0 2 2 0 1 0-4 0M6 12v-2a6 6 0 1 1 12 0v2"
      ></path>
      <path d="m15 9 3 3 3-3"></path>
    </svg>
    transferir materias al profesor...
  </button>
{% endblock acciones %}

{% block lista %}
  <ul
    x-bind="eventosLista"
    class="col min-[500px]:grid cols-[repeat(auto-fill,minmax(325px,1fr))] rows-[repeat(auto-fill,_minmax(auto,350px))] gap-4 flex-1 min-[500px]:gap-y-5"
    @click="{{
      '
        if ($event.target.closest("[data-foto-url]")) {
          const url = $event.target.closest("[data-foto-url]").getAttribute("data-foto-url");

          if (url !== null) {
            urlFotoSeleccionada = url;

            const id = $event.target.closest("[data-foto-url]").getAttribute("data-id");
            modalAbierto = "foto";
          }
        }
      '|reemplazar_espacios:''
    }}"
  >
    {% for profesor in lista_objetos %}
      <li class="col ui-elevado rounded-xl">
        {# Cabecera con datos del profesor #}
        <div
          class="flex aic gap-4 p-2 px-3 rounded-t-xl bg-fondo-700 border-b border-[--transparente-1]"
        >
          {% with c="size-16 size-min-16 lh-16 aspect-square rounded-full" %}
            {% if profesor.usuario.miniatura_foto %}
              <button
                class="align-middle"
                data-foto-url="{{ profesor.usuario.foto_perfil.url }}"
                aria-label="Inspeccionar foto de perfil"
              >
                <img
                  class="{{ c|add:' object-cover border-2 border-[--transparente-3]' }}"
                  src="{{ profesor.usuario.miniatura_foto.url }}"
                  alt="foto de perfil"
                />
              </button>
            {% else %}
              <span
                class="{{ c|add:' tac bg-[--transparente-1] text-texto-semi-sutil text-[1.7rem] font-bold' }}"
              >
                {{ profesor.nombres|slice:"0:1" }}{{ profesor.apellidos|slice:"0:1" }}
              </span>
            {% endif %}
          {% endwith %}

          <hgroup>
            <h2 class="font-bold min-[500px]:text-lg">
              {{ profesor.nombre_completo }}
            </h2>
            <p class="text-sm text-texto-semi-sutil tracking-wider">
              <span class="text-texto-sutil">C.I:</span>
              {{ profesor.cedula|default:'?'|localize }}
            </p>
          </hgroup>
        </div>

        <div class="overflow-y-auto flex-1">
          <table
            class="size-full table-fixed"
            x-data="{
                ids: [{% for asignacion in profesor.materias_asignadas %}'{{ asignacion.id }}',{% endfor %}],

                alternarSeleccionTodo() {
                  if (this.ids.every((id) => this.filasSeleccionadas.has(id))) {
                    this.ids.forEach((id) => this.filasSeleccionadas.delete(id));
                  } else {
                    this.ids.forEach((id) => this.filasSeleccionadas.add(id));
                  }
                  
                  this.ultimaSeleccionadaIndice = null;
                }
              }"
          >
            <thead
              class="sticky z-1 top-0 bg-fondo-600 border-b border-[--transparente-1] rounded-t"
            >
              <tr>
                {% with class="px-4 py-3 text-xs font-medium text-texto-sutil uppercase tracking-wider" %}
                  {% if permisos.eliminar %}
                    <th class="{{ class }} w-10">
                      <button
                        type="checkbox"
                        autocomplete="off"
                        id="seleccionar-todos"
                        aria-label="Seleccionar todas las filas"
                        @click="alternarSeleccionTodo()"
                      >
                        {% include "componentes/iconos/edicion.html#seleccionar_todo" with class="size-5" %}
                      </button>
                    </th>
                  {% endif %}

                  <th class="{{ class }} text-left">materia</th>
                  <th class="{{ class }} text-right">sección</th>
                {% endwith %}
              </tr>
            </thead>

            <tbody class="divide-y divide-[--transparente-1]">
              {% with class="px-4 py-2 whitespace-nowrap min-[500px]:p-4" %}
                {% for asignacion in profesor.materias_asignadas %}
                  <tr>
                    {% if permisos.eliminar %}
                      <td class="{{ class }} pr-0!">
                        <div class="flex ">
                          {%
                            with
                            indice=forloop.counter0|add:forloop.parentloop.counter0
                            id_l1=forloop.counter0|stringformat:"s"|add:'_'
                            id_l2=forloop.parentloop.counter0|stringformat:"s"
                            objeto=asignacion
                          %}
                            {% if not forloop.parentloop.first %}
                              {# empezar conteo desde uno a partir de la segunda iteración de profesores #}
                              {%
                                include "componentes/vista-lista/objeto-check.html" with
                                id_fila=id_l1|add:id_l2
                                indice=forloop.counter|add:forloop.parentloop.counter0
                              %}
                            {% else %}
                              {%
                                include "componentes/vista-lista/objeto-check.html" with
                                id_fila=id_l1|add:id_l2
                              %}
                            {% endif %}
                          {% endwith %}
                        </div>
                      </td>
                    {% endif %}

                    <td class="{{ class }}">{{ asignacion.materia.nombre }}</td>
                    <td class="{{ class }} text-right">
                      <span
                        class="{{ 'px-3 py-1 min-w-max bg-primario-50 dark:bg-primario-800/50 [.peer\/input:checked~.group_&]:(bg-secundario-texto text-secundario-300) rounded-full text-xs min-[500px]:text-sm font-semibold'|expandir_variantes }}"
                      >
                        {{ asignacion.seccion.nombre }}
                      </span>
                    </td>
                  </tr>
                {% endfor %}
              {% endwith %}
            </tbody>
          </table>
        </div>

        {# Total y enlace #}
        <div
          class="flex jb aic gap-x-5 bg-fondo-700 px-3 py-2 rounded-b-xl border-t border-[--transparente-1]"
        >
          <span class="flex aic gap-x-1.5 text-sm text-texto-sutil">
            {% include "componentes/iconos/mensajes.html#info" with class="size-4" %}
            {% with n=profesor.materias_asignadas|length %}
              <span>
                Total: <b>{{ n }}</b> materia{{ n|pluralize:'s' }}
                asignada{{ n|pluralize:'s' }}
              </span>
            {% endwith %}
          </span>

          {% if permisos.crear %}
            <div class="flex gap-2">
              <a
                href="{% url view.url_crear %}?profesor_id={{ profesor.id }}"
                class="ui-btn ui-btn/secundario dark:bg-secundario-600 p-1 rounded-full size-6 aspect-square"
                aria-label="Añadir materia"
              >
                {% include "componentes/iconos/edicion.html#suma" %}
              </a>
            </div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock lista %}
