<div class="contenido">
  <figure class="avatar">
    <a href="{% url 'perfil' %}">
      {% if request.user.foto_perfil %}
        <img src="{{ request.user.foto_perfil.url }}" alt="avatar" />
      {% else %}
        <svg
          role="img"
          viewBox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c39.77 0 72 32.24 72 72S295.8 272 256 272c-39.76 0-72-32.24-72-72S216.2 128 256 128zM256 448c-52.93 0-100.9-21.53-135.7-56.29C136.5 349.9 176.5 320 224 320h64c47.54 0 87.54 29.88 103.7 71.71C356.9 426.5 308.9 448 256 448z"
          />
        </svg>
      {% endif %}
    </a>

    <figcaption>{{ request.user.username }}</figcaption>
  </figure>

  <a id="cerrar-sesion" href="{% url 'logout' %}">
    <svg
      fill="none"
      height="24"
      viewBox="0 0 24 24"
      width="24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H15"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      />
      <path
        d="M19 12L15 8M19 12L15 16M19 12H9"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      />
    </svg>
    cerrar sesión
  </a>
</div>
