{% extends "componentes/vista-lista/lista.html" %}
{% load utilidades %}
{% load grupos_variantes %}
{% load l10n %}

{% block lista %}
  <!-- Listado de grupos -->
  <ul x-bind="eventosLista" class="col gap-y-8 size-full">
    {% for grupo in lista_objetos %}
      <li class="w-full">
        <details class="group col gap-y-2" open>
          <summary
            class="flex aic gap-x-3 pb-2 border-b border-[--transparente-2]"
          >
            <svg
              class="size-3.5 rotate-90 group-open:rotate-180 group-open:text-texto-sutil transition-[transform,color] ease-in-out duration-150"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <path
                d="m12.866 3 9.526 16.5a1 1 0 0 1-.866 1.5H2.474a1 1 0 0 1-.866-1.5L11.134 3a1 1 0 0 1 1.732 0Z"
              ></path>
            </svg>

            <span class="flex jb aic flex-1">
              <h2 class="flex gap-x-4 aic font-bold">
                <span class="max-[600px]:hidden">
                  {{ grupo.seccion.año }} - Sección {{ grupo.seccion.letra }}
                </span>

                <span class="min-[600px]:hidden">
                  {{ grupo.seccion.nombre }}
                </span>
              </h2>

              <span class="flex gap-x-1.5 text-xs min-[600px]:text-sm">
                {% with class="flex aic p-1 px-4 rounded-full" %}
                  <span
                    class="{{ class }} bg-primario-50 dark:bg-primario-800/50 rounded-full"
                  >
                    Lapso: {{ grupo.lapso.nombre }}
                  </span>

                  <span
                    class="{{ class }} gap-x-3 text-texto-sutil bg-[--transparente-1]"
                  >
                    <span role="status">
                      {% with n=grupo.total_matriculas %}
                        {{ n }}
                        estudiante{{ n|pluralize }}
                      {% endwith %}
                    </span>

                    {% if permisos.crear and grupo.modificable %}
                      <hr
                        class="h-4 w-1px border-0 bg-[--transparente-2]"
                        aria-orientation="vertical"
                      />

                      <a
                        href="{% url view.url_crear %}?seccion={{ seccion.id }}"
                        class="ui-btn ui-btn/secundario dark:bg-secundario-600 p-1 rounded-full size-6 aspect-square -mr-1"
                        aria-label="Añadir matrícula"
                      >
                        {% include "componentes/iconos/edicion.html#suma" with class="" %}
                      </a>
                    {% endif %}
                  </span>
                {% endwith %}
              </span>
            </span>
          </summary>

          <div class="ui-elevado rounded overflow-auto w-full">
            {% if grupo.matriculas %}
              <table class="w-full">
                <thead
                  class="border-b border-[--transparente-2] rounded-t bg-fondo-600"
                >
                  <tr>
                    {% with class="px-4 py-3 text-xs font-medium text-texto-sutil uppercase tracking-wider" %}
                      {% if grupo.lapso.id == view.lapso_actual.id %}
                        {% if permisos.editar or permisos.eliminar %}
                          <th class="{{ class }} [&+th]:pl-0!">
                            <button
                              id="seleccionar-todos"
                              aria-label="Seleccionar todas las filas"
                              @click="alternarSeleccionTodo()"
                            >
                              {% include "componentes/iconos/edicion.html#seleccionar_todo" with class="size-5" %}
                            </button>
                          </th>
                        {% endif %}
                      {% endif %}

                      <th class="{{ class }} text-right">#</th>
                      <th class="{{ class }} text-left">Nombres</th>
                      <th class="{{ class }} text-left">Apellidos</th>
                      <th class="{{ class }} text-right">Cédula</th>
                      <th class="{{ class }} text-right">Edad</th>
                      <th class="{{ class }} tac">Estado</th>
                      <th class="{{ class }} text-left">Fecha matrícula</th>
                    {% endwith %}
                  </tr>
                </thead>

                <tbody class="divide-y divide-[--transparente-1]">
                  {% with class="px-4 py-2 whitespace-nowrap" %}
                    {% for matricula in grupo.matriculas %}
                      <tr>
                        {% if grupo.lapso.id == view.lapso_actual.id %}

                          {% if permisos.editar or permisos.eliminar %}
                            <td class="{{ class }} [&+td]:pl-0!">
                              <div class="flex">
                                {%
                                  with
                                  indice=forloop.counter0|add:forloop.parentloop.counter0
                                  id_l1=forloop.counter0|stringformat:"s"|add:'_'
                                  id_l2=forloop.parentloop.counter0|stringformat:"s"
                                  objeto=matricula
                                %}
                                  {% if not forloop.parentloop.first %}
                                    {# empezar conteo desde uno a partir de la segunda iteración de profesores #}
                                    {%
                                      include "componentes/vista-lista/objeto-check.html" with
                                      id_fila=id_l1|add:id_l2
                                      indice=forloop.counter|add:forloop.parentloop.counter0
                                    %}
                                  {% else %}
                                    {%
                                      include "componentes/vista-lista/objeto-check.html" with
                                      id_fila=id_l1|add:id_l2
                                    %}
                                  {% endif %}
                                {% endwith %}
                              </div>
                            </td>
                          {% endif %}
                        {% endif %}

                        <td
                          class="{{ class }} text-right tabular-nums font-sans"
                        >
                          {% with n=forloop.counter %}
                            {% if grupo.lapso.id == view.lapso_actual.id and permisos.editar and view.url_editar %}
                              <a
                                href="{% url view.url_editar matricula.id %}"
                                aria-label="Editar matrícula"
                              >
                                {{ n }}
                              </a>
                            {% else %}
                              {{ n }}
                            {% endif %}
                          {% endwith %}
                        </td>

                        <td class="{{ class }}">
                          {{ matricula.estudiante.nombres }}
                        </td>

                        <td class="{{ class }}">
                          {{ matricula.estudiante.apellidos }}
                        </td>

                        <td
                          class="{{ class }} text-right tabular-nums font-sans"
                        >
                          {{ matricula.estudiante.cedula|localize }}
                        </td>

                        <td class="{{ class }} text-right">
                          {{ matricula.estudiante.edad }}
                        </td>

                        <td class="{{ class }} tac">
                          {% with dato=matricula.estado class="p-0.5 px-4 rounded-full text-sm" %}
                            {% with dato=view.estados_opciones|valor_por_clave:dato %}
                              <span
                                {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
                                  {% if dato == view.estados_opciones.A %}
                                    class="{{ class }} bg-exito text-exito-texto"
                                  {% elif dato == view.estados_opciones.I %}
                                    class="{{ class }} bg-advertencia-300 text-advertencia-800"
                                  {% elif dato == view.estados_opciones.S %}
                                    class="{{ class }} bg-peligro text-peligro-texto"
                                  {% else %}
                                    class="{{ class }} bg-[--transparente-1] text-texto-sutil"
                                  {% endif %}
                                {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
                              >
                                {{ dato }}
                              </span>
                            {% endwith %}
                          {% endwith %}
                        </td>

                        <td class="{{ class }}">
                          {{ matricula.fecha_añadida|date:"d M. Y, h:i A" }}
                        </td>
                      </tr>
                    {% endfor %}
                  {% endwith %}
                </tbody>
              </table>
            {% else %}
              <p class="text-muted">
                No hay estudiantes matriculados en esta sección
              </p>
            {% endif %}
          </div>
        </details>
      </li>
    {% endfor %}
  </ul>
{% endblock lista %}
