{% load grupos_variantes %}
{% load partials %}
{% load static %}
{% load sekizai_tags %}

{% addtoblock "cabeza" %}
  <script defer src="{% static 'js/alpine-dialog.min.js' %}"></script>
  <script defer src="{% static 'js/componentes/campo-foto.js' %}"></script>
{% endaddtoblock %}

<div
  x-show="pestaña === 'datos'"
  {% if form.foto_eliminada %}
    {# eliminar miniatura de la barra lateral al eliminar la foto #}
    x-init="document.getElementById('foto-barra-lateral').src = ''"
  {% elif form.foto_actualizada and request.user.miniatura_foto %}
    {# cambiar miniatura de la barra lateral al subir una foto #}
    x-init="document.getElementById('foto-barra-lateral').src =
    '{{ request.user.miniatura_foto.url }}'"
  {% endif %}
>
  <form
    id="form"
    x-ref="formDatos"
    class="col gap-y-5"
    hx-post="{% url 'cambiar_datos' %}"
    enctype="multipart/form-data"
    @change.once="$refs.submit.disabled = false"
  >
    {% include "perfil/foto-y-datos.html" %}

    <input type="hidden" name="accion" value="cambiar-datos" />

    <div
      class="{{ 'col gap-y-5 min-[600px]:(grid grid-cols-2 gap-x-10)'|expandir_variantes }}"
    >
      {% for campo in form %}
        {% if campo != form.foto_perfil and campo != form.foto_perfil_limpiar %}
          {% include "componentes/campo.html" with input_class="ui-elevado" %}
        {% endif %}
      {% endfor %}
    </div>

    <button
      {# disabled #}
      x-ref="submit"
      class="{{ 'ui-btn ui-btn/primario p-1 px-3 max-[600px]:flex-1 min-[600px]:(w-[250px] mla)'|expandir_variantes }}"
    >
      Guardar cambios
    </button>
  </form>
</div>

{% if respuesta %}
  {% include "componentes/mensajes.html#como_respuesta" %}
{% endif %}
