{% load grupos_variantes %}
{% load widget_tweaks %}
{% load partials %}

<section>
  <h2 id="datos-label" class="sr-only">Datos del usuario</h2>

  <div role="group" class="col gap-y-5 ui-caja p-3 px-4">
    {% csrf_token %}

    {% partialdef input_invalido %}
      {% render_field campo class="ui-elevado-2 peer" ::readonly="!editando" aria-errormessage=error_id aria-invalid="true" %}
    {% endpartialdef input_invalido %}

    {% partialdef input %}
      {% render_field campo class="ui-elevado-2 peer" ::readonly="!editando" %}
    {% endpartialdef input %}

    {% for campo in form %}
      {% if campo.id_for_label != 'id_foto_perfil' %}
        {% include "componentes/campo.html" with parcial_input_invalido_url="perfil/form.html#input_invalido" parcial_input_url="perfil/form.html#input" %}
      {% endif %}
    {% endfor %}

    <p class="pl-1 italic text-sm" role="status">
      {% if request.user.is_superuser %}
        <span class="text-texto-sutil">Usted es un:</span>
        superusuario
      {% else %}
        <span class="text-texto-sutil">Usted fue asignado como:</span>
        {% for grupo in request.user.grupos.all %}
          {{ grupo }}{% if not forloop.last %},{% endif %}
        {% endfor %}
      {% endif %}
    </p>
  </div>
</section>
