{% load widget_tweaks %}
{% load grupos_variantes %}
{% load partials %}
{% load utilidades %}
{% load static %}
{% load sekizai_tags %}

<div class="flex aic gap-x-4">
  {%
    with
    class="relative"
    img_class="size-18 size-min-18 lh-18 min-[500px]:(size-20 size-min-20 lh-20)"|expandir_variantes
    campo=form.foto_perfil
    campo_limpiar=form.foto_perfil_limpiar
    error_class="absolute bottom-full mb-3 left-0 ml-6 p-1 px-2 w-max max-w-60vw rounded bg-peligro text-peligro-texto! animate-(bounce duration-700 count-[2] fill-forwards) before:(absolute -z-1 top-90% left-1 content-[''] size-4 bg-peligro border-peligro border-t border-l -transform-translate-y-1/2 transform-rotate-45) max-[500px]:text-xs"|expandir_variantes
  %}
    {% if request.user.foto_perfil %}
      {% include "componentes/foto/img.html" with url=request.user.foto_perfil.url %}
    {% else %}
      {% include "componentes/foto/img.html" with url='' %}
    {% endif %}
  {% endwith %}

  <hgroup class="col gap-y-1">
    <h2 class="font-bold text-lg">{{ request.user.username }}</h2>
    <p class="text-sm text-texto-semi-sutil">
      {% if request.user.is_superuser %}
        superusuario
      {% else %}
        {% for grupo in request.user.grupos.all %}
          {{ grupo }}{% if not forloop.last %},{% endif %}
        {% endfor %}
      {% endif %}
    </p>
  </hgroup>
</div>
