{% load widget_tweaks %}
{% load grupos_variantes %}
{% load static %}
{% load sekizai_tags %}

{% addtoblock "cabeza" %}
  <script defer src="{% static 'js/cambiar-foto.js' %}"></script>
{% endaddtoblock %}

<div class="col gap-y-4">
  {% with error_id=form.foto_perfil.id_for_label|add:'-error' %}
    {# input oculto para cambiar la foto #}
    {% if form.foto_perfil.errors %}
      {% render_field form.foto_perfil class="sr-only peer" @change="editando = true" form="form" aria-errormessage=error_id aria-invalid="true" %}
    {% else %}
      {% render_field form.foto_perfil class="sr-only peer" @change="editando = true" form="form" %}
    {% endif %}

    {# mensajes de error #}
    {% include "componentes/campo.html#campo_error" with campo=form.foto_perfil error_class="tac" %}
  {% endwith %}

  <div
    class="{{ 'col !has-[#btn-subir-foto:only-child]:flex-col fc gap-y-4.5 gap-x-4 mb-2 min-[350px]:flex-row peer-focus-visible:[&_label.foto-label]:(outline-2 outline-#000 outline-offset-1) dark:peer-focus-visible:[&_label.foto-label]:outline-#fff'|expandir_variantes }}"
  >
    <div
      class="{{ "relative max-w-max [&>img,&>svg]:(size-[9.5rem] supports-[aspect-ratio:_1]:min-w-max aspect-square rounded-full object-cover italic tac -indent-4 lh-[9.5rem] shadow-[0_0_10px_#0001,_0_7px_15px_#0001] dark:shadow-none)"|expandir_variantes }}"
    >
      {% if request.user.foto_perfil %}
        <img
          id="foto-actual"
          src="{{ request.user.foto_perfil.url }}"
          alt="foto del perfil"
          class="foto-perfil"
        />
      {% else %}
        {% include "componentes/iconos/sin-foto.html" with id="foto-actual" class="foto-perfil" %}
      {% endif %}

      <button
        type="button"
        {# solo se abre el modal si la foto es una imagen (al no tener es un svg) #}
        @click='window.$id("foto-actual").tagName === "IMG" && $refs.modal.showModal()'
        class="absolute top-0 left-0 right-0 bottom-0 outline-2 outline-#0002 dark:outline-#fff2 outline-offset-2 rounded-full transition-[outline-color] ease media-mouse:focus-visible:outline-primario dark:media-mouse:focus-visible:outline-primario-700 media-touch:focus-visible:outline-primario-500"
        aria-label="Ver foto de perfil"
      ></button>
    </div>

    {# botones para cambiar la foto #}
    <div class="col gap-y-1.5 min-[400px]:gap-y-1">
      <label
        for="{{ form.foto_perfil.id_for_label }}"
        id="btn-subir-foto"
        class="foto-label ui-btn ui-btn/primario ui-btn/sm min-[400px]:ui-btn/md"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
          <path d="M7 9l5 -5l5 5" />
          <path d="M12 4l0 12" />
        </svg>

        Subir foto <span class="sr-only">de perfil</span>
      </label>

      {% if request.user.foto_perfil %}
        <span
          role="alert"
          id="i"
          class="htmx-indicator peer sr-only"
          aria-label="Eliminando..."
        ></span>

        <button
          class="ui-btn ui-btn/borde ui-btn/sm min-[400px]:ui-btn/md [&>svg]:size-[1.125em] max-[500px]:text-[.9em] peer-[:not(.htmx-request)]:[&>.ui-loader]:hidden peer-[.htmx-request]:[&>svg]:hidden"
          id="borrar-foto"
          hx-delete="{% url 'perfil' %}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-confirm="¿Seguro que quieres borrar tu foto de perfil?"
          hx-indicator="#i"
          hx-swap="outerHTML"
        >
          <span class="ui-loader"></span>

          {% include "componentes/iconos/edicion.html#borrar" %} Eliminar foto
          <span class="sr-only">de perfil</span>
        </button>
      {% endif %}
    </div>
  </div>
</div>
