{% extends "objeto-form.html" %}
{% load partials %}
{% load static %}
{% load utilidades %}
{% load grupos_variantes %}

{% block cabeza %}
  {{ block.super }}
  {% include "componentes/combobox.html#scripts" %}
  {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
    <script>
      const opcionesEstudiantes = {{ form.estudiante|obtener_lista_opciones|json|safe }};
      const opcionesSecciones = {{form.seccion|obtener_lista_opciones|json|safe}}
    </script>
  {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
{% endblock cabeza %}

{% block titulo_form %}
  {% if editando %}
    Editar matricula de estudiante
  {% else %}
    Matricular estudiante
  {% endif %}
{% endblock titulo_form %}

{% block form %}
  {% with form_class=form_class|add:' gap-y-6' %}
    {{ block.super }}
  {% endwith %}
{% endblock form %}

{% block campos %}
  <div
    id="campos"
    class="{{ 'ui-elevado col gap-y-6 gap-x-10 w-full max-w-600px p-4 rounded-lg min-[600px]:(grid grid-cols-2 p-6 gap-y-8)'|expandir_variantes }}"
  >
    {% partialdef campos inline %}
      {% with btn_class="bg-fondo-700" caret_class="bg-fondo-900" %}
        {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
            {%
              include "componentes/combobox.html" with
              name=form.estudiante.name
              campo=form.estudiante
              opciones_por_script="opcionesEstudiantes"
              seleccionada=form.estudiante.value
              multiple=0
              busqueda_activa=1
              mostrar_cantidad=1
              sin_opciones_msj="No se han registrado estudiantes"
            %}
            
            {%
              include "componentes/combobox.html" with
              name=form.seccion.name
              campo=form.seccion
              opciones_por_script="opcionesSecciones"
              seleccionada=form.seccion.value
              multiple=0
              busqueda_activa=1
              mostrar_cantidad=1
              sin_opciones_msj="No se han registrado secciones"
            %}
            
            {% include "componentes/campo.html" with campo=form.estado input_class="deshabilitar-al-subir ui-elevado-2" %}
            
            {% include "componentes/campo.html" with campo=form.lapso input_class="deshabilitar-al-subir ui-elevado-2" %}
          {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
      {% endwith %}
    {% endpartialdef campos %}
  </div>

  <div
    role="alert"
    {% with class="flex gap-x-4 w-full max-w-600px p-4 rounded-lg" %}
      {% if form.lapso_actual is None %}
        class="{{ class }} bg-peligro text-peligro-texto"
      {% else %}
        class="{{ class }} bg-info-200 dark:bg-info-800"
      {% endif %}
    {% endwith %}
  >
    <span
      {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
        {% with class="ui-contenedor-icono size-6.5 p-1.25 mt-0.5 bg-[--transparente-2]" %}
          {% if form.lapso_actual is None %}
            class="{{ class }} bg-peligro-400 dark:bg-peligro-600"
          {% else %}
            class="{{ class }} bg-info-300 text-info-800 dark:bg-info-600 dark:text-info-50"
          {% endif %}
        {% endwith %}
      {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
    >
      {% if form.lapso_actual is None %}
        {% include "componentes/iconos/mensajes.html#error" %}
      {% else %}
        {% include "componentes/iconos/mensajes.html#info" %}
      {% endif %}
    </span>

    <div class="col gap-y-1">
      <b>
        {% if form.lapso_actual is None %}
          Error:
        {% else %}
          Nota:
        {% endif %}
      </b>
      <p>
        {% if form.lapso_actual is None %}
          No se encontró un lapso actual, no podrás crear matrículas.
        {% else %}
          {% if editando %}
            No pueden modificar matrículas de lapsos anteriores.
          {% else %}
            Solo se pueden añadir matrículas en el lapso actual.
          {% endif %}
        {% endif %}
      </p>
    </div>
  </div>
{% endblock campos %}
