{% extends "lista-objetos.html" %}
{% load static %}
{% load partials %}
{% load grupos_variantes %}
{% load widget_tweaks %}
{% load utilidades %}

{% block cabeza %}
  {{ block.super }}
  {% include "componentes/tabla-adaptable/cabeza.html" %}
  <script defer src="{% static 'js/componentes/combobox.js' %}"></script>
{% endblock cabeza %}

{% block contenido %}
  {%
    with
    main_class='col gap-y-3 flex-1 size-full supports-[not(height:1dvh)]:(max-h-[calc(100vh-var(--altura-header))] h-[calc(100vh-var(--altura-header))]) max-h-[calc(100dvh-var(--altura-header))] max-w-1000px h-[calc(100dvh-var(--altura-header))] mxa p-4 overflow-y-auto min-[700px]:p-6 min-[1000px]:p-8!'|expandir_variantes
  %}
    {{ block.super }}
  {% endwith %}
{% endblock contenido %}

{% block opciones_filtros %}
  {%
    include "componentes/vista-lista/filtros/conjunto-opciones.html" with
    campo=form_filtros.lapsos
    busqueda_activa=1
  %}
  {%
    include "componentes/vista-lista/filtros/conjunto-opciones.html" with
    campo=form_filtros.secciones
    busqueda_activa=1
  %}
  {%
    include "componentes/vista-lista/filtros/conjunto-opciones.html" with
    multiple=0
    campo=form_filtros.estado
  %}
{% endblock opciones_filtros %}
