{% extends "lista-objetos.html" %}
{% load partials %}
{% load static %}
{% load widget_tweaks %}
{% load grupos_variantes %}
{% load utilidades %}

{% block cabeza %}
  {{ block.super }}
  <script defer src="{% static 'js/componentes/combobox.js' %}"></script>
{% endblock cabeza %}

{% block opciones_filtros %}
  {{ block.super }}
  {%
    include "componentes/vista-lista/filtros/conjunto-opciones.html" with
    multiple=1
    name=form_filtros.letra.name
    label=form_filtros.letra.label
    campo=form_filtros.letra
    opciones=form_filtros.letra|obtener_lista_opciones
    opciones_seleccionadas=form_filtros.letra.value
  %}
  {%
    include "componentes/vista-lista/filtros/conjunto-opciones.html" with
    multiple=0
    name=form_filtros.disponibilidad.name
    label=form_filtros.disponibilidad.label
    campo=form_filtros.disponibilidad
    opciones=form_filtros.disponibilidad|obtener_lista_opciones
    opciones_seleccionadas=form_filtros.disponibilidad.value
  %}
{% endblock opciones_filtros %}
