{% extends "lista-objetos.html" %}
{% load partials %}
{% load static %}
{% load widget_tweaks %}
{% load grupos_variantes %}
{% load utilidades %}

{% block cabeza %}
  {{ block.super }}
  {% include "componentes/tabla-adaptable/cabeza.html" %}

  <link
    rel="stylesheet"
    href="{% static 'css/componentes/htmx-indicator.css' %}"
  />
  {% include "componentes/combobox.html#scripts" %}
{% endblock cabeza %}

{% block contenido %}
  {%
    with
    main_class="col gap-y-3 flex-1 max-h-[calc(100dvh-var(--altura-header))] mxa w-full max-w-1000px p-3 px-4 min-[525px]:(p-5 gap-y-4) min-[600px]:px-8 sidebar:jcc sidebar:px-10"|expandir_variantes
  %}
    {{ block.super }}
  {% endwith %}
{% endblock contenido %}

{% block opciones_filtros %}
  {{ block.super }}
  {%
    include "componentes/vista-lista/filtros/conjunto-opciones.html" with
    multiple=1
    name=form_filtros.letra.name
    label=form_filtros.letra.label
    campo=form_filtros.letra
    opciones=form_filtros.letra|obtener_lista_opciones
    opciones_seleccionadas=form_filtros.letra.value
  %}
  {%
    include "componentes/vista-lista/filtros/conjunto-opciones.html" with
    multiple=0
    name=form_filtros.disponibilidad.name
    label=form_filtros.disponibilidad.label
    campo=form_filtros.disponibilidad
    opciones=form_filtros.disponibilidad|obtener_lista_opciones
    opciones_seleccionadas=form_filtros.disponibilidad.value
  %}
{% endblock opciones_filtros %}
