.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: var(--color-fondo-500);
  border-radius: 0.25rem;
}

.breadcrumbs a {
  transition: color 0.2s ease-in-out;
}

.breadcrumbs a:not([aria-current="page"]) {
  color: var(--texto-sutil);
  font-weight: 500;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .breadcrumbs a:active {
    color: var(--color-primario-400) !important;
  }
}

@media only screen and (hover: hover) and (pointer: fine) {
  .breadcrumbs a:hover {
    color: var(--color-primario-400) !important;
  }
}

.breadcrumbs li+li {
  padding-left: 0.5rem;
}

.breadcrumbs li+li::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #0006;
  content: "/";
}

@media screen and (min-width: 768px) {
  .breadcrumbs {
    max-width: max-content;
  }
}