html {
  --altura-header: 3.5rem;
}

#header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 5;
  align-items: center;
  justify-content: space-between;
  height: var(--altura-header);
  min-height: var(--altura-header);
  padding: 0 1rem;
  border-bottom: 2px solid #fff5;
  background-color: var(--color-primario-500);
  color: var(--color-texto-primario);
  box-shadow: 0 5px 24px 0 rgba(0, 0, 0, .15);
}

.oscuro #header {
  border-bottom: 1px solid #fff3;
}

#header h1 a {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
}

#header h1 img {
  height: 2em;
  width: 2em;
  min-width: max-content;
  padding: 3px;
  transform: scale(1.2);
}

#btn-nav {
  position: relative;
  padding: .375rem;
  border-radius: var(--radio-campo);
  transition: background-color 0.2s ease-in-out;
}

#btn-nav::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: scale(1.4);
}

#btn-nav svg {
  transition: transform 150ms ease-in-out;
}

#btn-nav[aria-expanded="true"] svg {
  transform: rotate(-90deg);
}

#tema-menu summary {
  list-style: none;
}

#tema-menu[data-tema=claro] summary svg:not(.sol),
#tema-menu[data-tema=oscuro] summary svg:not(.luna),
#tema-menu[data-tema=auto] summary svg:not(.auto) {
  display: none;
}

#tema-menu .contenido {
  right: 0;
  top: 185%;
  color: var(--texto-base);
  border-top-right-radius: 0;
}

#tema-menu label {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#tema-menu label:first-of-type {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#tema-menu label:last-of-type {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

@media only screen and (hover: none) and (pointer: coarse) {
  #tema-menu label:active {
    background: var(--transparente-1);
  }
}

@media only screen and (hover: hover) and (pointer: fine) {
  #tema-menu label:hover {
    background: var(--transparente-1);
  }
}

#tema-menu input:checked+label {
  color: var(--color-texto-primario);
  background-color: var(--color-primario-500);
}

#tema-menu label svg {
  height: 1.25em;
  width: 1.25em;
}

.iniciar-sesion {
  font-weight: 500;
}

.iniciar-sesion svg {
  height: 1.25em;
  width: 1.25em;
  margin-right: .5em;
}

#perfil-en-linea {
  margin-bottom: .5rem;
}

#perfil-en-linea {
  position: relative;
  padding: 1rem;
}

#perfil-en-linea::after {
  position: absolute;
  content: '';
  height: 1px;
  left: 1em;
  right: 1em;
  background-color: #fff2;
  bottom: 0;
}

#perfil-menu .contenido {
  padding: 1rem;
}

.perfil .foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.cabecera-foto-perfil {
  height: 7rem;
  width: 7rem;
  aspect-ratio: 1 / 1;
}

svg.cabecera-foto-perfil {
  min-width: max-content;
}

img.cabecera-foto-perfil {
  border-radius: 50%;
  object-fit: cover;
}

.perfil h2 {
  font-weight: bold;
}

.perfil .arroba {
  margin-right: .25rem;
  color: var(--color-secundario-200)
}

.oscuro .perfil .arroba {
  color: var(--color-secundario-800)
}

.link {
  display: flex;
  align-items: center;
  gap: .75rem;
  min-width: max-content;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
}

.link>svg {
  height: 1.25em;
  width: 1.25em;
}

.link[aria-current="page"] {
  position: relative;
}

#btn-nav[aria-expanded="true"],
.link[aria-current="page"] {
  background: var(--color-texto-primario);
  color: var(--color-primario-600);
}

.link[aria-current="page"]::before {
  content: '';
  position: absolute;
  background-color: currentColor;
}

@media only screen and (hover: none) and (pointer: coarse) {
  #btn-nav:not([aria-expanded="true"]):active {
    background-color: var(--color-primario-600);
  }

  .link:active {
    background: var(--color-texto-primario);
    color: var(--color-primario-600);
  }
}

@media only screen and (hover: hover) and (pointer: fine) {
  #btn-nav:not([aria-expanded="true"]):hover {
    background-color: var(--color-primario-600);
  }

  .link:hover {
    background: var(--color-texto-primario);
    color: var(--color-primario-600);
  }
}

@media screen and (max-width: 768px) {
  #nav {
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: 0;
    gap: 1rem;
    width: 175px;
    min-height: calc(100% - var(--altura-header));
    border-left: 2px solid #fff5;
    background: var(--color-primario-500);
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
    overflow-y: auto;
  }

  .oscuro #nav {
    border-left: 1px solid #fff3;
  }

  #nav.abierto,
  #nav:focus-within {
    transform: translateX(0);
  }

  #nav.abierto,
  #nav:focus-within {
    box-shadow: -4px 5px 16px rgba(0, 0, 0, .2);
  }

  #iniciar-sesion-menu {
    padding: .75rem .5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #fff3;
  }

  #perfil-menu {
    display: none;
  }

  .link {
    width: 100%;
    padding: .75em 1rem;
  }

  .link[aria-current="page"]::before {
    right: 0;
    height: 80%;
    width: 6px;
    border-radius: .75rem 0 0 .75rem;
  }
}

@media screen and (min-width: 768px) {
  #header {
    padding: 0;
    align-items: unset;
    justify-content: space-between;
    border-bottom: 2px solid #fff5;
  }

  #header h1 {
    margin: auto 1rem;
  }

  #btn-nav {
    display: none;
  }

  #nav,
  #nav ul {
    height: 100%;
  }

  #nav ul {
    display: flex;
  }

  #iniciar-sesion-menu,
  #perfil-en-linea {
    display: none;
  }

  .link {
    height: 100%;
  }

  .link,
  #perfil-menu summary {
    padding: .375rem 1.25rem;
    transition: background-color 0.2s ease-in-out;
  }

  .link[aria-current="page"]::before {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    height: 5px;
    border-radius: .75rem .75rem 0 0;
  }

  #perfil-menu,
  #perfil-menu details,
  #perfil-menu summary {
    height: 100%;
  }

  #perfil-menu summary svg:not(.filled) path {
    transform: scale(1.2) translate(-7.5%, -7.5%);
  }

  #perfil-menu summary svg {
    height: 1.5em;
    width: 1.5em;
  }

  #perfil-menu .filled,
  #perfil-menu[open] summary svg:not(.filled) {
    display: none;
  }

  #perfil-menu[open] .filled {
    display: unset;
  }

  #perfil-menu summary:hover {
    background-color: var(--color-primario-600);
  }

  #perfil-menu[open] summary {
    background: var(--color-texto-primario);
    color: var(--color-primario-600);
  }

  #perfil-menu .contenido {
    top: 100%;
    right: 0;
    border: none;
    border-top: 1px solid #fff2;
    border-radius: 0;
    border-bottom-left-radius: var(--radio-caja);
    background: var(--color-primario-500);
  }

  #perfil-menu .cabecera-foto-perfil {
    height: 8.5rem;
    width: 8.5rem;
  }

  #perfil-menu h2 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .link {
    position: relative;
  }

  .link span {
    position: absolute;
    top: 100%;
    top: calc(100% + 2px);
    left: 50%;
    min-width: max-content;
    padding: .25rem .5rem;
    border-radius: 0 0 var(--radio-campo) var(--radio-campo);
    opacity: 0;
    white-space: nowrap;
    color: var(--color-primario-500);
    background: var(--color-texto-primario);
    transition: opacity 0.2s ease-in-out;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .3);
    transform: translateX(-50%);
    pointer-events: none;
  }

  .link:hover span,
  .link:focus span {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {

  .link {
    padding: .5rem 1rem;
    gap: .5rem;
    font-size: .9rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --altura-header: 4rem;
  }

  #perfil-menu .contenido {
    border-bottom-right-radius: var(--radio-caja);
  }

  .link {
    padding: .5rem 1rem;
  }
}