.htmx-indicator {
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out allow-discrete, display .2s ease-in-out allow-discrete;
}

.htmx-indicator:not(.test),
.htmx-indicator:not(.htmx-request) {
  display: none;
}

.htmx-indicator.test,
.htmx-indicator.htmx-request {
  visibility: visible;
  opacity: 1;
}