.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: unset;
}

.htmx-indicator {
  min-width: 1em;
  min-height: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #0003;
  border-right-color: var(--color-primario-200);
  animation: l2 600ms infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn)
  }
}