.pestañas[aria-orientation=horizontal] {
  overflow-x: auto;
  min-height: max-content;
}

.pestañas[aria-orientation=vertical] {
  overflow-y: auto;
}

.lista-pestañas {
  display: flex;
}

.pestañas[aria-orientation=horizontal] .lista-pestañas {
  border-bottom: 1px solid var(--transparente-2);
}

.pestañas[aria-orientation=vertical] .lista-pestañas {
  flex-direction: column;
}

.pestañas[aria-orientation=vertical]:not(.borde-izquierdo) .lista-pestañas {
  border-right: 1px solid var(--transparente-2);
}

.pestañas[aria-orientation=vertical].borde-izquierdo .lista-pestañas {
  border-left: 1px solid var(--transparente-2);
}

.pestaña {
  position: relative;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.pestañas[aria-orientation=horizontal] .pestaña {
  padding: .375rem .75rem;
  border-radius: var(--radio-campo) var(--radio-campo) 0 0;
}

.pestañas[aria-orientation=vertical] .pestaña {
  padding: .625rem 1rem;
}

.pestañas[aria-orientation=vertical]:not(.borde-izquierdo) .pestaña {
  border-radius: var(--radio-campo) 0 0 var(--radio-campo);
}

.pestañas[aria-orientation=vertical].borde-izquierdo .pestaña {
  border-radius: 0 var(--radio-campo) var(--radio-campo) 0;
  text-align: left;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .pestaña:active {
    background: var(--transparente-1);
  }

  .pestaña:not([aria-selected="true"]):active::after {
    border-color: var(--transparente-2) !important;
  }
}

@media only screen and (hover: hover) and (pointer: fine) {
  .pestaña:hover {
    background: var(--transparente-1);
  }

  .pestaña:not([aria-selected="true"]):hover::after {
    border-color: var(--transparente-2) !important;
  }
}

.pestaña:focus-visible {
  background: var(--transparente-1);
  outline: 0;
}

.pestaña:not([aria-selected="true"]):not(:hover):not(:active) {
  color: var(--texto-sutil);
}

.pestaña[aria-selected="true"] {
  color: var(--color-primario-500);
}

.oscuro .pestaña[aria-selected="true"] {
  color: var(--color-primario-800);
}

.pestaña::after {
  content: '';
  position: absolute;
  transition: border-color .2s ease-in-out;
}

.pestañas[aria-orientation=horizontal] .pestaña::after {
  bottom: -1px;
  left: 0;
  right: 0;
  border-bottom: 2px solid #0000;
}

.pestañas[aria-orientation=vertical] .pestaña::after {
  top: 0;
  bottom: 0;
}

.pestañas[aria-orientation=vertical]:not(.borde-izquierdo) .pestaña::after {
  right: -1px;
  border-right: 2px solid #0000;
}

.pestañas[aria-orientation=vertical].borde-izquierdo .pestaña::after {
  left: -1px;
  border-left: 2px solid #0000;
}

.pestaña:not([aria-selected="true"]):focus-visible::after {
  border-color: var(--transparente-2) !important;
}

.pestaña[aria-selected="true"]::after {
  border-color: var(--color-primario-500) !important;
}

.oscuro .pestaña[aria-selected="true"]::after {
  border-color: var(--color-primario-600) !important;
}