.switch,
.switch-en-caja {
  --s: 18px;
  --fondo: var(--color-fondo-700);

  appearance: none;
  position: relative;
  height: var(--s);
  width: calc(var(--s) * 2);
  background: var(--fondo);
  border: 1px solid #0002;
  border-radius: 100px;
  cursor: pointer;
}

.switch-en-caja {
  --fondo: var(--color-fondo-900);
}

.switch::after,
.switch-en-caja::after {
  --x: 3px;

  content: '';
  position: absolute;
  top: 2.5px;
  left: var(--x);
  width: calc(var(--s) * 0.6);
  height: calc(var(--s) * 0.6);
  background: #0005;
  border-radius: 100px;
  transition: left 0.2s, transform 0.2s;
}

.switch:checked,
.switch-en-caja:checked {
  background: var(--color-primario-500);
  border-color: #fff5;
}

.switch:checked::after,
.switch-en-caja:checked::after {
  left: calc(100% - var(--x));
  transform: translateX(-100%);
  background: var(--fondo);
  border-color: var(--fondo);
}