.contenedor-tabla {
  position: relative;
  overflow: auto;
}

@media only screen and (hover: hover) and (pointer: fine) {
  .contenedor-tabla {
    scrollbar-color: var(--color-primario-500) var(--color-fondo-600);
  }
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #0002;
  border-radius: var(--radio-campo);
}

caption {
  padding: 8px;
}

thead {
  position: sticky;
  top: 0;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr {
  background-color: var(--color-fondo-400);
}

th {
  background: var(--color-fondo-600);
}

th:first-child {
  border-top-left-radius: calc(var(--radio-campo) - 1px);
}

th:last-child {
  border-top-right-radius: calc(var(--radio-campo) - 1px);
}

tr:not(:last-child)>td {
  border-bottom: 1px solid #0002;
}

tr:last-child td:first-child {
  border-bottom-left-radius: calc(var(--radio-campo) - 1px);
}

tr:last-child td:last-child {
  border-bottom-right-radius: calc(var(--radio-campo) - 1px);
}

table .numeros {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

table td.numeros {
  letter-spacing: 0.5px;
  font-family: system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}