.contenedor-tabla {
  position: relative;
  overflow: auto;
}

@media only screen and (hover: hover) and (pointer: fine) {
  .contenedor-tabla {
    scrollbar-color: var(--color-primario-500) var(--color-fondo-600);
  }

  .oscuro .contenedor-tabla {
    scrollbar-color: #888 var(--color-fondo-700);
  }
}

.tabla {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--borde-caja);
  border-radius: var(--radio-campo);
}

.tabla caption {
  padding: 8px;
}

.tabla thead {
  position: sticky;
  top: 0;
}

.tabla th,
.tabla td {
  text-align: left;
  padding: 8px;
}

.tabla tr {
  background-color: var(--color-fondo-400);
}

.tabla .sticky-row {
  position: sticky;
  z-index: 1;
}

.tabla .sticky-row td {
  background-color: var(--color-fondo-500);
  font-weight: 500;
}

.tabla th {
  background: var(--color-fondo-600);
}

.tabla th:first-child {
  border-top-left-radius: calc(var(--radio-campo) - 1px);
}

.tabla th:last-child {
  border-top-right-radius: calc(var(--radio-campo) - 1px);
}

.tabla tr:not(:last-child)>td {
  border-bottom: 1px solid var(--borde-caja);
}

.tabla tr:last-child td:first-child {
  border-bottom-left-radius: calc(var(--radio-campo) - 1px);
}

.tabla tr:last-child td:last-child {
  border-bottom-right-radius: calc(var(--radio-campo) - 1px);
}

.tabla .numeros {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.tabla td.numeros {
  letter-spacing: 0.5px;
  font-family: system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}