{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block titulo %}Profesores{% endblock titulo %}

{% block cabeza %}
  <link rel="stylesheet" href="{% static 'css/componentes/badge.css' %}" />
  <link rel="stylesheet" href="{% static 'css/profesores/index.css' %}" />
{% endblock cabeza %}

{% block contenido %}
  <form method="post" id="buscador">
    {% csrf_token %}
    {% render_field form.busqueda type="search" name="busqueda" id="busqueda" aria-label=form.busqueda.label placeholder="Buscar" %}

    <button id="btn-buscar" class="btn-primario btn-sm" aria-label="Buscar">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
        <path d="M21 21l-6 -6" />
      </svg>
    </button>

    <details class="menu" id="opciones-busqueda">
      <summary class="btn caja-input" aria-label="Opciones de búsqueda">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M11.646 20.965a1.67 1.67 0 0 1 -1.321 -1.282a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c.728 .177 1.154 .71 1.279 1.303"
          />
          <path d="M14.985 11.694a3 3 0 1 0 -3.29 3.29" />
          <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
          <path d="M20.2 20.2l1.8 1.8" />
        </svg>
      </summary>

      <div class="contenido col">
        <div class="campo">
          {{ form.columna_buscada.label_tag }}
          {% render_field form.columna_buscada class="caja-input" %}
        </div>

        <div class="campo">
          {{ form.tipo_busqueda.label_tag }}
          {% render_field form.tipo_busqueda class="caja-input" %}
        </div>

        <div class="campo">
          {{ form.ordenar_por.label_tag }}
          {% render_field form.ordenar_por class="caja-input" %}
        </div>

        <div class="campo">
          {{ form.direccion_de_orden.label_tag }}
          {% render_field form.direccion_de_orden class="caja-input" %}
        </div>
      </div>
    </details>
  </form>

  <ul id="profesores">
    {% for profesor in profesores %}
      <li class="profesor col caja">
        <div>
          {% if profesor.usuario.foto_perfil %}
            <img
              class="avatar"
              src="{{ profesor.usuario.foto_perfil.url }}"
              alt="avatar"
            />
          {% else %}
            <svg
              class="avatar"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c39.77 0 72 32.24 72 72S295.8 272 256 272c-39.76 0-72-32.24-72-72S216.2 128 256 128zM256 448c-52.93 0-100.9-21.53-135.7-56.29C136.5 349.9 176.5 320 224 320h64c47.54 0 87.54 29.88 103.7 71.71C356.9 426.5 308.9 448 256 448z"
              />
            </svg>
          {% endif %}

          <span class="nombres">
            {{ profesor.apellidos }} {{ profesor.nombres }}
          </span>
        </div>

        <div class="info">
          <p>
            <span>Añadido el:</span>
            {{ profesor.fecha_ingreso }}
          </p>

          <p>
            <span>Telefono:</span>
            {{ profesor.telefono|default:'no asignado' }}
          </p>

          <p>
            <span>Correo:</span>
            <a
              class="link-secundario"
              href="mailto:{{ profesor.usuario.email }}"
              >{{ profesor.usuario.email|default:'no asignado' }}</a
            >
          </p>

          <div
            role="status"
            class="badge estado"
            data-activo="{{ profesor.esta_activo }}"
          >
            {% if profesor.esta_activo %}
              <span class="activo">Activo</span>
            {% else %}
              <span class="inactivo">Inactivo</span>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
