{% load static %}
{% load sekizai_tags %}

<!doctype html>
<html lang="es-VE">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <meta name="theme-color" content="hsl(0, 100%, 21.5%)" />
    <title>
      {% block titulo %}Sistema de Administración{% endblock %} - Liceo Mijaguas
    </title>

    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link
      rel="icon"
      href="{% static 'favicon-32x32.png' %}"
      type="image/png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="{% static 'favicon-16x16.png' %}"
      type="image/png"
      sizes="16x16"
    />

    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/uno.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fuentes.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tema.css' %}" />
    <link rel="stylesheet" href="{% static 'css/componentes/index.css' %}" />
    {# usado en la cabecera #}
    <link rel="stylesheet" href="{% static 'css/componentes/menu.css' %}" />

    {% if DEBUG %}
      <script type="module">
        if (
          /Android|iPhone|iPad|iPod|BlackBerry|Windows Phone|webOS/i.test(
            navigator.userAgent,
          ) ||
          "ontouchstart" in window ||
          navigator.maxTouchPoints > 0
        ) {
          await import("/static/js/eruda.js");

          if (window.eruda) window.eruda.init();
          else throw new Error("eruda not found");
        }
      </script>
    {% endif %}

    <script src="{% static 'js/van-1.6.0.nomodule.min.js' %}"></script>
    <script defer src="{% static 'js/utilidades.js' %}"></script>
    <script src="{% static 'js/aplicar-tema.js' %}"></script>

    {% block cabeza %}
    {% endblock cabeza %}
    {% render_block "cabeza" %}
  </head>

  <body hx-ext="head-support">
    {% include 'componentes/cabecera/index.html' %}

    <main>{% block contenido %}{% endblock %}</main>
  </body>
</html>
