{% extends "base.html" %}
{% load static %}
{% load utilidades %}
{% load partials %}
{% load sekizai_tags %}
{% load widget_tweaks %}
{% load grupos_variantes %}

{% block titulo %}
  Lista de {{ view.nombre_objeto_plural }}
{% endblock %}

{% block cabeza %}
  <link
    rel="stylesheet"
    href="{% static 'css/componentes/htmx-indicator.css' %}"
  />
  {% if not no_hay_objetos %}
    <link rel="stylesheet" href="{% static 'css/componentes/dialog.css' %}" />
    <style>
      @keyframes moverIzquierdaDerecha {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(200%);
        }
      }
    </style>

    <script defer src="{% static 'js/htmx.min.js' %}"></script>
    <script defer src="{% static 'js/htmx-error-solicitudes.js' %}"></script>
    <script defer src="{% static 'js/alpine-focus.min.js' %}"></script>
    <script defer src="{% static 'js/alpine-dialog.min.js' %}"></script>
    <script defer src="{% static 'js/componentes/lista-objetos.js' %}"></script>
  {% endif %}

  <script src="{% static 'js/componentes/dropdown.js' %}"></script>
{% endblock cabeza %}

{% block contenido %}
  <main
    class="{{ main_class }}"
    {% if not no_hay_objetos %}
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-target="#{{ view.id_lista_objetos }}" hx-swap="outerHTML"
      {% if form_filtros %}
        hx-indicator="#indicador-busqueda"
      {% endif %}
      x-data="listaObjetos({ contenedorManejoTeclas: $el.$('[data-lista]'),
      {% block x_data %}{% endblock x_data %} })"
    {% endif %}
  >
    {% if no_hay_objetos %}
      <div
        id="{{ view.id_lista_objetos }}"
        role="alert"
        class="ui-caja col aic gap-y-6 max-w-[400px] max-h-max ma flex-1 p-5 px-6 tac text-balance"
      >
        <span
          class="ui-contenedor-icono size-min-[5rem] p-3 bg-primario-50 dark:bg-primario-800 text-primario-600 dark:text-primario-100 [&>svg]:size-full"
        >
          {% include "componentes/iconos/tabla.html#sin_notas" %}
        </span>

        <hgroup class="col gap-y-2">
          {% block sin_objetos %}
            <h1 class="font-bold text-xl">
              No se encontraron {{ view.nombre_objeto_plural }}
            </h1>
          {% endblock sin_objetos %}
          {% if permisos.crear %}
            <a
              href="{% url view.url_crear %}"
              class="ui-btn ui-btn/primario p-1.5 px-4 mt-4 mxa"
            >
              <span class="ui-contenedor-icono bg-[#fff2] p-1 size-6">
                {% include "componentes/iconos/edicion.html#suma" %}
              </span>

              {% with por_defecto="Añade un"|add:view.vocal_del_genero %}
                {{ texto_sin_objetos_btn|default:por_defecto }}
              {% endwith %}
            </a>
          {% endif %}
        </hgroup>
      </div>
    {% else %}
      {% block cabecera %}
        <div>
          <header
            {% with c="min-[600px]:(flex gap-x-5 aic jb)"|expandir_variantes %}
              {% if view.total is not None or is_paginated %}
                class="{{ c|add:' min-[600px]:(pb-2 border-b border-[--transparente-2])'|expandir_variantes }}"
              {% else %}
                class="{{ c|add:' pb-2 border-b border-[--transparente-2]' }}"
              {% endif %}
            {% endwith %}
          >
            <div
              {% with c="flex aic gap-x-4" %}
                {% if view.total is not None or is_paginated %}
                  class="{{ c|add:' pb-2 max-[600px]:jb min-[600px]:flex-row-reverse' }}"
                {% else %}
                  class="{{ c|add:' flex-1 jb' }}"
                {% endif %}
              {% endwith %}
            >
              <h1
                {% with c="text-lg font-bold min-[500px]:text-xl truncate" %}
                  {% if view.total is None and not is_paginated %}
                    class="{{ c|add:' flex-1' }}"
                  {% else %}
                    class="{{ c }}"
                  {% endif %}
                {% endwith %}
              >
                {% block titulo_lista %}
                  Lista de {{ view.nombre_objeto_plural }}
                {% endblock titulo_lista %}
              </h1>

              {% if permisos.crear and view.url_crear %}
                <hr
                  class="max-[600px]:hidden h-6 w-1px border-0 bg-[--transparente-2]"
                />

                <a
                  class="ui-btn ui-btn/primario rounded-full p-1.25 size-7 text-sm"
                  href="{% url view.url_crear %}"
                  aria-label="Añadir {{ view.nombre_objeto }}"
                >
                  {% include "componentes/iconos/edicion.html#suma" with class="" %}
                </a>
              {% endif %}
            </div>

            {% if view.total is not None or is_paginated %}
              <div
                class="{{ 'flex gap-x-1.5 pt-1 max-[600px]:(border-t border-t-[--transparente-2])'|expandir_variantes }}"
              >
                {% with label="Totales:"  icono='total' %}
                  {% if view.total is not None %}
                    {% with dato=view.total %}
                      {% partial cantidad %}
                    {% endwith %}
                  {% else %}
                    {% with dato=page_obj.paginator.count %}
                      {% partial cantidad %}
                    {% endwith %}
                  {% endif %}
                {% endwith %}

                {% if form_filtros %}
                  {% with label="Filtrad"|add:view.vocal_del_genero|add:"s:" dato_id="filtrados-cantidad" dato=page_obj.paginator.count icono='filtros' %}
                    {% partial cantidad %}
                  {% endwith %}
                {% endif %}
              </div>
            {% endif %}
          </header>

          <div
            id="indicador-busqueda"
            role="status"
            aria-label="Cargando"
            class="{{ 'htmx-indicator relative h-1.25 w-full overflow-hidden rounded-xs before:(content-[""] absolute top-0 left-0 size-full bg-[--transparente-1] rounded-xs) after:(content-[""] absolute top-0 left-0 size-full bg-primario rounded-xs dark:bg-primario-600 transform translate-x-[-100%] animate-[moverIzquierdaDerecha_1s_linear_infinite]) max-[600px]:mt-2'|expandir_variantes }}"
          ></div>
        </div>
      {% endblock cabecera %}

      <div
        class="{{ 'tabla-contenido col gap-y-2 flex-1 h-full overflow-y-auto [@media_all_and_(display-mode:fullscreen)]:(p-4 bg-fondo-300)'|expandir_variantes }}"
      >
        {% if form_filtros %}
          {% block filtros %}
            <div class="top-0 col gap-y-2" x-data="{ filtrosAplicados: {} }">
              {% include "componentes/vista-lista/filtros/_lista.html" %}

              <form
                class="flex aic gap-x-1 h-8 min-[400px]:gap-x-2 max-[600px]:text-sm"
                hx-post
                x-ref="form"
                {% if is_paginated %}
                  hx-include="[name=pagina]"
                {% endif %}
              >
                {# indicar al servidor que solo se quiere la tabla al momento de reemplazar el contenido #}
                <input type="hidden" name="solo_tabla" value="true" />

                {%
                  with
                  submenu_class="ui-elevado absolute left-[calc(100%+6px)] top-0 col gap-y-4 w-max max-w-200px py-2 px-3  shadow-xl"
                  trigger_class="rounded p-1 px-2 w-full text-left pover:bg-[--transparente-1] aria-expanded:bg-[--transparente-1] aria-expanded:pover:bg-[--transparente-2] transition-[background-color] list-none"
                  aplicar_btn_class="ui-btn ui-btn/primario p-0.5 px-4 flex-1"
                  radio_label_class="group/label flex aic gap-x-2"
                  radio_class="ui-opcion ui-opcion/radio z-2 size-4.5 size-min-4.5"
                %}
                  {% include "componentes/vista-lista/filtros/menu-busqueda.html" %}

                  <div
                    class="relative h-full"
                    x-data="dropdown({ {% if filtros_abiertos %}abierto: true{% endif %} })"
                    x-ref="menuFiltros"
                  >
                    <button
                      x-bind="trigger"
                      class="ui-btn ui-btn/secundario h-full px-2 rounded"
                      aria-label="Añadir filtros"
                    >
                      {% include "componentes/iconos/tabla.html#filtros" with class="size-5" %}
                    </button>

                    <div
                      class="absolute z-5 top-[calc(100%+4px)] left-0 ui-elevado col gap-y-1 p-1 min-w-max shadow-xl text-base"
                      x-cloak
                      x-bind="menu"
                      x-show="abierto || abiertoPorTeclado"
                    >
                      {% block opciones_filtros %}
                        {% for campo in form_filtros %}
                          {% if campo.field.campo_booleano %}
                            {% include "componentes/vista-lista/filtros/yesno.html" %}
                          {% endif %}
                        {% endfor %}
                      {% endblock opciones_filtros %}
                    </div>
                  </div>
                {% endwith %}

                {% if form_con_orden %}
                  {% include "componentes/vista-lista/orden.html" %}
                {% endif %}
                {% include "componentes/vista-lista/btn-pantalla-completa.html" %}

                {% if not view.tabla %}
                  <button
                    type="button"
                    class="ui-btn ui-elevado h-full rounded px-1"
                    @click="alternarSeleccionTodo()"
                  >
                    {% include "componentes/iconos/edicion.html#seleccionar_todo" with class="size-5.5" %}
                    <span class="sr-only">Seleccionar todo</span>
                  </button>
                {% endif %}

                {% if form_filtros.cantidad_por_pagina %}
                  <label
                    class="ui-elevado fc gap-x-2 h-full rounded-campo px-2"
                    hx-vals='{"solo_tabla": true}'
                    @change="$refs.form.requestSubmit()"
                  >
                    {% render_field form_filtros.cantidad_por_pagina class="py-0! ui-elevado-2" data-filtro="" %}
                    <span class="sr-only">
                      {{ view.nombre_objeto_plural }}
                    </span>
                    <span class="min-w-max"> por página </span>
                  </label>
                {% endif %}
              </form>
            </div>
          {% endblock filtros %}
        {% endif %}
        {% include view.plantilla_lista %}
      </div>

      {% if not no_hay_objetos %}
        {%
          with
          dialog_class="ui-caja max-w-400px"
          div_class="col gap-y-6 p-4 px-5"
          btns_class="flex gap-x-2 *:flex-1"
          cancelar_class="deshabilitar-al-subir ui-btn ui-btn/borde ui-btn/md"
          subir_class="deshabilitar-al-subir ui-btn ui-btn/md peer-[:not(.htmx-request)]:[&>.ui-loader]:hidden"
        %}
          {% block modales %}
            {% if permisos.eliminar %}
              <dialog
                class="{{ dialog_class }}"
                x-show="modalAbierto === 'eliminar'"
                x-htmldialog="modalAbierto = null"
                @click="$event.target === $event.currentTarget && (modalAbierto = null)"
              >
                <div class="{{ div_class }}">
                  <hgroup class="col gap-y-3">
                    <h1 class="text-lg font-bold tac">Confirmar eliminación</h1>
                    <p class="text-texto-semi-sutil">
                      ¿Realmente deseas eliminar
                      {{ view.articulo_sustantivo_plural }}
                      <span x-text="`(${filasSeleccionadas.size})`"></span>
                      {{ view.nombre_objeto_plural }}
                      seleccionad{{ view.vocal_del_genero }}s?
                    </p>
                  </hgroup>

                  {% if modelos_relacionados|length > 0 %}
                    <div class="col gap-y-2">
                      {% with texto="También se verán afectados los modelos:" %}
                        {% partialdef consecuencia_p inline %}
                          <p
                            class="flex gap-2 text-advertencia-600 dark:text-advertencia-400"
                          >
                            <span
                              class="ui-contenedor-icono p-1.25 text-advertencia bg-advertencia-200 dark:bg-advertencia-900 size-7"
                            >
                              {% include "componentes/iconos/mensajes.html#alerta" with class="" %}
                            </span>
                            {{ texto }}
                          </p>
                        {% endpartialdef consecuencia_p %}
                      {% endwith %}
                      <ul class="list-disc list-inside">
                        {% for m in modelos_relacionados %}
                          <li class="font-500 pl-3 first-letter:capitalize">
                            {{ m }}{% if not forloop.last %},{% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% else %}
                    {% with texto="Todos sus elementos relacionados también serán eliminados" %}
                      {% partial consecuencia_p %}
                    {% endwith %}
                  {% endif %}

                  <div class="{{ btns_class }}" role="group">
                    <button
                      class="{{ cancelar_class }}"
                      @click="modalAbierto = null"
                    >
                      No eliminar
                    </button>

                    <div
                      role="alert"
                      id="indicador-eliminar"
                      class="htmx-indicator peer sr-only"
                    >
                      Eliminando...
                    </div>

                    <button
                      class="{{ subir_class|add:' ui-btn/peligro' }}"
                      hx-delete
                      hx-indicator="#indicador-eliminar"
                      hx-disabled-elt=".deshabilitar-al-subir"
                      {# obtener los ids de las filas seleccionadas desde el componente de la lista #}
                      hx-vals="js:{ ids: Array.from(Alpine.$data($id('{{ view.id_lista_objetos }}')).filasSeleccionadas) }"
                      @htmx:after-request.window="if ($event.target === $el) {
                      modalAbierto = null;
                      limpiarSeleccion();
                    }"
                    >
                      <div class="ui-loader ui-loader/blanco"></div>
                      Sí, eliminar
                    </button>
                  </div>
                </div>
              </dialog>
            {% endif %}
          {% endblock modales %}
        {% endwith %}
      {% endif %}
    {% endif %}
  </main>
{% endblock contenido %}

{% partialdef cantidad %}
  <div
    role="status"
    class="{{ "ui-elevado flex aic gap-x-2 flex-1 p-1.5 pl-2 pr-3 max-[500px]:(text-sm) min-[500px]:(gap-x-3 py-2) max-[600px]:rounded-b-lg min-[600px]:rounded-lg"|expandir_variantes }}"
  >
    <span
      class="inline-flex aic jcc rounded size-5 p-1 bg-secundario text-secundario-texto dark:bg-secundario-600 min-[500px]:size-6"
    >
      {% include "componentes/iconos/tabla.html#"|add:icono %}
    </span>
    <p class="text-texto-sutil">{{ label }}</p>
    <b id="{{ dato_id }}" class="mla">{{ dato }}</b>
  </div>
{% endpartialdef cantidad %}
