{% extends "base.html" %}

{% block titulo %}
  {% if editando %}
    Editar {{ view.nombre_objeto }}
  {% else %}
    Registro de {{ view.nombre_objeto_plural }}
  {% endif %}
{% endblock %}
{#  #}
{% load static %}
{% load widget_tweaks %}
{% load partials %}
{% load utilidades %}
{% load grupos_variantes %}

{% block cabeza %}
  <link
    rel="stylesheet"
    href="{% static 'css/componentes/htmx-indicator.css' %}"
  />

  <script defer src="{% static 'js/htmx.min.js' %}"></script>
  <script defer src="{% static 'js/htmx-error-solicitudes.js' %}"></script>
  <script defer src="{% static 'js/btn-subir-autohabilitar.js' %}"></script>
  <script defer src="{% static 'js/limpiar-errores.js' %}"></script>
{% endblock cabeza %}

{% block contenido %}
  <main
    class="{{ class|default:'max-w-600px '|add:' col justify-center-safe flex-1  mxa w-full p-5 py-6 *:w-full min-[500px]:p-8 sidebar:jcc sidebar:p-10' }}"
  >
    <div class="col gap-y-2 mb-4 sidebar:mb-8">
      <h1 class="text-2xl font-bold max-sidebar:tac">
        {% if editando %}
          Editar {{ view.nombre_objeto }}
        {% else %}
          Registro de {{ view.nombre_objeto_plural }}
        {% endif %}
      </h1>
      <hr class="h-1px border-[--transparente-2] max-sidebar:hidden" />
    </div>

    <form
      id="form"
      hx-post
      hx-target="#campos"
      hx-indicator="#indicador"
      hx-disabled-elt=".deshabilitar-al-subir"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    >
      {% block campos %}{% endblock campos %}
    </form>

    <div role="alert" id="indicador" class="htmx-indicator sr-only peer">
      Subiendo...
    </div>

    <button
      form="form"
      id="submit"
      class="{{
        '
          deshabilitar-al-subir ui-btn ui-btn/md ui-btn/primario gap-x-3 col-span-2 w-full mt-5 mla
          peer-[:not(.htmx-request)]:[&>.ui-loader]:hidden
          min-[500px]:(max-sidebar:mxa py-2.5)
          sidebar:max-w-250px
        '
        |reemplazar_espacios:' '|expandir_variantes
      }}"
    >
      <span class="ui-loader ui-loader/blanco"></span>
      {% if editando %}
        Guardar cambios
      {% else %}
        Añadir
      {% endif %}
    </button>
  </main>
{% endblock contenido %}

{% partialdef invalido %}
  {% with campos_reemplazados_por_htmx=1 %}
    {% include view.template_name|add:"#campos" %}
    {% include "componentes/mensajes.html#como_respuesta" %}
  {% endwith %}
{% endpartialdef invalido %}
