{% extends "base.html" %}

{% block titulo %}
  {% if editando %}
    Editar {{ view.nombre_objeto }}
  {% else %}
    Registro de {{ view.nombre_objeto_plural }}
  {% endif %}
{% endblock %}
{#  #}
{% load static %}
{% load widget_tweaks %}
{% load partials %}
{% load utilidades %}
{% load grupos_variantes %}

{% block cabeza %}
  <link
    rel="stylesheet"
    href="{% static 'css/componentes/htmx-indicator.css' %}"
  />

  <script defer src="{% static 'js/htmx.min.js' %}"></script>
  <script defer src="{% static 'js/htmx-error-solicitudes.js' %}"></script>
  <script defer src="{% static 'js/btn-subir-autohabilitar.js' %}"></script>
  <script defer src="{% static 'js/limpiar-errores.js' %}"></script>
{% endblock cabeza %}

{% block contenido %}
  <main class="col flex-1 size-full sidebar:min-h-100dvh {{ class }}">
    <div role="alert" id="indicador" class="htmx-indicator sr-only peer">
      Subiendo...
    </div>

    <div
      class="{{ cabecera_clase|default:' p-2 px-4 min-[500px]:px-8 max-sidebar:border-t-1 sidebar:px-10' }} group sticky z-4 top-[--altura-header] flex aic jb w-full border-b-2 border-t-[#fff2] border-b-[#fff3] bg-primario-600 dark:bg-primario-400 text-primario-texto shadow-lg "
    >
      <h1 class="text-lg font-500">
        {% block titulo_form %}
          {% if editando %}
            Editar
          {% else %}
            Registrar
          {% endif %}
          {{ view.nombre_objeto }}
        {% endblock titulo_form %}
      </h1>

      {% block acciones %}
        <button
          form="form"
          id="submit"
          class="deshabilitar-al-subir ui-btn gap-x-2! opacity-100! bg-primario-texto text-primario-600 pover:bg-primario-50 dark:pover:bg-primario-950 gap-x-3 outline-offset-3 p-0.5 px-4 [.peer:not(.htmx-request)~.group_&_.ui-loader]:hidden max-sidebar:text-sm"
        >
          {% block texto_subir %}
            {% if editando %}
              Guardar cambios
            {% else %}
              Añadir
            {% endif %}
          {% endblock texto_subir %}
          <span
            class="ui-loader border-2 border-current border-r-transparent size-3!"
          ></span>
        </button>
      {% endblock acciones %}
    </div>

    {% with form_class="col aic justify-center-safe flex-1 p-4 py-6 min-[500px]:px-8 sidebar:px-10" %}
      {% block form %}
        <form
          {% block form_attrs %}
          {% endblock form_attrs %}
          class="{{ form_class }}"
          id="form"
          hx-post
          hx-target="#campos"
          hx-indicator="#indicador"
          hx-disabled-elt=".deshabilitar-al-subir"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        >
          {% block campos %}{% endblock campos %}
        </form>
      {% endblock form %}
    {% endwith %}
  </main>
{% endblock contenido %}

{% partialdef invalido %}
  {% with campos_reemplazados_por_htmx=1 %}
    {% include view.template_name|add:"#campos" %}
    {% include "componentes/mensajes.html#como_respuesta" %}
  {% endwith %}
{% endpartialdef invalido %}
