{% extends "base.html" %}
{% block titulo %}
  Cambiar contraseña
{% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block cabeza %}
  <script defer src="{% static 'js/btn-subir-autohabilitar.js' %}"></script>
  {% if form.errors %}
    <script defer src="{% static 'js/limpiar-errores.js' %}"></script>
  {% endif %}
{% endblock cabeza %}

{% block contenido %}
  <main class="col fc flex-1 p-4">
    <form method="post" class="ui-caja col gap-4 w-full max-w-350px p-4">
      <h1 class="text-[1.25rem] font-bold tac">
        Cambiar contraseña del usuario
      </h1>
      {% csrf_token %}
      {% for campo in form %}
        {% include "componentes/campo.html" with input_class="ui-elevado-2" %}
      {% endfor %}

      <button disabled class="ui-btn/primario ui-btn/md mt-3" id="submit">
        Guardar cambios
      </button>
    </form>
  </main>
{% endblock contenido %}
