{% extends "base.html" %}

{% block titulo %}
  Iniciar Sesión
{% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block cabeza %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <link rel="stylesheet" href="{% static 'css/componentes/alerta.css' %}" />
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      if (window.location.search.includes("next="))
        document.querySelector("input[name=next]").value =
          window.location.search.split("next=")[1];
    });
  </script>
{% endblock %}

{% block contenido %}
  <img src="{% static 'img/logo.png' %}" alt="logo" />

  <form class="caja" action="{% url 'login' %}" method="post">
    {% csrf_token %}

    <h1>Iniciar sesión</h1>

    <div class="col" style="gap: 1rem;">
      {% for field in form %}
        <div class="col" style="gap: 6px;">
          {{ field.label_tag }}
          {% render_field field class="caja-input" %}
        </div>
      {% endfor %}
    </div>

    <button class="btn-primario btn-md w-100" style="margin-top: 1.75rem;">
      Ingresar
    </button>

    <input type="hidden" name="next" value="/" />
  </form>

  {% if form.errors %}
    {% with mensaje_alerta="Los datos ingresados no son correctos" %}
      {% include "componentes/alerta.html" %}
    {% endwith %}
  {% endif %}
{% endblock %}
