{% extends "base.html" %}

{% block titulo %}Perfil{% endblock titulo %}
{% load static %}
{% load widget_tweaks %}

{% block cabeza %}
  <link rel="stylesheet" href="{% static 'css/perfil.css' %}" />
  <script defer src="{% static 'js/limpiar-errores.js' %}"></script>
  <script defer src="{% static 'js/htmx.min.js' %}"></script>
  <script defer src="{% static 'js/perfil.js' %}"></script>
{% endblock cabeza %}

{% block contenido %}
  <form class="col caja" method="post" enctype="multipart/form-data">
    <div id="avatar-container" class="col flex-center">
      <div class="img">
        {% if request.user.foto_perfil %}
          <img
            id="avatar"
            src="{{ request.user.foto_perfil.url }}"
            alt="avatar"
          />
        {% else %}
          <svg
            id="avatar"
            role="img"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c39.77 0 72 32.24 72 72S295.8 272 256 272c-39.76 0-72-32.24-72-72S216.2 128 256 128zM256 448c-52.93 0-100.9-21.53-135.7-56.29C136.5 349.9 176.5 320 224 320h64c47.54 0 87.54 29.88 103.7 71.71C356.9 426.5 308.9 448 256 448z"
            />
          </svg>
        {% endif %}

        <button type="button" id="ver-avatar" aria-label="Ver avatar"></button>

        <details class="menu" id="editar-avatar">
          <summary class="btn-primario" aria-label="Editar avatar">
            <svg
              style="enable-background:new 0 0 512 512;"
              version="1.1"
              viewBox="0 0 512 512"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <polygon
                points="263.75,145.68 43.5,365.92 43.5,466.5 152.04,466.5 368.31,250.23    "
              />
              <path
                d="M458.07,139.61l-83.7-83.69c-5.76-5.76-15.1-5.76-20.86,0l-67.13,67.13l104.56,104.55l67.13-67.13     C463.83,154.71,463.83,145.37,458.07,139.61z"
              />
            </svg>
          </summary>

          <div class="contenido">
            {% render_field form.foto_perfil class="sr-only" %}
            <label for="{{ form.foto_perfil.id_for_label }}" id="subir-avatar">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="17"
                height="17"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                <path d="M7 9l5 -5l5 5" />
                <path d="M12 4l0 12" />
              </svg>

              Subir avatar
            </label>

            <button
              {% if not request.user.foto_perfil %}
                disabled
              {% endif %}
              id="borrar-avatar"
              hx-delete="{% url 'perfil' %}"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              hx-confirm="¿Seguro que quieres borrar tu avatar?"
              hx-swap="outerHTML"
            >
              <span class="htmx-indicator"></span>
              <svg
                version="1.1"
                viewBox="0 0 30 30"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <path
                  d="M19.71,26h-9.42c-1.019,0-1.875-0.766-1.988-1.779L6.5,8h17l-1.802,16.221C21.585,25.234,20.729,26,19.71,26z"
                />
                <path
                  d="M24,6H6C5.448,6,5,5.552,5,5v0c0-0.552,0.448-1,1-1h18c0.552,0,1,0.448,1,1v0C25,5.552,24.552,6,24,6z"
                />
                <path
                  d="M18,5h-6V4c0-0.552,0.448-1,1-1h4c0.552,0,1,0.448,1,1V5z"
                />
              </svg>

              Eliminar avatar
            </button>
          </div>
        </details>
      </div>

      {% with error=form.username.id_for_label|add:'-error' label="Nombre de usuario" %}
        {% if form.username.errors %}
          {% render_field form.username placeholder=label aria-label=label aria-labelledby=error aria-invalid="true" %}
          {% for error in form.username.errors %}
            <p id="{{ error }}" class="caja-input-error">{{ error }}</p>
          {% endfor %}
        {% else %}
          {% render_field form.username placeholder=label aria-label=label %}
        {% endif %}
      {% endwith %}

      <p class="flex texto-ligero" id="fecha-registro">
        <span class="icono-redondo">
          <svg
            style="transform: scale(.9)"
            viewBox="0 0 448 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm320-196c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM192 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM64 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"
            />
          </svg>
        </span>
        Registrado el {{ request.user.date_joined }}
      </p>
    </div>

    <hr />

    <div role="group" class="campos">
      {% csrf_token %}

      {% for field in form %}
        {% if field.id_for_label != 'id_foto_perfil' and field.id_for_label != 'id_username' %}
          <div class="campo">
            {{ field.label_tag }}
            {% if field.errors %}
              {% with error=field.id_for_label|add:'-error' %}
                {% render_field field class="caja-input" aria-labelledby=error aria-invalid="true" %}
              {% endwith %}
            {% else %}
              {% render_field field class="caja-input" %}
            {% endif %}

            {% if field.errors %}
              {% for error in field.errors %}
                <p id="{{ field.id_for_label }}-error" class="caja-input-error">
                  {{ error }}
                </p>
              {% endfor %}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div id="acciones" class="col">
      <button class="btn-primario btn-md">Guardar cambios</button>

      <a
        class="btn-borde-primario btn-md"
        href="{% url 'cambiar-contraseña' %}"
      >
        Cambiar contraseña
      </a>
    </div>
  </form>

  <dialog id="img-dialog">
    <div>
      <img
        {% if request.user.foto_perfil %}
          src="{{ request.user.foto_perfil.url }}"
        {% endif %}
        alt="avatar"
      />
    </div>
  </dialog>
{% endblock contenido %}
