{% extends "base.html" %} {% block titulo %}Registro{% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block cabeza %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <script defer src="{% static 'js/limpiar-errores.js' %}"></script>
{% endblock %}

{% block contenido %}
  <form class="caja" method="post">
    <h1>Crear usuario</h1>
    {% csrf_token %}

    <div class="col" style="gap: 1rem">
      {% for field in form %}
        <div class="col" style="gap: 6px">
          {{ field.label_tag }}

          {% if field.errors %}
            {% for error in field.errors %}
              {% with error=field.id_for_label|add:'-error' %}
                {% render_field field class="caja-input" aria-labelledby=error aria-invalid="true" %}
              {% endwith %}

              <p id="{{ field.id_for_label }}-error" class="caja-input-error">
                {{ error }}
              </p>
            {% endfor %}
          {% else %}
            {% render_field field class="caja-input" %}
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <button>Crear</button>
  </form>
{% endblock %}
