{% extends "componentes/vista-lista/lista.html" %}
{% load grupos_variantes %}
{% load utilidades %}

{% block contenedor %}
  {% with contenedor_class="col jb flex-1 overflow-y-auto" %}
    {{ block.super }}
  {% endwith %}
{% endblock contenedor %}

{% block lista %}
  <ul
    x-bind="eventosLista"
    class="col gap-3 flex-1 min-[500px]:grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] content-start"
    @click="{{
      '
        if ($event.target.closest("[data-foto-url]")) {
          const url = $event.target.closest("[data-foto-url]").getAttribute("data-foto-url");

          if (url !== null) {
            urlFotoSeleccionada = url;

            const id = $event.target.closest("[data-foto-url]").getAttribute("data-id");
            modalAbierto = "foto";
          }
        }
      '|reemplazar_espacios:''
    }}"
  >
    {% for usuario in lista_objetos %}
      <li class="max-h-max">
        <article class="ui-caja col gap-y-3 p-3">
          <div class="flex aic gap-x-3">
            {% with c="size-18 size-min-18 lh-18 aspect-square rounded-full" %}
              {% if usuario.foto_perfil and usuario.miniatura_foto %}
                <button
                  data-foto-url="{{ usuario.foto_perfil }}"
                  data-id="{{ usuario.id }}"
                  class="align-middle"
                  aria-label="Inspeccionar foto de perfil"
                >
                  <img
                    class="{{ c|add:' object-cover border-2 border-[--transparente-3]' }}"
                    src="{{ media_url }}{{ usuario.miniatura_foto }}"
                    alt="foto de perfil"
                  />
                </button>
              {% else %}
                <span
                  class="{{ c|add:' tac bg-fondo-950 text-texto-semi-sutil text-3xl font-bold' }}"
                >
                  {{ usuario.username|capfirst|slice:"0:1" }}
                </span>
              {% endif %}
            {% endwith %}

            <hgroup class="col jb gap-y-1 w-full">
              <h3
                id="{{ usuario.id }}-nombre"
                class="font-bold min-[500px]:text-lg"
              >
                {% include "componentes/tabla-adaptable/enlace-editar.html" with objeto=usuario dato=usuario.username %}
              </h3>
              <p class="text-sm text-texto-semi-sutil">
                {% with roles=usuario.grupos.all %}
                  {% if roles %}
                    {% for rol in roles %}
                      {{ rol }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  {% else %}
                    Sin grupos
                  {% endif %}
                {% endwith %}
              </p>
            </hgroup>
          </div>

          <div
            class="col gap-y-3 border-t border-[--borde-caja] pt-3 text-sm text-texto-sutil"
          >
            <dl class="col gap-y-2">
              {% with c="flex aic jb" dtc="flex gap-x-2 aic font-500"  icono_contenedor_c="ui-contenedor-icono align-middle p-1 bg-[--transparente-1] text-texto-sutil" icono_class="size-4" %}
                <div class="{{ c }}">
                  <dt class="{{ dtc }}">
                    <span class="{{ icono_contenedor_c }}">
                      <svg
                        class="{{ icono_class }}"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                      >
                        <path
                          d="M424 80H88a56.06 56.06 0 0 0-56 56v240a56.06 56.06 0 0 0 56 56h336a56.06 56.06 0 0 0 56-56V136a56.06 56.06 0 0 0-56-56Zm-14.18 92.63-144 112a16 16 0 0 1-19.64 0l-144-112a16 16 0 1 1 19.64-25.26L256 251.73l134.18-104.36a16 16 0 0 1 19.64 25.26Z"
                        ></path>
                      </svg>
                    </span>
                    Correo:
                  </dt>

                  {% if usuario.email %}
                    <a
                      class="underline text-sky-600"
                      href="mailto:{{ usuario.email }}"
                    >
                      {{ usuario.email }}
                    </a>
                  {% else %}
                    no tiene
                  {% endif %}
                </div>

                <div class="{{ c }}">
                  <dt class="{{ dtc }}">
                    <span class="{{ icono_contenedor_c }}">
                      {% include "componentes/iconos/fecha.html#creacion" with class=icono_class %}
                    </span>
                    Fecha de añadido:
                  </dt>
                  <dd>{{ usuario.date_joined|date:"d M. Y, h:i A" }}</dd>
                </div>
              {% endwith %}
            </dl>

            <div class="flex flex-wrap aic jb gap-x-2">
              {% with c="fc gap-x-2 p-1 px-4 rounded-full" %}
                {% with activo=usuario.is_active %}
                  <span
                    role="status"
                    class="{{ c }} {{ activo|yesno:'bg-exito-200 border-exito text-exito-900 , bg-peligro-200 border-peligro text-peligro-900 dark:bg-peligro-300' }}"
                  >
                    <span
                      class="size-3 rounded-full {{ activo|yesno:'bg-exito-400 ,bg-peligro-400' }}"
                    ></span>
                    {{ activo|yesno:'Activo,Inactivo' }}
                  </span>
                {% endwith %}

                <label
                  class="{{ c|add:' gap-x-2.5 border border-[--transparente-3] has-checked:bg-fondo-900 cursor-pointer select-none' }}"
                >
                  {% include "componentes/vista-lista/objeto-check.html" with objeto=usuario %}
                  #{% include "componentes/vista-lista/indice-objeto.html" %}
                </label>
              {% endwith %}
            </div>
          </div>
        </article>
      </li>
    {% endfor %}
  </ul>
{% endblock lista %}
