{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block titulo %}
  Notas del lapso {{ lapso.numero_lapso }} de {{ estudiante.apellidos }}
  {{ estudiante.nombres }}
{% endblock titulo %}

{% block cabeza %}
  <link
    rel="stylesheet"
    href="{% static 'css/notas/[seccion]_[estudiante]_[lapso].css' %}"
  />

  <link rel="stylesheet" href="{% static 'css/componentes/tabla.css' %}" />
  <link rel="stylesheet" href="{% static 'css/componentes/alerta.css' %}" />
  <link
    rel="stylesheet"
    href="{% static 'css/componentes/breadcrumbs.css' %}"
  />
{% endblock cabeza %}

{% block contenido %}
  <nav class="breadcrumbs">
    <ol>
      <li>
        <a href="{% url 'notas' %}">Notas</a>
      </li>
      <li>
        <a href="{% url 'notas__seccion_estudiantes' seccion.id %}">
          {{ seccion }}
        </a>
      </li>
      <li>
        <a
          href="{% url 'notas__seccion_estudiante_lapsos' seccion.id estudiante.cedula %}"
        >
          {{ estudiante.apellidos }} {{ estudiante.nombres }}
        </a>
      </li>
      <li>
        <a aria-current="page" href="">
          {{ lapso.nombre_lapso }} ({{ lapso.fecha_inicio|date:"Y-m-d" }} —
          {{ lapso.fecha_fin|date:"Y-m-d" }})
        </a>
      </li>
    </ol>
  </nav>

  {% if notas|length == 0 and request.method != 'POST' %}
    {% with mensaje_alerta="El estudiante no tiene notas en este lapso." %}
      {% include "componentes/alerta.html" %}
    {% endwith %}
  {% else %}
    <header class="flex">
      {% if promedio %}
        <h1>
          Promedio
          {% if materia_buscada is not none %}
            de {{ materia_buscada.nombre_materia }}:
          {% else %}
            total:
          {% endif %}
          {{ promedio }}
        </h1>
      {% endif %}

      <details class="menu" id="menu-filtros">
        <summary class="btn btn-md caja">
          Filtros
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="17"
            height="17"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-filter"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"
            />
          </svg>
        </summary>

        <form id="form-filtros" class="contenido" method="POST">
          {% csrf_token %}

          <div class="col" id="rango">
            <div class="filtro">
              {{ form.minimo.label_tag }}
              {% render_field form.minimo class="caja-input" step="0.1" %}
            </div>

            <div class="filtro">
              {{ form.maximo.label_tag }}
              {% render_field form.maximo class="caja-input" step="0.1" %}
            </div>

            <div class="filtro" id="materia-buscada">
              {{ form.materia_id.label_tag }}
              {% render_field form.materia_id class="caja-input" %}
            </div>
          </div>

          <button class="btn-primario btn-sm">Aplicar</button>
        </form>
      </details>
    </header>

    {% if notas|length == 0 %}
      {% with mensaje_alerta="No se encontraron notas con los filtros seleccionados." %}
        {% include "componentes/alerta.html" %}
      {% endwith %}
    {% else %}
      <div class="contenedor-tabla">
        <table>
          <thead>
            <tr>
              <th class="numeros">N°</th>
              {% if materia_buscada is none %}
                <th>Asignatura</th>
              {% endif %}
              <th class="numeros nota">Nota</th>
              <th class="numeros fecha">Fecha</th>
              <th>Comentarios</th>
            </tr>
          </thead>

          <tbody>
            {% for nota in notas %}
              <tr>
                <td class="numeros">{{ forloop.counter }}</td>
                {% if materia_buscada is none %}
                  <td>{{ nota.materia__nombre_materia }}</td>
                {% endif %}
                <td class="numeros">{{ nota.valor_nota }}</td>
                <td class="numeros">{{ nota.fecha_nota|date:"Y-m-d" }}</td>
                <td>{{ nota.comentarios|default:"" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endif %}
{% endblock contenido %}
