{% load widget_tweaks %}
{% load grupos_variantes %}
{% load utilidades %}
{% load sekizai_tags %}

{% addtoblock "cabeza" %}
<script>
  {# Para que se haga la petición por click en form de los filtros #}
  function verificarClickEnReiniciar() {
    return event.target !== event.currentTarget && event.target.closest('[data-btn-reiniciar]') instanceof HTMLButtonElement
  }
</script>
{% endaddtoblock %}

<header
  class="col gap-y-3"
  hx-target="#tabla-y-paginacion"
  hx-indicator="#indicador-busqueda"
  hx-include=".incluido-filtros"
>
  <form
    class="flex flex-wrap gap-2"
    hx-trigger="click[verificarClickEnReiniciar()], change delay:800ms"
    hx-post="{% url 'notas_tabla' %}"
  >
    {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
      {% include "componentes/combobox.html" with class="min-w-150px incluido-filtros" name=form.notas_materias.name label=form.notas_materias.label label_class="sr-only" prefijo=form.notas_materias.label|add:':' prefijo_class="text-texto-sutil" placeholder="cualquiera" opciones=form.notas_materias.field.choices|obtener_lista_opciones opciones_seleccionadas=form.notas_materias.field.initial valor_class="font-bold" btn_reiniciar=1 %}

      {% include "componentes/combobox.html" with class="min-w-150px incluido-filtros" name=form.notas_secciones.name label=form.notas_secciones.label label_class="sr-only" prefijo=form.notas_secciones.label|add:':' prefijo_class="text-texto-sutil" placeholder="cualquiera" opciones=form.notas_secciones.field.choices|obtener_lista_opciones opciones_seleccionadas=form.notas_secciones.field.initial valor_class="font-bold" btn_reiniciar=1 %}

      {% include "componentes/combobox.html" with class="min-w-150px incluido-filtros" name=form.notas_lapsos.name label=form.notas_lapsos.label label_class="sr-only" prefijo=form.notas_lapsos.label|add:':' prefijo_class="text-texto-sutil" placeholder="cualquiera" opciones=form.notas_lapsos.field.choices|obtener_lista_opciones opciones_seleccionadas=form.notas_lapsos.field.initial valor_class="font-bold" btn_reiniciar=1 %}
    {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
  </form>

  <div role="group" class="flex gap-x-1">
    <input
      id="q"
      name="q"
      class="flex-1 p-[.25rem_.75rem] rounded-campo elevado incluido-filtros"
      type="search"
      hx-post="{% url 'notas_tabla' %}"
      hx-trigger="input changed delay:600ms"
      placeholder="Buscar..."
    />

    <details
      class="menu z-4 [&_details[open]]:z-4 [&_label]:text-texto-sutil"
      id="busqueda-config"
    >
      <summary
        class="btn elevado h-full min-w-9"
        aria-label="configuración de búsqueda"
      >
        {% include "notas/iconos.html#config" %}
      </summary>

      <div
        class="{{ 'contenido-menu col gap-y-4 p-3 px-4 rounded-tr-0! top-108% right-0 [&_.contenido-menu]:(col gap-y-4) [&_.contenido-menu]:(right-50% top-8 rounded-tr-0) min-[450px]:[&_.contenido-menu]:(right-113% top-0)'|expandir_variantes }}"
      >
        <details
          name="config"
          class="menu submenu"
          hx-post="{% url 'notas_tabla' %}"
          {# se evita que se ejecute la request de "/notas_tabla" al cambiar los filtros específicos de búsqueda cuando el campo de búsqueda está vacío, ya que no tendría sentido, pues los resultados serían los mismos #}
          hx-trigger="change[$id('q').value.trim() !== ''] changed delay:600ms"
        >
          <summary class="flex aic gap-x-2">
            {% include "componentes/iconos/caret.html#izquierda" with class="size-5" %}
            Búsqueda
          </summary>

          <div class="contenido-menu p-4">
            <div class="col gap-y-1">
              {{ form.notas_tipo_busqueda.label_tag }}
              {% render_field form.notas_tipo_busqueda class="elevado-2 incluido-filtros" %}
            </div>

            <div class="col gap-y-1">
              {{ form.notas_columna_buscada.label_tag }}
              {% render_field form.notas_columna_buscada class="elevado-2 incluido-filtros" %}
            </div>
          </div>
        </details>

        <details
          name="config"
          class="menu submenu"
          hx-post="{% url 'notas_tabla' %}"
          hx-trigger="input changed delay:600ms"
        >
          <summary class="flex aic gap-x-2">
            {% include "componentes/iconos/caret.html#izquierda" with class="size-5" %}
            Valores de las notas
          </summary>

          <div
            class="contenido-menu p-4"
            hx-trigger="change changed"
            hx-include=".incluido-filtros"
            hx-post="{% url 'notas_tabla' %}"
            hx-indicator="#indicador-busqueda"
            hx-target="#tabla-y-paginacion"
            hx-swap="outerHTML"
          >
            <div class="flex gap-x-3 valor-nota">
              {{ form.notas_valor_minimo.label_tag }}
              {% render_field form.notas_valor_minimo class="elevado-2 py-0! incluido-filtros" style="width: 6ch;" %}
            </div>

            <div class="flex gap-x-3 valor-nota">
              {{ form.notas_valor_maximo.label_tag }}
              {% render_field form.notas_valor_maximo class="elevado-2 py-0! incluido-filtros" style="width: 6ch;" %}
            </div>
          </div>
        </details>

        <div class="flex gap-x-3 flex aic [&_label]:min-w-max">
          {{ form.notas_cantidad_paginas.label_tag }}
          {% with vals='{"solo_tabla": true}' %}
            {% render_field form.notas_cantidad_paginas class="elevado-2 incluido-filtros" style="max-width: 6ch;" hx-trigger="input changed delay:600ms" hx-post="/notas_tabla/" hx-vals=vals %}
          {% endwith %}
        </div>
      </div>
    </details>
  </div>
</header>
