{% load widget_tweaks %}
{% load grupos_variantes %}

<header
  class="flex gap-x-1 "
  hx-target="#tabla-y-paginacion"
  hx-indicator="#indicador-busqueda"
  hx-include=".incluido-filtros"
>
  <button
    class="btn elevado w-9 h-full min-[600px]:hidden"
    type="button"
    id="ver-filtros"
    @click="filtros_abiertos = !filtros_abiertos"
    aria-expanded="filtros_abiertos"
    aria-label="Ver filtros"
    aria-haspopup="menu"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
      <path d="M4 6l8 0" />
      <path d="M16 6l4 0" />
      <path d="M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
      <path d="M4 12l2 0" />
      <path d="M10 12l10 0" />
      <path d="M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
      <path d="M4 18l11 0" />
      <path d="M19 18l1 0" />
    </svg>
  </button>

  <details
    class="menu z-4 [&_details[open]]:z-4 w-9 h-full [&_label]:text-texto-sutil"
    id="busqueda-config"
  >
    <summary
      class="btn elevado w-9 h-full"
      aria-label="configuración de búsqueda"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
        />
        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
      </svg>
    </summary>

    <div
      class="{{ 'contenido-menu col gap-y-4 p-3 px-4 rounded-tl-0! top-108% [&_.contenido-menu]:(col gap-y-4) [&_.contenido-menu]:(left-8 top-8 rounded-tl-0) min-[700px]:[&_.contenido-menu]:(left-113% top-0)'|expandir_variantes }}"
    >
      <details
        name="config"
        class="menu submenu"
        hx-post="{% url 'notas_tabla' %}"
        {# se evita que se ejecute la request de "/notas_tabla" al cambiar los filtros específicos de búsqueda cuando el campo de búsqueda está vacío, ya que no tendría sentido, pues los resultados serían los mismos #}
        hx-trigger="change[$id('q').value.trim() !== ''] changed delay:600ms"
      >
        <summary class="flex aic justify-between">
          Búsqueda {% include "componentes/iconos/caret-r.html" %}
        </summary>

        <div class="contenido-menu p-4">
          <div class="col gap-y-3">
            {{ form.notas_tipo_busqueda.label_tag }}
            {% render_field form.notas_tipo_busqueda class="elevado-2 incluido-filtros" %}
          </div>

          <div class="col gap-y-3">
            {{ form.notas_columna_buscada.label_tag }}
            {% render_field form.notas_columna_buscada class="elevado-2 incluido-filtros" %}
          </div>
        </div>
      </details>

      <details
        name="config"
        class="menu submenu"
        hx-post="{% url 'notas_tabla' %}"
        hx-trigger="input changed delay:600ms"
      >
        <summary class="flex aic justify-between">
          Valores de las notas {% include "componentes/iconos/caret-r.html" %}
        </summary>

        <div
          class="contenido-menu p-4"
          hx-trigger="change changed"
          hx-include=".incluido-filtros"
          hx-post="{% url 'notas_tabla' %}"
          hx-indicator="#indicador-busqueda"
          hx-target="#tabla-y-paginacion"
        >
          <div class="flex gap-x-1 valor-nota">
            {{ form.notas_valor_minimo.label_tag }}
            {% render_field form.notas_valor_minimo class="elevado-2 py-0! incluido-filtros" style="width: 6ch;" %}
          </div>

          <div class="flex gap-x-1 valor-nota">
            {{ form.notas_valor_maximo.label_tag }}
            {% render_field form.notas_valor_maximo class="elevado-2 py-0! incluido-filtros" style="width: 6ch;" %}
          </div>
        </div>
      </details>

      <div class="flex gap-x-1 flex aic min-w-max">
        {{ form.notas_cantidad_paginas.label_tag }}
        {% with vals='{"solo_tabla": true}' %}
          {% render_field form.notas_cantidad_paginas class="elevado-2 incluido-filtros" style="max-width: 6ch;" hx-trigger="input changed delay:600ms" hx-post="/notas_tabla/" hx-vals=vals %}
        {% endwith %}
      </div>
    </div>
  </details>

  <input
    id="q"
    name="q"
    class="flex-1 p-[.25rem_.75rem] rounded-campo elevado incluido-filtros"
    type="search"
    hx-post="{% url 'notas_tabla' %}"
    hx-trigger="input changed delay:600ms"
    placeholder="Buscar..."
  />
</header>
