{# solo se reemplaza la tabla y la paginación al cambiar de página #}
{% if solo_tabla %}
  {% include "notas/tabla.html" %}
  {# al cargar la página por primera vez #}
{% else %}
  {% if notas.object_list.count < 1 %}
    <div role="alert" id="msg-vacio" class="mensaje-tabla caja">
      <span class="decoracion-circular">
        {% include "notas/iconos.html#sin_notas" %}
      </span>

      <hgroup>
        <h2>No se encontraron notas</h2>
        <p>Intenta cambiar los filtros o buscar algo distinto</p>
      </hgroup>
    </div>
  {% else %}
    {% include "notas/tabla.html" %}
  {% endif %}

  <span id="resultados-cantidad" hx-swap-oob="outerHTML:#resultados-cantidad">
    {{ notas.paginator.count }}
  </span>

  <span id="conjunto-cantidad" hx-swap-oob="outerHTML:#conjunto-cantidad">
    {{ total_conjunto }}
  </span>
{% endif %}
