{% comment %}
  solo reemplaza la tabla y la paginación al cambiar de página
{% endcomment %}
{% if solo_tabla %}
  {% include "notas/tabla.html" %}
  {% include "componentes/paginacion.html" with datos_paginados=notas hx_target="#tabla-y-paginacion" hx_include=".incluido-filtros" hx_post="/notas_tabla/" %}
{% else %}
  {% if notas.object_list.count < 1 %}
    <div role="alert" id="msg-vacio" class="mensaje-tabla caja">
      <span class="decoracion-circular">
        {% include "notas/iconos.html#sin_notas" %}
      </span>

      <hgroup>
        <h2>No se encontraron notas</h2>
        <p>Intenta cambiar los filtros o buscar algo distinto</p>
      </hgroup>
    </div>
  {% else %}
    {% include "notas/tabla.html" %}
    {% include "componentes/paginacion.html" with datos_paginados=notas hx_target="#tabla-y-paginacion" hx_include=".incluido-filtros" hx_post="/notas_tabla/" %}
  {% endif %}

  <span id="resultados-cantidad" hx-swap-oob="outerHTML:#resultados-cantidad">
    {{ notas.paginator.count }}
  </span>

  <span id="conjunto-cantidad" hx-swap-oob="outerHTML:#conjunto-cantidad">
    {{ total_conjunto }}
  </span>
{% endif %}
