{% load grupos_variantes %}

<div
  id="{{ id }}"
  role="status"
  class="{{ "ui-caja col flex-1 justify-between gap-y-2 p-2 px-3 min-w-100px max-w-50% min-[500px]:(min-w-125px max-w-200px) min-[600px]:(gap-y-1 px-5)"|expandir_variantes }}"
>
  <span class="flex jb aic gap-2 min-w-max text-sm">
    <div class="text-texto-sutil">{{ label }}</div>
    <span
      class="{{ "fc rounded size-6 p-1.25 bg-secundario-100 text-secundario dark:(bg-secundario-600 text-secundario-texto) min-[450px]:(size-7 p-1.5) sidebar_full:(size-8! p-1.75) "|expandir_variantes }}"
    >
      {% include "componentes/iconos/tabla.html#"|add:icono %}
    </span>
  </span>

  <b
    class="font-bold text-lg min-[450px]:text-xl min-[600px]:text-2xl"
    id="{{ dato_id }}"
  >
    {{ dato }}
  </b>
</div>
