{% extends "lista-objetos.html" %}
{% load static %}
{% load partials %}
{% load grupos_variantes %}

{% block cabeza %}
  {{ block.super }}
  {% include "componentes/combobox.html#scripts" %}
  {% include "lista-objetos.html#script_fn_verificar_click_reiniciar" %}
{% endblock cabeza %}

{% block contenido %}
  {%
    with
    main_class='col gap-y-6 flex-1 size-full supports-[not(height:1dvh)]:(max-h-[calc(100vh-var(--altura-header))] h-[calc(100vh-var(--altura-header))]) max-h-[calc(100dvh-var(--altura-header))] max-w-1000px h-[calc(100dvh-var(--altura-header))] mxa p-4 overflow-y-auto min-[700px]:p-6 min-[1000px]:p-8!'|expandir_variantes
  %}
    {{ block.super }}
  {% endwith %}
{% endblock contenido %}

{% block cabecera %}
  <div class="flex flex-wrap gap-2">
    {% include "notas/estado.html" with label="Totales" dato=view.total icono='total' %}
    {% include "notas/estado.html" with label="Filtradas" dato_id="filtrados-cantidad" dato=page_obj.paginator.count icono='conjunto' %}
  </div>
{% endblock cabecera %}

{% block sin_resultados %}
  {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
    <h2 class="font-bold text-xl">No se han añadido

      {% if not hay_matriculas %}
        matrículas</h2>
        <p class="text-texto-sutil">
          estas son necesarias para poder asignar notas
        </p>
      {% elif not hay_materias %}
        asignaturas</h2>
        <p class="text-texto-sutil">
          estas son necesarias para poder asignar notas
        </p>
        
      {% else %}
        notas</h2>
        <p class="text-texto-sutil">
          Parece que las actividades escolares no han iniciado
        </p>
      {% endif %}
  {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
{% endblock sin_resultados %}

{% partialdef tabla %}
  {% include "lista-objetos.html#tabla" %}
{% endpartialdef tabla %}

{% partialdef datos_td %}
  {% if clave == 'valor' %}
    {% with valor=dato|floatformat:"-1" %}
      {{ valor }}
    {% endwith %}
  {% elif 'fecha' in columna.clave %}
    {{ dato|date:"D. d M. Y, h:i A" }}
  {% else %}
    {{ dato }}
  {% endif %}
{% endpartialdef datos_td %}

{% partialdef filtros %}
  {% include "notas/cabecera-tabla.html#filtros" %}
{% endpartialdef filtros %}

{% partialdef menu_config %}
  {% include "notas/cabecera-tabla.html#config" %}
{% endpartialdef menu_config %}

{% partialdef acciones %}
{% endpartialdef acciones %}
