{% load utilidades_diccionario %}
{% comment %}
  <!-- prettier-ignore-start -->
    Cada grupo tiene una opción "todas" que indica que no hay preferencia, al
    seleccionarla, las demás opciones se deseleccionan. Para hacer esto, la opción
    "todas" envía su propia request con su valor vacío, y las demás envían una
    request compartida con la lista de valores. Así, se refleja la selección en la
    cookie
    
    Los parámetros son: 
    - campo: el campo del formulario 
    - cualquiera_label: texto para la opción de "no preferencia"
    - label: el texto a mostrar como título 
    - headers: los encabezados HTMX a incluir
  <!-- prettier-ignore-end -->
{% endcomment %}

<div class="lista" role="group" aria-labelledby="{{ campo.name }}_label">
  <header>
    <h2 id="{{ campo.name }}_label">{{ label }}</h2>
    <div role="group" class="scroll-btns">
      <button
        onclick="this.closest('.lista').scrollTo(0, 0)"
        type="button"
        aria-label="Ir al principio"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 10l0 10" />
          <path d="M12 10l4 4" />
          <path d="M12 10l-4 4" />
          <path d="M4 4l16 0" />
        </svg>
      </button>
      <button
        onclick="this.closest('.lista').scrollTo(0, this.closest('.lista').scrollHeight)"
        type="button"
        aria-label="Ir al final"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 20l16 0" />
          <path d="M12 14l0 -10" />
          <path d="M12 14l4 -4" />
          <path d="M12 14l-4 -4" />
        </svg>
      </button>
    </div>
  </header>

  <input
    class="sr-only ninguno"
    type="radio"
    name="{{ campo.name }}"
    id="{{ campo.name }}_0"
    value
    {% if campo.initial|length == 0 or campo.initial is none %}
      checked
    {% endif %}
  />
  <label for="{{ campo.name }}_0">{{ cualquiera_label|default:"Todos" }}</label>

  {% for valor, label in campo.field.choices %}
    <div>
      <input
        class="sr-only"
        type="checkbox"
        name="{{ campo.name }}"
        value="{{ valor }}"
        id="{{ campo.name }}_{{ forloop.counter }}"
        {% if valor == campo.initial or valor in campo.initial %}checked{% endif %}
      />
      <label for="{{ campo.name }}_{{ forloop.counter }}">{{ label }}</label>
    </div>
  {% endfor %}
</div>
