{% if notas|length > 0 %}
  <div class="contenedor-tabla">
    <table>
      <thead>
        <tr>
          <th class="numeros">Nota</th>
          <th>Fecha de asignación</th>
        </tr>
      </thead>

      <tbody>
        {% for nota in notas %}
          <tr>
            <td class="numeros">{{ nota.valor_nota }}</td>
            <td>{{ nota.fecha_nota }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p role="alert">
    El estudiante no tiene notas para esta materia en este lapso.
  </p>
{% endif %}
