{% load partials %}

{% with url_base="notas/tabla.html" %}
  {%
    include "componentes/tabla-adaptable.html" with
    cargada_por_htmx=1
    objetos=notas
    titulo_col_actual='nombre'
    url_parcial_td_contenido=url_base|add:"#datos_td"
    url_parcial_paginado=url_base|add:"#paginacion"
    tabla_contenedor_id="tabla-y-paginacion"
    contenedor_class="contenedor-tabla h-full max-h-full overflow-y-auto"
    class="tabla rounded-b-0! border-b-0! [&_tr:last-child>_td]:rounded-0! [&_tr:last-child>_td]:border-b-0"
  %}
{% endwith %}

{% partialdef datos_td %}
  {% if clave == 'valor' %}
    {% with valor=dato|floatformat:"-1" %}
      {% if dato < 10 %}
        0{{ valor }}
      {% else %}
        {{ valor }}
      {% endif %}
    {% endwith %}
  {% elif clave == 'fecha' %}
    {{ dato|date:"D. d M. Y, h:i A" }}
  {% else %}
    {{ dato }}
  {% endif %}
{% endpartialdef datos_td %}

{% partialdef paginacion %}
  {% include "componentes/paginacion.html" with datos_paginados=notas hx_target="#tabla-y-paginacion" hx_include=".incluido-filtros" hx_post="/notas_tabla/" %}
{% endpartialdef paginacion %}
