
{# etiqueta de estilos que crea los rangos de índices de las columnas para ocultarlas automáticamente según el actual y la cantidad de estas #}
<style hx-head="re-eval">
  @media only screen and (max-width: {{ ancho_cambio|default:"600"}}px) {
    th[data-i] {
      position: relative;
    }
    
    {# separador de las columnas fijas con la que se oculta #}
    .tabla th:nth-child({{ columnas_fijas }}),
    .tabla td:nth-child({{ columnas_fijas }}) {
      border-right: 1px solid var(--borde-caja);
    }
    
    {% for i in rango_columnas|make_list %}
      .tabla[data-i="{{ i }}"] th[data-i]:not([data-i="{{ i }}"]),
      .tabla[data-i="{{ i }}"] td[data-i]:not([data-i="{{ i }}"]) {
        display: none;
      }
    {% endfor %}
  }
  
  @media only screen and (min-width: {{ ancho_cambio|default:"600"}}px) {
    {# ya no tiene el cambiador de columnas, por lo que no se necesita que sea flex #}
    .tabla th > div {
      display: block;
    }
    
    #columna-cambiador {
      display: none;
    }
  }
</style>
