{% load partials %}
{% load utilidades %}
{% load grupos_variantes %}

<div class="sidebar:mt-5">
  <a class="group w-full" href="{% url 'perfil' %}">
    <figure
      class="{{
        '
          group/f relative flex aic gap-x-3 group-hover:bg-#fff2
          max-sidebar:(p-2 px-3 bg-#0002 group-hover:bg-#fff2)
          sidebar:max-sidebar_full:(jcc py-2)
          sidebar_full:(p-2 px-3 bg-#0002)
        '
        |reemplazar_espacios:" "|expandir_variantes
      }}"
    >
      {% with c="size-3rem sidebar:max-sidebar_full:size-2.5rem" %}
        <img
          id="foto-barra-lateral"
          {% if request.user.foto_perfil %}
            src="{{ request.user.miniatura_foto.url }}"
          {% else %}
            src=""
          {% endif %}
          class="peer {{ c }} aspect-square  aspect-square italic -indent-5 tac rounded-full object-cover outline-1 outline-#fff2 [&[src='']]:hidden"
          alt="foto del perfil"
        />
        {% include "componentes/iconos/sin-foto.html" with class=c|add:" min-w-max peer-not-[[src='']]:hidden" %}
      {% endwith %}

      <figcaption class="sidebar:max-sidebar_full:sr-only">
        <hgroup>
          <h2 class="font-bold">{{ request.user.username }}</h2>

          <p class="opacity-80 text-sm first-letter:lowercase">
            {% if request.user.is_superuser %}
              superusuario
            {% else %}
              {% with roles=request.user.grupos.all %}
                {% for rol in roles %}
                  {{ rol }}{% if not forloop.last %},{% endif %}
                  {% empty %}
                  sin grupos
                {% endfor %}
              {% endwith %}
            {% endif %}
          </p>
        </hgroup>
      </figcaption>
    </figure>
  </a>

  {% include "componentes/barra-lateral/link.html#enlace" with icono="logout" class=link_class href=logout_href label="Cerrar sesión" %}
</div>
