{% load static %}
{% load partials %}
{% load grupos_variantes %}
{% load sekizai_tags %}
{% load utilidades %}
{% url 'perfil' as perfil_href %}
{% url 'logout' as logout_href %}

<div
  class="{{
    '
      sticky top-0 z-5 col justify-start
      *:text-primario-texto *:w-full *:bg-primario
      sidebar:(flex-1 h-100dvh w-15 max-w-15)
      sidebar:*:border-r-2 sidebar:*:border-r-#fff4 dark:sidebar:*:border-r-#fff2
      sidebar_full:(w-250px max-w-250px)
    '
    |reemplazar_espacios:' '|expandir_variantes
  }}"
  x-data='{
    anchoMedia: window.matchMedia("(min-width: 800px)"),
    abiertoPorBtn: false,
    minimoAnchoCumplido: window.matchMedia("(min-width: 800px)").matches
  }'
  x-init='
    anchoMedia.addEventListener
      ? anchoMedia.addEventListener("change", (e) => (minimoAnchoCumplido = e.matches))
      : anchoMedia.addListener((e) => (minimoAnchoCumplido = e.matches))
  '
>
  <header
    class="{{
      '
        z-2 flex justify-between w-full h-[--altura-header] min-h-[--altura-header] px-4
        max-sidebar:shadow-[0_5px_24px_0_#00000026]
        sidebar:(flex-col gap-y-6 min-h-max p-4 border-b border-b-#fff2)
        max-sidebar_full:aic
        sidebar_full:(gap-y-3 p-3 px-2)
      '
      |reemplazar_espacios:' '|expandir_variantes
    }}"
  >
    <h1 class="sidebar_full:pl-2">
      <a class="flex aic gap-x-4 font-bold text-lg" href="{% url 'inicio' %}">
        <img
          class="size-6 min-w-max scale-120"
          src="{% static 'img/logo-sin-letras.png' %}"
          alt="logo"
        />
        <span class="sidebar:max-sidebar_full:sr-only">Liceo Mijaguas</span>
      </a>
    </h1>

    <div class="flex aic gap-x-4">
      {% include "componentes/barra-lateral/selector-tema.html" %}

      <button
        style="--h: 17px; --w: 25px;"
        class="{{ 'group relative h-[--h] w-[--w] rounded-campo transition-background-color ease-in-out sidebar:hidden [&>span]:(absolute left-0 block w-full h-10% opacity-100 bg-current rounded-20px transition-[transform,top,width,left] ease-in-out duration-250 origin-left-center)'|expandir_variantes }}"
        x-ref="btnNav"
        @click="abiertoPorBtn = !abiertoPorBtn"
        :aria-expanded="abiertoPorBtn"
        aria-haspopup="menu"
        aria-label="Abrir menú"
      >
        <span
          class="{{ 'top-0 group-aria-expanded:(rotate-45 left-16% -top-[1px] w-[calc(var(--w))])'|expandir_variantes }}"
        ></span>
        <span
          class="{{ 'top-50% group-aria-expanded:(w-0 opacity-0)'|expandir_variantes }}"
        ></span>
        <span
          class="{{ 'top-100% group-aria-expanded:(-rotate-45 left-16% -bottom-[1px] w-[calc(var(--w))])'|expandir_variantes }}"
        ></span>
      </button>
    </div>
  </header>

  <aside
    class="{{
      '
        z-2 left-0 bottom-0 col gap-4 flex-1 transition-[transform] ease-in-out overflow-y-auto
        max-sidebar:(
          fixed w-250px h-[calc(100%-var(--altura-header))] border-t border-#fff1 -aria-hidden:translate-x-100%
          aria-[hidden=false]:(
            translate-x-0 shadow-[-4px_5px_16px_#0003]
          )
        )
        sidebar:(flex-col gap-y-4 h-full max-h-full overflow-unset)
      '
      |reemplazar_espacios:' '|expandir_variantes
    }}"
    :aria-hidden="!abiertoPorBtn && !minimoAnchoCumplido"
    :inert="!abiertoPorBtn && !minimoAnchoCumplido"
    x-cloak="max-sidebar"
    @click.outside="if (!$refs.btnNav.contains($event.target)) abiertoPorBtn = false"
  >
    <div>
      {%
        with
        link_class="group relative flex items-center gap-x-3 min-w-max w-full p-[.75em_1rem] -outline-offset-3 transition-[background-color,color] ease-out not-[[aria-current=page]]:pover:bg-#fff2 [&>svg]:size-1.25em aria-expanded:bg-#fff2 [[aria-current=page],li:has([aria-current=page])_&]:(bg-primario-texto! text-primario-600! before:content-['']) sidebar:max-sidebar_full:jcc before:(absolute left-0 bg-current h-80% w-6px rounded-r-3)"|expandir_variantes
        label_class="sidebar:max-sidebar_full:(fc absolute top-0 bottom-0 left-full min-w-max p-[.25rem_.5rem] rounded-r-campo opacity-0 whitespace-nowrap text-primario-texto bg-primario transition-[opacity,box-shadow] shadow-[0_0_8px_#0003] pointer-events-none group-hover:opacity-100 group-focus:opacity-100)"|expandir_variantes
      %}
        {% include "componentes/barra-lateral/datos-usuario.html" %}
        <nav aria-orientation="vertical">
          <ul
            class="h-full empty:hidden max-sidebar:overflow-y-auto"
            x-init="
              {# solo el primer botón es enfocable con Tab #}
              $el.$$(`[x-ref='btn']`).forEach((btn,index) => index !== 0 && (btn.tabIndex = -1))
              
              {# se elimina la lista de enlaces si no hay enlaces (para no tener que validar en la plantilla cada permiso) #}
              $el.$$(`[x-ref='enlaces']`).forEach((lista) => lista.children.length < 1 && lista.parentElement.remove())

              {# se cambia el tabindex de cada enlace a -1, ya que solo se pueden enfocar con las flechas #}
              $el.$$(`[x-ref='enlaces'] a`).forEach((a,index) => a.tabIndex = -1)
            "
          >
            {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
              {% if request.user.is_authenticated %}
                {% with class="my-4" %}
                  {% partial hr %}
                {% endwith %}

                {% include "componentes/barra-lateral/links.html" %}
              {% endif %}
            {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
          </ul>
        </nav>
      {% endwith %}
    </div>
  </aside>

  <div
    :data-visible="abiertoPorBtn"
    aria-hidden="true"
    class="fixed z-1 left-0 right-0 top-0 bottom-0 z-4 bg-#0004 dark:bg-#0007 not-[[data-visible]]:hidden sidebar:hidden"
  ></div>
</div>

{% partialdef hr %}
  <hr class="{{ class|default:''|add:' h-1px border-#fff2' }}" />
{% endpartialdef hr %}
