{% load grupos_variantes %}
{% load utilidades %}
{% load partials %}
{% load utilidades %}
{% load sekizai_tags %}

{% for enlace in enlaces %}
  {% if enlace is not None %}
    {% if enlace.enlaces|length %}
      {% with enlace=enlace %}
        {% partial menu_enlaces %}
      {% endwith %}
    {% else %}
      {% include "componentes/barra-lateral/link.html" with class=link_class label=enlace.label icono=enlace.icono_nombre href=enlace.href %}
    {% endif %}
  {% endif %}
{% endfor %}

{% partialdef menu_enlaces %}
  <li
    class="relative"
    x-data="{ abierto: {{ abierto|default:'false' }} }"
    @mouseleave="abierto = false"
  >
    <button
      x-ref="btn"
      class="{{ link_class|default:''|add:' sidebar:max-sidebar_full:[&>span]:sr-only' }}"
      :aria-expanded="abierto"
      @mouseover="if (window.matchMedia('(hover: hover) and (pointer: fine)').matches) abierto = true"
      @click="abierto = !abierto"
      @keydown.left.prevent="abierto = false; $el.focus()"
      @keydown.right.prevent="abierto = true; $refs.enlaces.$('a').focus()"
      @keydown.esc="abierto = false"
      @keydown.up="{{
        "
          abierto = false;
          const prev = $el.parentElement.previousElementSibling || $el.parentElement.parentElement.$('li[\\@mouseleave]:last-of-type');

          if (prev && prev.$(`[x-ref='btn']`)) {
            const btn = prev.querySelector('button');
            btn.focus();
            $el.tabIndex = -1;
            btn.tabIndex = 0;
          }
        "|reemplazar_espacios
      }}"
      @keydown.down="{{
        '
          abierto = false;
          const next = $el.parentElement.nextElementSibling || $el.parentElement.parentElement.$("[\\@mouseleave]");

          if (next && next.$(`[x-ref="btn"]`)) {
            const btn = next.querySelector("button");
            btn.focus();
            $el.tabIndex = -1;
            btn.tabIndex = 0;
          }
        '|reemplazar_espacios
      }}"
    >
      {% include "componentes/iconos/nav.html#"|add:enlace.icono_nombre %}
      <span>{{ enlace.label }}</span>
    </button>

    <div
      class="{{
        "
          col min-w-max interpolate-keywords transition-discrete
          [&_svg]:size-4
          max-sidebar:(
            bg-#0002
            media-touch:supports-[interpolate-size:allow-keywords]:(
              data-[abierto=false]:flex! duration-200 data-[abierto=false]:h-0px data-[abierto=true]:h-max-content overflow-hidden
            )
          )
          sidebar:(absolute z-1 top-0 left-full data-[abierto=false]:hidden rounded-b bg-primario-500 duration-200 shadow-xl)
        "
        |reemplazar_espacios:' '|expandir_variantes
      }}"
      data-abierto="{{ abierto|default:'false' }}"
      :data-abierto="abierto ? 'true' : 'false'"
      x-show="abierto"
      x-ref="enlaces"
      x-cloak
      x-transition:enter="ease-out sidebar:delay-250"
      x-transition:enter-start="{{ 'sidebar:(opacity-0 -translate-x-2)'|expandir_variantes }}"
      x-transition:enter-end="{{ 'sidebar:(opacity-100 translate-x-0)'|expandir_variantes }}"
      x-transition:leave="ease-in"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="{{ 'sidebar:(ease-in duration-100 opacity-0 scale-97 translate-x-2)'|expandir_variantes }}"
      @mouseover="abierto = true"
      @mouseleave="abierto = false"
      @keydown.escape="abierto = false; $refs.btn.focus()"
      @keydown.left.prevent="{{
        '
          const el = document.activeElement;
          el.previousElementSibling
            ? el.previousElementSibling.focus()
            : $refs.enlaces.lastElementChild.focus()
        '
        |reemplazar_espacios
      }}"
      @keydown.tab="abierto = false"
      @keydown.right.prevent="{{
        '
          const el = document.activeElement;
          el.nextElementSibling
            ? el.nextElementSibling.focus()
            : $refs.enlaces.firstElementChild.focus()
        '
        |reemplazar_espacios
      }}"
    >
      {% for e in enlace.enlaces %}
        {% if e is not None %}
          <a
            href="{{ e.href|default:'#' }}"
            {% if request.path == e.href %}
              aria-current="page"
            {% endif %}
            class="{{
              "
                  flex aic gap-x-3 -outline-offset-3 font-500 transition-[background-color,color]
                  pover:not-[[aria-current=page]]:bg-#0002
                  aria-[current=page]:(bg-primario text-primario-texto)
                  [&>svg]:size-4
                  max-sidebar:(jb p-[.5rem_1rem] pl-8 text-sm)
                  sidebar:p-[.5rem_1rem]
                  sidebar:pover:not-[[aria-current=page]]:bg-#fff1
              "
              |reemplazar_espacios:' '|expandir_variantes
            }}"
          >
            {{ e.label }}
            <span
              class="fc size-7 aspect-square p-1 rounded-full bg-#fff2 sidebar:-order-1"
            >
              {% include "componentes/iconos/nav.html#"|add:e.icono_nombre %}
            </span>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </li>
{% endpartialdef menu_enlaces %}
