{% extends "objeto-form.html" %}
{% load partials %}
{% load static %}
{% load utilidades %}
{% load grupos_variantes %}

{% block cabeza %}
  {{ block.super }}
  {% include "componentes/combobox.html#scripts" %}
  {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
    <script>
      const opcionesEstudiantes = {{ form.estudiante|obtener_lista_opciones_json|safe }};
      const opcionesSecciones = {{form.seccion|obtener_lista_opciones_json|safe}}
    </script>
  {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
{% endblock cabeza %}

{% block contenido %}
  {{ block.super }}
{% endblock contenido %}

{% block campos %}
  <div
    class="{{ 'ui-elevado col gap-y-6 p-4 rounded-lg min-[600px]:(p-6 gap-y-8)'|expandir_variantes }}"
  >
    <div
      id="campos"
      class="{{ 'col gap-y-6 gap-x-10 min-[600px]:(grid grid-cols-2)'|expandir_variantes }}"
    >
      {% partialdef campos inline %}
        {% with btn_class="bg-fondo-700" caret_class="bg-fondo-900" %}
          {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
            {%
              include "componentes/combobox.html" with
              name=form.estudiante.name
              campo=form.estudiante
              opciones_por_script="opcionesEstudiantes"
              seleccionada=form.estudiante.value
              multiple=0
              busqueda_activa=1
              mostrar_cantidad=1
            %}
            
            {%
              include "componentes/combobox.html" with
              name=form.seccion.name
              campo=form.seccion
              opciones_por_script="opcionesSecciones"
              seleccionada=form.seccion.value
              multiple=0
              busqueda_activa=1
              mostrar_cantidad=1
            %}
            
            {% include "componentes/campo.html" with campo=form.estado input_class="deshabilitar-al-subir ui-elevado-2" %}
            
            {% include "componentes/campo.html" with campo=form.lapso input_class="deshabilitar-al-subir ui-elevado-2" %}
          {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
        {% endwith %}
      {% endpartialdef campos %}
    </div>

    <div
      role="note"
      {% with c="flex gap-x-2.5 py-2 px-3 rounded text-sm" %}
        {% if form.lapso_actual is None %}
          class="{{ c|add:' bg-peligro-200 dark:bg-peligro-400 text-peligro-900' }}"
        {% else %}
          class="{{ c|add:' bg-info-200 dark:bg-info-800' }}"
        {% endif %}
      {% endwith %}
    >
      <span
        class="fc size-6 p-1 aspect-square rounded-full bg-[--transparente-2]"
      >
        {% if form.lapso_actual is None %}
          {% include "componentes/iconos/mensajes.html#error" %}
        {% else %}
          {% include "componentes/iconos/mensajes.html#info" %}
        {% endif %}
      </span>

      <span class="mya">
        <b>Nota</b>:
        {% if form.lapso_actual is None %}
          no se encontró un lapso actual, no se pueden crear matrículas
        {% else %}
          {% if editando %}
            no se pueden modificar matrículas de lapsos anteriores
          {% else %}
            solo se pueden añadir matrículas en el lapso actual
          {% endif %}
        {% endif %}
      </span>
    </div>
  </div>
{% endblock campos %}
