{% extends "lista-objetos.html" %}
{% load static %}
{% load partials %}
{% load grupos_variantes %}
{% load widget_tweaks %}
{% load utilidades %}

{% block cabeza %}
  {{ block.super }}
  <script defer src="{% static 'js/componentes/combobox.js' %}"></script>
  {% include "lista-objetos.html#script_fn_verificar_click_reiniciar" %}
{% endblock cabeza %}

{% block contenido %}
  {%
    with
    main_class='col gap-y-3 flex-1 size-full supports-[not(height:1dvh)]:(max-h-[calc(100vh-var(--altura-header))] h-[calc(100vh-var(--altura-header))]) max-h-[calc(100dvh-var(--altura-header))] max-w-1000px h-[calc(100dvh-var(--altura-header))] mxa p-4 overflow-y-auto min-[700px]:p-6 min-[1000px]:p-8!'|expandir_variantes
    nombre_url_crear="crear_matricula"
  %}
    {{ block.super }}
  {% endwith %}
{% endblock contenido %}

{% block filtros %}
  <form
    class="flex flex-wrap gap-2"
    hx-trigger="click[verificarClickEnReiniciar()], change delay:800ms"
    hx-post
  >
    {% comment %}<!-- prettier-ignore-start -->{% endcomment %}
      {% with 
        class="min-[500px]:min-w-150px incluido-filtros"
        prefijo_class="text-texto-sutil"
        label_class="sr-only"
        valor_class="font-bold"
        placeholder="cualquiera"
        btn_class="max-[500px]:text-xs"
      %}
        {% include "componentes/combobox.html" with
          name=form_filtros.secciones.name
          label=form_filtros.secciones.label
          prefijo=form_filtros.secciones.label
          opciones=form_filtros.secciones|obtener_lista_opciones
          opciones_seleccionadas=form_filtros.secciones.value
          busqueda_activa=1
          mostrar_cantidad=1
        %}

        {% include "componentes/combobox.html" with
          name=form_filtros.lapsos.name
          label=form_filtros.lapsos.label
          prefijo=form_filtros.lapsos.label
          opciones=form_filtros.lapsos|obtener_lista_opciones
          opciones_seleccionadas=form_filtros.lapsos.value
          busqueda_activa=1
          mostrar_cantidad=1
        %}

        {% include "componentes/combobox.html" with
          name=form_filtros.estado.name
          label=form_filtros.estado.label
          prefijo=form_filtros.estado.label
          opciones=form_filtros.estado|obtener_lista_opciones
          multiple=0
          seleccionada=form_filtros.estado.value
        %}
      {% endwith %}
    {% comment %}<!-- prettier-ignore-end -->{% endcomment %}
  </form>

  <div x-data="{{ form_filtros.campos_contenedor_x_data }}">
    {{ block.super }}
  </div>
{% endblock filtros %}

{% block menu_config %}
  <div
    class="col gap-y-4"
    hx-post
    {# se evita que se ejecute la request de "/notas" al cambiar los filtros específicos de búsqueda cuando el campo de búsqueda está vacío, ya que no tendría sentido, pues los resultados serían los mismos #}
    hx-trigger="change[$id('q').value.trim() !== ''] changed delay:600ms"
  >
    <div class="col gap-y-1">
      {{ form_filtros.tipo_busqueda.label_tag }}
      {% render_field form_filtros.tipo_busqueda class="ui-elevado-2 incluido-filtros" %}
    </div>

    <div class="col gap-y-1">
      {{ form_filtros.columna_buscada.label_tag }}
      {% render_field form_filtros.columna_buscada class="ui-elevado-2 incluido-filtros" %}
    </div>
  </div>

  <div
    class="flex gap-x-3 flex aic [&_label]:min-w-max"
    hx-vals='{"solo_tabla": true}'
  >
    {{ form_filtros.cantidad_por_pagina.label_tag }}
    {% render_field form_filtros.cantidad_por_pagina class="ui-elevado-2 py-0! incluido-filtros" %}
  </div>
{% endblock menu_config %}
